<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

		<!-- Data Tables -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5.css" />
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5-custom.css" />
		<!-- Date Range CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.css">

		<!-- by developer -->
		<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
		<link rel="stylesheet" href="/xdm/v1/css/commonXdm.css">
		<style>
			


			/* .btn .bi{
				font-size: 1rem;
				vertical-align: baseline;
			}
			.table td{
          		text-align: center;
	
			}
			.table th{
				
				white-space: nowrap;
				text-align: center;
				padding-left: 20px;
			}
			.table tr>*{
				padding:1rem;
				vertical-align: middle;
			}
			.table th:not(.sorting_asc){
				padding: .5rem;
				padding-left: 20px;
			}
			.table th span{
				font-size: 0.85rem;
			}
			th>div{
				padding: .5rem;
				padding-right: 20px;
			}
			.scrolltable{
				overflow-x: auto;
			}
			.page-item .page-link{
				border: 0;
				padding:.6rem 1rem;
			}
			.page-item.disabled .page-link{
				border: 0;
				opacity: 0;
			}
			.page-item.active .page-link{
				border: 0;
			}
			.btn{
				width: 40px;
			}
			.page-item:not(:first-child,:last-child){
				margin: 0 5px;
			}
			.page-item a{
				border-radius: 10px;
				transition: 0.3s ease-in-out;
				opacity: 1;
			}
			.page-item.active a:hover{
				background-color: #3688fa;
				opacity: 1;
				color:#fff;
			}
			.page-item.active a{
				color:#fff;
			}
			.page-item:not(.active) a:hover{
				background-color: #3688fa;
				opacity: 0.5;
				color:#fff;
			} */
		</style>
	</head>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<div th:replace="~{xdm/v1/infra/include/head :: sidebar-wrapper}"></div>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="../../infra/index/indexXdmView">Home</a>
						</li>
						<li class="breadcrumb-item">Page2</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Data</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">

						<!-- Search container start -->
						<div class="search-container">

							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything">
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->

						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> new leads </div>
							<span class="lead-icon"><i
									class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
									class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/br.svg" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/us.svg" alt="Clean Admin Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/in.svg" alt="Google Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/gb.svg" alt="AI Admin Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/tr.svg" alt="Modern Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/ca.svg" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block" th:text="${session.sessNameXdm}"></span>
									<span class="avatar">
										<img src="/xdm/v1/template/arise-v1.0/assets/images/user.png" alt="Admin Templates">
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<button class="btn" type="button" id="logoutBtn">Logout</button>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->

					</div>
					<!-- Header actions ccontainer end -->

				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								<!-- Card start -->
								<div class="card border">
									<div class="card-header bg-light">
										<h2 class="card-title">
											Code Group
										</h2>
										<div>
											<form name class="row gx-3 align-items-center" method="post" autocomplete="off" action="/v1/infra/codegroup/codeGroupXdmList">
												<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
												<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
												<div class="row gy-3">
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually-hidden" for="selectDelNy">삭제검색</label>
														<select class="form-select" id="selectDelNy" name="sDelNy">
															<option value="" selected>삭제여부를 선택하세요</option>
															<option value="1" th:selected="${vo.sDelNy == 1}">Y</option>
															<option value="0" th:selected="${vo.sDelNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectUseNy">사용검색</label>
														<select class="form-select" id="selectUseNy" name="sUseNy">
															<option value="" selected>사용여부를 선택하세요</option>
															<option value="1" th:selected="${vo.sUseNy == 1}">Y</option>
															<option value="0" th:selected="${vo.sUseNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectDateType">검색날짜 종류</label>
														<select class="form-select" id="selectDateType" name="dateType">
															<option value="" selected>날짜종류 선택해주세요.</option>
															<option value="1" th:selected="${vo.dateType == 1}">등록일</option>
															<option value="2" th:selected="${vo.dateType == 2}">수정일</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateStart">시작일</label>
														<input type="text" class="form-control" id="inputDateStart" name="dateStart" th:value="${#strings.substring(vo.dateStart, 0, 10)}" placeholder="시작일을 선택해주세요" value="">
														<!-- <input type="date" class="form-control" id="inputDateStart" name="dateStart" placeholder="" value=""> -->
														<!-- <input type="text" class="form-control datepicker" id="inputDateStart" name="" placeholder="" value=""> -->
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateEnd">종료일</label>
														<input type="text" class="form-control" id="inputDateEnd" name="dateEnd" th:value="${#strings.substring(vo.dateEnd, 0, 10)}" placeholder="종료일을 선택해주세요" value="">
														<!-- <input type="text" class="form-control datepicker" id="inputDateEnd" name="" placeholder="" value=""> -->
													</div>
												</div>
												<div class="row gy-3 mt-0">
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectKeywordType">검색어 종류</label>
														<select class="form-select" id="selectKeywordType" name="keywordType">
															<option value="" selected>검색구분</option>
															<option value="1" th:selected="${vo.keywordType == 1}">코드번호</option>
															<option value="2" th:selected="${vo.keywordType == 2}">코드그룹이름</option>
															<!-- <option value="3">순서</option> -->
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputKeyword">검색어</label>
														<input type="text" class="form-control" id="inputKeyword" name="searchKeyword" th:value="${vo.searchKeyword}" placeholder="검색어">
													</div>
													<div class="col-12 col-lg-4 col-xl ">
														<button type="submit" class="btn btn-info "><i class="bi bi-search"></i></button>
														<button type="button" class="btn btn-info float-md-none float-end"><i class="bi bi-arrow-clockwise"></i></button>
													</div>
													<div class="col">      
													</div>
													<div class="col">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="card-body">
										<div class="row justify-content-between">
											<!-- <div class="col-6 col-lg-3">Total: <span th:text="${response.listCount}"></span></div> -->
											<div class="col-6 col-lg-3">Total: <span th:text="${vo.totalRows}"></span></div>
											<div class="col-4 col-xs-3 col-lg-2 dataTable-dropdown dataTables_length">
												<select class="dataTable-selector form-select" id="rowNumToShowSelect" name="rowNumToShow">
													<option value="2" th:selected="${vo.rowNumToShow == 2}">2</option>
													<option value="3" th:selected="${vo.rowNumToShow == 3}">3</option>
													<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
													<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
													<option value="20" th:selected="${vo.rowNumToShow == 20}">20</option>
													<option value="50" th:selected="${vo.rowNumToShow == 50}">50</option>
												</select>
												<!-- <form method="get" action="/v1/infra/codegroup/codeGroupXdmList" id="pagination-form">
													<select class="dataTable-selector form-select" id="listSize" name="size" onchange="updatePageSize()" >
													<select class="dataTable-selector form-select" id="pageSizeSelect" name="size">
														<option value="2" th:selected="${response.pageSize == 2}">2</option>
														<option value="3" th:selected="${response.pageSize == 3}">3</option>
														<option value="5" th:selected="${response.pageSize == 5}">5</option>
														<option value="10" th:selected="${response.pageSize == 10}">10</option>
														<option value="20" th:selected="${response.pageSize == 20}">20</option>
														<option value="50" th:selected="${response.pageSize == 50}">50</option>
													</select>
													<input type="hidden" name="page" id="pageNumber" value="1" />
												</form> -->
											</div>
										</div>
										<div class="scrolltable">
											<table class="table dataTable table-hover" id="">
												<thead>
													<tr>
														<th>
															<input type="checkbox">
														</th>
														<th><span>#</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">코드그룹 코드</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">코드그룹 이름</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">사용</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">삭제</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">순서</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">갯수</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">등록일</span></th>
														<th class="sorting sorting_asc"><span class="dataTable-sorter">수정일</span></th>
													</tr>
												</thead>
												<tbody>
													<tr th:if="${#lists.isEmpty(response)}" class="data_empty">
														<td colspan="10"><p>데이터가 없습니다.</p></td>
													</tr>
													<tr th:each="listG : ${response}" th:if="${!#lists.isEmpty(response)}">
														<td><input type="checkbox"></td>
														<td th:text="${vo.totalRows - (((vo.thisPage -1) * vo.rowNumToShow) +listGStat.index)}"></td>
														<td th:text="${listG.seq}"></td>
														<!-- <td class="td_spotlight">
															<a href="/v1/infra/codegroup/codeGroupXdmForm?seq=1" th:text="${listG.codeGroupName}"></a>
														</td> -->
														<td class="td_spotlight">
															<a th:href="@{/v1/infra/codegroup/codeGroupXdmMfom(seq=${listG.seq})}" th:text="${listG.codeGroupName}"></a>
														</td>
														<td th:if="${listG.useNy eq 0}">N</td>
														<td th:unless="${listG.useNy eq 0}">Y</td>
														<td th:if="${listG.delNy eq 0}">N</td>
														<td th:unless="${listG.delNy eq 0}">Y</td>
														<td th:text="${listG.groupOrder}"></td>
														<td th:text="${listG.codeCount}"></td>
														<td th:text="${#dates.format(listG.regDate,'yyyy-MM-dd HH:mm:ss')}"></td>
														<td th:text="${#dates.format(listG.modDate,'yyyy-MM-dd HH:mm:ss')}"></td>
													</tr>
												</tbody>
											</table>	
										</div>
										
										<div class="dataTable-bottom">
											<nav class="dataTable-pagination mt-5" aria-label="dataTable-pagination">
												<!-- paging s  -->
												<!-- <input type="hidden" name="thisPage" value="1" th:value="${vo.thisPage}">				 -->
												<!-- <div class="container-fluid px-0 mt-2 mb-2">
													<div class="row">
														<div class="col">
															<ul class="pagination justify-content-center mb-0">
																<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="bi bi-chevron-left"></i></a></li>
																<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a></li>
																<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="bi bi-chevron-right"></i></a></li>
															</ul>
														</div>
													</div>
												</div> -->
												<ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
													<li class="paginate_button page-item" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
														<a class="page-link" th:attr="onclick=|goList('1')|" href="javascript:goList(1)" th:if="${vo.thisPage > 1}">
															<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
														</a>
														<a class="page-link" th:if="${vo.thisPage <= 1}">
															<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
														</a>
													</li>
													<li class="paginate_button previous page-item" id="previousPage" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
														<a class="page-link" th:attr="onclick=|goList('${vo.thisPage - 1}')|" href="javascript:goList(${vo.thisPage - 1})" th:if="${vo.thisPage > 1}">
															<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
														</a>
														<a class="page-link" th:if="${vo.thisPage <= 1}">
															<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
														</a>
													</li>
													<li th:each="i : ${#numbers.sequence(
																		vo.thisPage == 1 ? 1 : 
																		vo.thisPage == 2 ? 1 : 
																		vo.thisPage == vo.totalPages - 1 ? vo.thisPage - 3 : 
																		vo.thisPage == vo.totalPages ? vo.thisPage - 4 : 
																		vo.thisPage - 2, 
																		
																		vo.thisPage == 1 ? 5 : 
																		vo.thisPage == 2 ? 5 : 
																		vo.thisPage == vo.totalPages - 1 ? vo.totalPages : 
																		vo.thisPage == vo.totalPages ? vo.totalPages : 
																		vo.thisPage + 2
																	)}"
														class="paginate_button page-item"
														th:if="${i > 0 && i <= vo.totalPages}" 
														th:classappend="${i == vo.thisPage} ? 'active' : ''">
														<a class="page-link" th:attr="onclick=|goList('${i}')|" th:text="${i}"></a>
													</li>
													<li class="paginate_button next page-item" id="nextPage" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
														<a class="page-link" th:attr="onclick=|goList('${vo.thisPage + 1}')|" href="javascript:goList(${vo.thisPage + 1})" th:if="${vo.thisPage < vo.totalPages}">
															<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
														</a>
														<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
															<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
														</a>
													</li>
													<li class="paginate_button page-item" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
														<a class="page-link" th:attr="onclick=|goList('${vo.totalPages}')|" href="javascript:goList(${vo.totalPages})" th:if="${vo.thisPage < vo.totalPages}">
															<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
														</a>
														<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
															<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
														</a>
													</li>
												</ul>
												<!-- paging e  -->	
											</nav>
										</div>
										<div class="btn-toolbar mt-5 justify-content-between">
											<div>
												<a href="javascript:void(0);" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
												<!-- <a href="javascript:void(0);" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></a> -->
												<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></button>
											</div>
											<div>
												<button type="button" class="btn btn-success"><i class="bi bi-file-earmark-excel"></i></button>
												<a href="codeGroupXdmForm" class="btn btn-info"><i class="bi bi-plus-lg"></i></a>
											</div>
										</div>
									</div>
								</div>
								<!-- Card end -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->
				<!-- modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">데이터 삭제</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<span>선택한 데이터를 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-success" data-bs-dismiss="modal">삭제 실행</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		
		<script type="text/javascript">
			
			// if ($.datetimepicker) {
                
            // } else {
            //     console.error("datetimepicker 라이브러리가 로드되지 않았습니다.");
            // }
			window.addEventListener('load',function() {
				$.datetimepicker.setLocale('ko');
				$("#inputDateStart,#inputDateEnd").datetimepicker({
					timepicker:false,
					format:'Y-m-d'
				});
				var form = document.querySelector("form");
				var pageSizeSelect = document.getElementById('rowNumToShowSelect');
				var rowNumToShow = document.querySelector("input[name=rowNumToShow]");
				var url = form.action;
				function updatePageSize() {
					if (form && pageSizeSelect) {
						// 선택된 pageSizes 값을 가져옵니다.
						var pageSizes = pageSizeSelect.value;
						rowNumToShow.value = pageSizes;
						form.action = url;
						form.submit();
					} else {
						console.error('Form or pageSizeSelect element not found.');
					}
				}

				console.log('value: ');
				
				if (pageSizeSelect) {
					pageSizeSelect.addEventListener('change', updatePageSize);
				}

				goList = function (thisPage) {
					console.log("값: "+thisPage);
					document.querySelector("input[name=thisPage]").value = thisPage;
					console.log("thisPage값: "+document.querySelector("input[name=thisPage]").value);
					form.action = url;
					form.submit();
				}
			});
			
			// // $('#date_timepicker_start').datetimepicker();
			// window.onload = function() {
				
				
			// 	//
			// 	// var paginationItems = document.querySelectorAll('.pagination .page-item');
			// 	// var maxPagesToShow = 5;
			// 	// var response.totalPages = parseInt(document.getElementById('response.totalPages').value); // 페이지 총 수를 가져옵니다.
			// 	// var response.currentPage = parseInt(document.getElementById('response.currentPage').value); // 현재 페이지를 가져옵니다.

			// 	// // 페이지 번호의 범위를 설정합니다.
			// 	// var startPage = Math.max(1, response.currentPage - Math.floor(maxPagesToShow / 2));
			// 	// var endPage = Math.min(response.totalPages, startPage + maxPagesToShow - 1);

			// 	// if (endPage - startPage + 1 < maxPagesToShow) {
			// 	// 	startPage = Math.max(1, endPage - maxPagesToShow + 1);
			// 	// }

			// 	// paginationItems.forEach(function(item) {
			// 	// 	var pageNum = parseInt(item.textContent);
			// 	// 	if (pageNum < startPage || pageNum > endPage) {
			// 	// 		item.style.display = 'none';
			// 	// 	} else {
			// 	// 		item.style.display = 'inline-block';
			// 	// 	}
			// 	// });
			// 	// 페이지네이션 항목들을 선택합니다.
			// 	// var paginationItems = document.querySelectorAll('.pagination .page-item');

			// 	// // 한 번에 보여줄 최대 페이지 그룹 크기 설정 (5개씩 표시)
			// 	// var maxPagesToShow = 5;

			// 	// // 페이지 총 수를 가져옵니다.
			// 	// var response.totalPages = parseInt(document.getElementById('response.totalPages').value);

			// 	// // 현재 페이지를 가져옵니다.
			// 	// var response.currentPage = parseInt(document.getElementById('response.currentPage').value);

			// 	// // 페이지 그룹의 시작 페이지 설정
			// 	// var startPage;
			// 	// var endPage;

			// 	// // 첫 번째 페이지인 경우: 1, 2, 3, 4, 5
			// 	// if (response.currentPage === 1) {
			// 	// 	startPage = 1;
			// 	// 	endPage = Math.min(maxPagesToShow, response.totalPages);
			// 	// }
			// 	// // 두 번째 페이지인 경우: 1, 2, 3, 4, 5
			// 	// else if (response.currentPage === 2) {
			// 	// 	startPage = 1;
			// 	// 	endPage = Math.min(maxPagesToShow, response.totalPages);
			// 	// }
			// 	// // 마지막 두 번째 페이지인 경우: 뒤쪽으로 3개, 앞쪽으로 1개 (response.totalPages-4부터 response.totalPages)
			// 	// else if (response.currentPage === response.totalPages - 1) {
			// 	// 	startPage = Math.max(response.totalPages - maxPagesToShow + 1, 1);
			// 	// 	endPage = response.totalPages;
			// 	// }
			// 	// // 마지막 페이지인 경우: 뒤쪽으로 4개 (response.totalPages-4부터 response.totalPages)
			// 	// else if (response.currentPage === response.totalPages) {
			// 	// 	startPage = Math.max(response.totalPages - maxPagesToShow + 1, 1);
			// 	// 	endPage = response.totalPages;
			// 	// }
			// 	// // 중간 페이지들: 기준에 따라 범위 설정
			// 	// else {
			// 	// 	// 현재 페이지를 중심으로 5개의 그룹을 보여줌
			// 	// 	startPage = Math.max(1, response.currentPage - Math.floor(maxPagesToShow / 2));
			// 	// 	endPage = Math.min(startPage + maxPagesToShow - 1, response.totalPages);

			// 	// 	// endPage - startPage가 5 미만인 경우를 처리하여 startPage 조정
			// 	// 	if (endPage - startPage + 1 < maxPagesToShow) {
			// 	// 		startPage = Math.max(1, endPage - maxPagesToShow + 1);
			// 	// 	}
			// 	// }

			// 	// 각 페이지네이션 항목에 대해 반복문을 실행합니다.
			// 	// paginationItems.forEach(function(item) {
			// 	// 	// 항목의 페이지 번호를 가져옵니다.
			// 	// 	var pageNum = parseInt(item.textContent);

			// 	// 	// 현재 페이지 번호가 현재 그룹의 시작과 끝 페이지 범위 안에 있는 경우 표시합니다.
			// 	// 	if (pageNum >= startPage && pageNum <= endPage) {
			// 	// 		item.style.display = 'inline-block';
			// 	// 	} else {
			// 	// 		// 범위를 벗어난 경우 항목을 숨깁니다.
			// 	// 		item.style.display = 'none';
			// 	// 	}
			// 	// });
				

			// };
		</script>
		<!-- <script>
			var response.currentPageIndex = 0; // 현재 페이지 번호 인덱스
			var pageItems = document.querySelectorAll('.page-item:not(#previousPage):not(#nextPage)');

			// 이전 페이지 링크 클릭 이벤트 처리
			document.getElementById('previousPage').addEventListener('click', function(event) {
				event.preventDefault(); // 기본 동작(링크 이동) 방지
				if (response.currentPageIndex > 0) {
				pageItems[response.currentPageIndex].classList.remove('active'); // 현재 활성화된 페이지 비활성화
				response.currentPageIndex--; // 이전 페이지 인덱스로 변경
				pageItems[response.currentPageIndex].classList.add('active'); // 이전 페이지 활성화
				}
				updatePaginationState(); // 페이지네이션 상태 업데이트
			});

			// 다음 페이지 링크 클릭 이벤트 처리
			document.getElementById('nextPage').addEventListener('click', function(event) {
				event.preventDefault(); // 기본 동작(링크 이동) 방지
				if (response.currentPageIndex < pageItems.length - 1) { // 마지막 페이지 미포함
				pageItems[response.currentPageIndex].classList.remove('active'); // 현재 활성화된 페이지 비활성화
				response.currentPageIndex++; // 다음 페이지 인덱스로 변경
				pageItems[response.currentPageIndex].classList.add('active'); // 다음 페이지 활성화
				}
				updatePaginationState(); // 페이지네이션 상태 업데이트
			});

			// 페이지 번호 링크 클릭 이벤트 처리
			pageItems.forEach(function(pageItem, index) {
				pageItem.addEventListener('click', function(event) {
				event.preventDefault(); // 기본 동작(링크 이동) 방지
				if (response.currentPageIndex !== index) { // 현재 페이지와 클릭한 페이지가 다를 때만 처리
					pageItems[response.currentPageIndex].classList.remove('active'); // 현재 활성화된 페이지 비활성화
					response.currentPageIndex = index; // 클릭한 페이지 인덱스로 변경
					pageItems[response.currentPageIndex].classList.add('active'); // 클릭한 페이지 활성화
					updatePaginationState(); // 페이지네이션 상태 업데이트
				}
				});
			});

			// 초기 페이지네이션 상태 업데이트
			updatePaginationState();

			// 페이지네이션 버튼 상태 업데이트 함수
			function updatePaginationState() {
				// 이전 버튼 상태 업데이트
				if (response.currentPageIndex === 0) {
				document.getElementById('previousPage').classList.add('disabled'); // 첫 번째 페이지에서는 이전 버튼 비활성화
				} else {
				document.getElementById('previousPage').classList.remove('disabled'); // 첫 번째 페이지가 아닌 경우 이전 버튼 활성화
				}

				// 다음 버튼 상태 업데이트
				if (response.currentPageIndex === pageItems.length - 1) {
				document.getElementById('nextPage').classList.add('disabled'); // 마지막 페이지에서는 다음 버튼 비활성화
				} else {
				document.getElementById('nextPage').classList.remove('disabled'); // 마지막 페이지가 아닌 경우 다음 버튼 활성화
				}
			}
		</script> -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<!-- <script src="/xdm/v1/jquery/jquery/jquery-3.7.1.min.js"></script> -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Data Tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>

		<!-- Custom Data tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/custom/custom-datatables.js"></script>

		<!-- Date Range JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/custom-daterange.js"></script>

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>

		<!-- by developer -->
		<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
		<script src="/xdm/v1/js/commonXdm.js"></script>
	</body>

</html>