<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->
		<!--<div style="background-color: red;"></div>-->
		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">
		<!-- by developer -->
		<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
		<link rel="stylesheet" href="/xdm/v1/css/commonXdm.css">
		<style>
			.form-label{
				margin-left: 10px;
			}
			.required .form-label::after{
				content: " *";
				color: red;
			}
			/* .card{
				border:1px;
			} */
		</style>
	</head>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<div th:replace="~{xdm/v1/infra/include/head :: sidebar-wrapper}"></div>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div th:replace="~{xdm/v1/infra/include/head :: page-header}"></div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<div class="page-title">
							<div>
								<div class="pb-4">
									<!-- Breadcrumb start -->
									<!-- <ol class="breadcrumb d-md-flex order-md-1 order-2">
										<li class="breadcrumb-item">
											<i class="bi bi-house"></i>
											<a href="../../infra/index/indexXdmView">Home</a>
										</li>
										<li class="breadcrumb-item">Page</li>
										<li class="breadcrumb-item breadcrumb-active" aria-current="page">Form</li>
									</ol> -->
									<!-- Breadcrumb end -->
								</div>
								<div class="pb-4">
									<h2>작가 수정</h2>
								</div>
							</div>
						</div>
						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">

								<!-- Card start -->
								<div class="card border">
									<div class="card-header border-bottom">
										<div class="card-title">기본정보</div>
									</div>
									<div class="card-body">
										<form name="form" method="post" autocomplete="off" enctype="multipart/form-data" action="/v1/mall/product/authorXdmUpdt" class="needs-validation"  novalidate>
											<!-- Row start -->
											<div class="row">
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputCodeNumber" class="form-label">코드</label>
														<input type="text" class="form-control" id="inputCodeNumber" name="seq" th:value="${item.seq}" placeholder="자동생성" readonly="readonly">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">	
													<label for="inputAuthorType" class="form-label">작가직업</label>
													<select class="form-select validate-this" id="inputAuthorType" name="authorType" required>
														<option value="" selected disabled>선택하세요</option>
														<option th:each="job : ${jobs}" th:value="${job.seq}" th:text="${job.codeName}" th:selected="${item.authorType.toString() == job.seq}"></option>
													</select>
													<div class="invalid-feedback">
														작가직업을 선택해주세요.
													</div>
												</div>
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputAuthorName" class="form-label">작가이름</label>
														<input type="text" class="form-control validate-this" id="inputAuthorName" name="name" th:value="${item.name}" placeholder="" required>
														<div class="invalid-feedback">
															작가이름을 적어주세요.
														</div>
													</div>
												</div>
												<div class="img_Area">
													<label for="inputAuthorInfo" class="form-label">작가이미지</label>
													<p th:if="${item.imgSrc == null}">이미지가 없습니다.</p>
													<div th:unless="${item.imgSrc == null}" class="img-box">
														<img th:src="${item.imgSrc}" alt="작가이미지">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xxl-9 col-12">
													<div class="mb-3">
														<label for="inputAuthorInfo" class="form-label">소개글</label>
														<textarea class="form-control exclude-validation" id="inputAuthorInfo" name="authorInfo" th:text="${item.authorInfo}" placeholder="상품에 대한 소개글을 적어주세요." rows="5"></textarea>
														<div class="invalid-feedback">
															소개글을 적어주세요.
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<label for="uploadFiles" class="form-label fs--1">file</label>
													<input type="file" id="uploadFiles" name="uploadFiles" multiple class="form-control"/>
													<div class="invalid-feedback" id="uploadFilesFeedback"></div>
												</div>
											</div>
											<!-- Row end -->
											<!-- Form actions footer start -->
											<div class="btn-toolbar mt-5 justify-content-between">
												<div>
													<a class="btn btn-outline-dark" type="button" href="authorXdmList"><i class="bi bi-list-ul"></i></a>
													<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></button>
													<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ueleteModal"><i class="bi bi-trash"></i></button>
												</div>
												<div>
													<button class="btn btn-info" type="submit"><i class="bi bi-database"></i></button>
												</div>
											</div>
											<!-- Form actions footer end -->
										</form>
									</div>
								</div>
								<!-- Card end -->

							</div>

						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->
				<!-- delete modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">데이터 완전 삭제</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-square	"></i></button>
							</div>
							<div class="modal-body">
								<span>데이터를 삭제후 <strong>복구할수 없습니다</strong>.</span><br>
								<span>그래도 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-red" data-bs-dismiss="modal">취소</button>
								<button type="button" id="deleteBtn" class="btn btn-success">삭제 실행</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="ueleteModal" tabindex="-1" aria-labelledby="ueleteModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="ueleteModalLabel">데이터 삭제</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-square"></i></button>
							</div>
							<div class="modal-body">
								<span>데이터를 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-red" data-bs-dismiss="modal">취소</button>
								<button type="button" id="ueleteBtn" class="btn btn-success">삭제 실행</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- <script>
			document.getElementById("deleteBtn").onclick = del;
			document.getElementById("ueleteBtn").onclick = uel;
			var form = document.querySelector("form[name=form]");
			var currentAction = form.action;
			var newAction = currentAction.slice(0, -4);
			function del() {
				form.action = newAction + 'Delt';	
				form.submit();
			}
			function uel() {
				form.action = newAction + 'Uelt';
				form.submit();
			}
		</script> -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/validations.js"></script>

		<!-- by developer -->
		<script src="/xdm/v1/js/commonXdm.js"></script>
	</body>

</html>