<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

		<!-- Data Tables -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5.css" />
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5-custom.css" />
		<!-- Date Range CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.css">
		<!-- by developer -->
		<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
		<link rel="stylesheet" href="/xdm/v1/css/commonXdm.css">
		<style>

		</style>
	</head>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<div th:replace="~{xdm/v1/infra/include/head :: sidebar-wrapper}"></div>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div th:replace="~{xdm/v1/infra/include/head :: page-header}"></div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								<!-- Card start -->
								<div class="card border">
									<form method="post" autocomplete="off" action="/v1/mall/product/freeGiftXdmList">
										<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
										<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
										<div class="card-header bg-light">
											<h2 class="card-title">
												사은품 리스트
											</h2>
											<div>
												<div class="row gy-3">
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually-hidden" for="selectUseNy">사용검색</label>
														<select class="form-select" id="selectUseNy" name="sUseNy">
															<option value="" selected>사용여부를 선택하세요</option>
															<option value="1" th:selected="${vo.sUseNy == 1}">Y</option>
															<option value="0" th:selected="${vo.sUseNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually-hidden" for="selectDelNy">삭제검색</label>
														<select class="form-select" id="selectDelNy" name="sDelNy">
															<option value="" selected>삭제여부를 선택하세요</option>
															<option value="1" th:selected="${vo.sDelNy == 1}">Y</option>
															<option value="0" th:selected="${vo.sDelNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectDateType">검색날짜 종류</label>
														<select class="form-select" id="selectDateType" name="dateType">
															<option value="" selected>날짜종류 선택해주세요.</option>
															<option value="1" th:selected="${vo.dateType == 1}">등록일</option>
															<option value="2" th:selected="${vo.dateType == 2}">수정일</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateStart">시작일</label>
														<input type="text" class="form-control" id="inputDateStart" name="dateStart" th:value="${vo.dateStart}" placeholder="시작일을 선택해주세요" value="">
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateEnd">종료일</label>
														<input type="text" class="form-control" id="inputDateEnd" name="dateEnd" th:value="${vo.dateEnd}" placeholder="종료일을 선택해주세요" value="">
													</div>
												</div>
												<div class="row gy-3 mt-0">
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectKeywordType">검색어 종류</label>
														<select class="form-select" id="selectKeywordType" name="keywordType">
															<option value="" selected>검색구분</option>
															<option value="1" th:selected="${vo.keywordType == 1}">사은품번호</option>
															<option value="2" th:selected="${vo.keywordType == 2}">사은품이름</option>
															<!-- <option value="3">작품이름</option> -->
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputKeyword">검색어</label>
														<input type="text" class="form-control" id="inputKeyword" name="searchKeyword" th:value="${vo.searchKeyword}" placeholder="검색어">
													</div>
													<div class="col-12 col-lg-4 col-xl ">
														<button type="submit" class="btn btn-info "><i class="bi bi-search"></i></button>
														<button type="button" class="btn btn-info float-md-none float-end"><i class="bi bi-arrow-clockwise"></i></button>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl"></div>
													<div class="col-12 col-md-6 col-lg-4 col-xl"></div>
												</div>
												<div class="row gy-3 mt-0">
													<h4>추가조건</h4>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually" for="selectStockQtyNy">재고유무</label>
														<select class="form-select" id="selectStockQtyNy" name="fgStockQtyNy">
															<option value="" selected>재고유무를 선택하세요</option>
															<option value="1" th:selected="${vo.fgStockQtyNy == 1}">Y</option>
															<option value="0" th:selected="${vo.fgStockQtyNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMinPrice">최소가격</label>
														<input type="text" class="form-control" id="inputMinPrice" name="minPrice" th:value="${vo.minPrice}" placeholder="숫자만 적어주세요" value="">
													</div>
													<!-- <span class="col-1 text-center"> ~ </span> -->
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMaxPrice">최대가격</label>
														<input type="text" class="form-control" id="inputMaxPrice" name="maxPrice" th:value="${vo.maxPrice}" placeholder="숫자만 적어주세요" value="">
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl"></div>
													<div class="col-12 col-md-6 col-lg-4 col-xl"></div>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="row justify-content-between">
												<div class="col-6 col-lg-3">Total: <span th:text="${totalRows}"></span></div>
												<div class="col-4 col-xs-3 col-lg-2 dataTable-dropdown dataTables_length">
													<select class="dataTable-selector form-select" id="rowNumToShowSelect" name="rowNumToShow">
														<option value="2" th:selected="${vo.rowNumToShow == 2}">2</option>
														<option value="3" th:selected="${vo.rowNumToShow == 3}">3</option>
														<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
														<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
														<option value="20" th:selected="${vo.rowNumToShow == 20}">20</option>
														<option value="50" th:selected="${vo.rowNumToShow == 50}">50</option>
													</select>
												</div>
											</div>
											<div class="scrolltable">
												<table class="table dataTable table-hover" id="">
													<thead>
														<tr>
															<th>
																<input type="checkbox">
															</th>
															<th><span>#</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">코드</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">사은품이름</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">사은품가격</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">재고량</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">사용</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">삭제</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">등록일</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">수정일</span></th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${#lists.isEmpty(list)}" class="data_empty">
															<td colspan="14"><p>데이터가 없습니다.</p></td>
														</tr>
														<tr th:each="list : ${list}" th:if="${!#lists.isEmpty(list)}">
															<td><input type="checkbox"></td>
															<td th:text="${vo.totalRows - (((vo.thisPage -1) * vo.rowNumToShow) + listStat.index)}"></td>
															<td th:text="${list.fgSeq}"></td>
															<td  class="td_spotlight">
																<a th:href="@{/v1/mall/product/freeGiftXdmMfom(fgSeq=${list.fgSeq})}" th:text="${list.fgName}"></a>
															</td>
															<td th:text="${list.fgPrice}"></td>
															<td th:text="${list.fgStockQty}"></td>
															<td th:if="${list.fgUseNy eq 0}">N</td>
															<td th:unless="${list.fgUseNy eq 0}">Y</td>	
															<td th:if="${list.fgDelNy eq 0}">N</td>
															<td th:unless="${list.fgDelNy eq 0}">Y</td>													
															<td th:text="${#dates.format(list.fgRegDate,'yyyy-MM-dd HH:mm:ss')}"></td>
															<td th:text="${#dates.format(list.fgModDate,'yyyy-MM-dd HH:mm:ss')}"></td>
														</tr>
													</tbody>
												</table>	
											</div>
											
											<div class="dataTable-bottom">
												<nav class="dataTable-pagination mt-5" aria-label="dataTable-pagination">
													<ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
														<li class="paginate_button page-item" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('1')|" href="javascript:goList(1)" th:if="${vo.thisPage > 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage <= 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
															</a>
														</li>
														<li class="paginate_button previous page-item" id="previousPage" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.thisPage - 1}')|" href="javascript:goList(${vo.thisPage - 1})" th:if="${vo.thisPage > 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage <= 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
															</a>
														</li>
														<li th:each="i : ${#numbers.sequence(
																			vo.thisPage == 1 ? 1 : 
																			vo.thisPage == 2 ? 1 : 
																			vo.thisPage == vo.totalPages - 1 ? vo.thisPage - 3 : 
																			vo.thisPage == vo.totalPages ? vo.thisPage - 4 : 
																			vo.thisPage - 2, 
																			
																			vo.thisPage == 1 ? 5 : 
																			vo.thisPage == 2 ? 5 : 
																			vo.thisPage == vo.totalPages - 1 ? vo.totalPages : 
																			vo.thisPage == vo.totalPages ? vo.totalPages : 
																			vo.thisPage + 2
																		)}"
															class="paginate_button page-item"
															th:if="${i > 0 && i <= vo.totalPages}" 
															th:classappend="${i == vo.thisPage} ? 'active' : ''">
															<a class="page-link" th:attr="onclick=|goList('${i}')|" th:text="${i}"></a>
														</li>
														<li class="paginate_button next page-item" id="nextPage" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.thisPage + 1}')|" href="javascript:goList(${vo.thisPage + 1})" th:if="${vo.thisPage < vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
															</a>
														</li>
														<li class="paginate_button page-item" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.totalPages}')|" href="javascript:goList(${vo.totalPages})" th:if="${vo.thisPage < vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
															</a>
														</li>
													</ul>
												</nav>
											</div>
											<div class="btn-toolbar mt-5 justify-content-between">
												<div>
													<a href="javascript:void(0);" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
													<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></button>
												</div>
												<div>
													<button type="button" class="btn btn-success"><i class="bi bi-file-earmark-excel"></i></button>
													<a href="freeGiftXdmForm" class="btn btn-info"><i class="bi bi-plus-lg"></i></a>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!-- Card end -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->
				<!-- modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">데이터 삭제</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<span>선택한 데이터를 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-red" data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-success" data-bs-dismiss="modal">삭제 실행</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<script>
			window.addEventListener('load',function() {
				$.datetimepicker.setLocale('ko');
				$("#inputDateStart,#inputDateEnd").datetimepicker({
					timepicker:false,
					format:'Y-m-d'
				});
				var form = document.querySelector("form");
				var pageSizeSelect = document.getElementById('rowNumToShowSelect');
				var rowNumToShow = document.querySelector("input[name=rowNumToShow]");
				var url = form.action;
				function updatePageSize() {
					if (form && pageSizeSelect) {
						// 선택된 pageSizes 값을 가져옵니다.
						var pageSizes = pageSizeSelect.value;
						rowNumToShow.value = pageSizes;
						form.action = url;
						form.submit();
					} else {
						console.error('Form or pageSizeSelect element not found.');
					}
				}
				
				if (pageSizeSelect) {
					pageSizeSelect.addEventListener('change', updatePageSize);
				}

				goList = function (thisPage) {
					console.log("값: "+thisPage);
					document.querySelector("input[name=thisPage]").value = thisPage;
					console.log("thisPage값: "+document.querySelector("input[name=thisPage]").value);
					form.action = url;
					form.submit();
				}
			});
		</script>
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Data Tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>

		<!-- Custom Data tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/custom/custom-datatables.js"></script>

		<!-- Date Range JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/custom-daterange.js"></script>

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>
		<!-- by developer -->
		<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
		<script src="/xdm/v1/js/commonXdm.js"></script>

	</body>

</html>