<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

		<!-- Data Tables -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5.css" />
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bs5-custom.css" />
		<!-- Date Range CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.css">
		<!-- by developer -->
		<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
		<link rel="stylesheet" href="/xdm/v1/css/commonXdm.css">
		<style>

		</style>
	</head>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<nav class="sidebar-wrapper">

				<!-- Sidebar brand starts -->
				<div class="sidebar-brand">
					<a href="../../infra/index/indexXdmView" class="logo">
						<img src="/xdm/v1/template/arise-v1.0/assets/images/logo.svg" alt="Admin Dashboards" />
					</a>
				</div>
				<!-- Sidebar brand starts -->

				<!-- Sidebar menu starts -->
				<div class="sidebar-menu">
					<div class="sidebarMenuScroll">
						<ul>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-house"></i>
									<span class="menu-text">Dashboards</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="../../infra/index/indexXdmView">Analytics</a>
										</li>
										<li>
											<a href="reports.html">Reports</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-handbag"></i>
									<span class="menu-text">Product</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="orders.html">Order History</a>
										</li>
										<li>
											<a href="products.html">Products</a>
										</li>
										<li>
											<a href="view-cart.html">Shopping Cart</a>
										</li>
										<li>
											<a href="checkout.html">Billing Details</a>
										</li>
										<li>
											<a href="customers.html">Customers</a>
										</li>
										<li>
											<a href="add-product.html">Add Product</a>
										</li>
										<li>
											<a href="reviews.html">Reviews</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-gem"></i>
									<span class="menu-text">Widgets</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="widgets.html">Widgets</a>
										</li>
										<li>
											<a href="graph-widgets.html">Graph Widgets</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-collection"></i>
									<span class="menu-text">UI Elements</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="accordions.html">Accordions</a>
										</li>
										<li>
											<a href="alerts.html">Alerts</a>
										</li>
										<li>
											<a href="buttons.html">Buttons</a>
										</li>
										<li>
											<a href="badges.html">Badges</a>
										</li>
										<li>
											<a href="cards.html">Cards</a>
										</li>
										<li>
											<a href="carousel.html">Carousel</a>
										</li>
										<li>
											<a href="dropdowns.html">Dropdowns</a>
										</li>
										<li>
											<a href="icons.html">Icons</a>
										</li>
										<li>
											<a href="modals.html">Modals</a>
										</li>
										<li>
											<a href="offcanvas.html">Off Canvas</a>
										</li>
										<li>
											<a href="progress.html">Progress Bars</a>
										</li>
										<li>
											<a href="spinners.html">Spinners</a>
										</li>
										<li>
											<a href="tabs.html">Tabs</a>
										</li>
										<li>
											<a href="tooltips.html">Tooltips</a>
										</li>
										<li>
											<a href="typography.html">Typography</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-stickies"></i>
									<span class="menu-text">Pages</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="profile.html">Profile</a>
										</li>
										<li>
											<a href="account-settings.html">Account Settings</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="calendar.html">
									<i class="bi bi-calendar4"></i>
									<span class="menu-text">Calendar</span>
								</a>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-columns-gap"></i>
									<span class="menu-text">Forms</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="form-inputs.html">Form Inputs</a>
										</li>
										<li>
											<a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
										</li>
										<li>
											<a href="form-file-input.html">File Input</a>
										</li>
										<li>
											<a href="form-validations.html">Validations</a>
										</li>
										<li>
											<a href="bs-select.html">Bootstrap Select</a>
										</li>
										<li>
											<a href="date-time-pickers.html">Date Time Pickers</a>
										</li>
										<li>
											<a href="input-mask.html">Input Masks</a>
										</li>
										<li>
											<a href="editor.html">Editor</a>
										</li>
										<li>
											<a href="form-layout1.html">Form Layout</a>
										</li>
										<li>
											<a href="form-layout2.html">Form Layout 2</a>
										</li>
										<li>
											<a href="form-layout3.html">Form Layout 3</a>
										</li>
										<li>
											<a href="form-layout4.html">Form Horizontal</a>
										</li>
										<li>
											<a href="form-layout5.html">Form Layout Tabs</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown active">
								<a href="#">
									<i class="bi bi-window-split"></i>
									<span class="menu-text">Tables</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="tables.html">Tables</a>
										</li>
										<li>
											<a href="data-tables.html" class="current-page">Data Tables</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-pie-chart"></i>
									<span class="menu-text">Graphs &amp; Maps</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="apex.html">Apex</a>
										</li>
										<li>
											<a href="morris.html">Morris</a>
										</li>
										<li>
											<a href="maps.html">Maps</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-layout-sidebar"></i>
									<span class="menu-text">Layouts</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="layout.html">Default Layout</a>
										</li>
										<li>
											<a href="layout-grid.html">Grid Layout</a>
										</li>
										<li>
											<a href="layout-welcome.html">Welcome Layout</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-x-diamond"></i>
									<span class="menu-text">Authentication</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="../member/loginXdm">Login</a>
										</li>
										<li>
											<a href="../member/signupXdm.html">Signup</a>
										</li>
										<li>
											<a href="error.html">Error</a>
										</li>
										<li>
											<a href="maintenance.html">Maintenance</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="starter-page.html">
									<i class="bi bi-hand-index-thumb"></i>
									<span class="menu-text">Link</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Sidebar menu ends -->

			</nav>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-md-flex d-none">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="../../infra/index/indexXdmView">Home</a>
						</li>
						<li class="breadcrumb-item">Page2</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Data</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">

						<!-- Search container start -->
						<div class="search-container">

							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search anything">
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->

						</div>
						<!-- Search container end -->

						<!-- Leads start -->
						<a href="orders.html" class="leads d-none d-xl-flex">
							<div class="lead-details">You have <span class="count"> 21 </span> new leads </div>
							<span class="lead-icon"><i
									class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
									class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
						</a>
						<!-- Leads end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/br.svg" class="flag-img" alt="Admin Panels" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/us.svg" alt="Clean Admin Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/in.svg" alt="Google Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/gb.svg" alt="AI Admin Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/tr.svg" alt="Modern Dashboards" />
										</a>
										<a href="../../infra/index/indexXdmView">
											<img src="/xdm/v1/template/arise-v1.0/assets/images/flags/1x1/ca.svg" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Abigale Heaney</span>
									<span class="avatar">
										<img src="/xdm/v1/template/arise-v1.0/assets/images/user.png" alt="Admin Templates">
										<span class="status online"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<button type="button" id="logoutBtn">Logout</button>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->

					</div>
					<!-- Header actions ccontainer end -->

				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">
								<!-- Card start -->
								<div class="card border">
									<form method="post" autocomplete="off" action="/v1/mall/product/productXdmList">
										<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
										<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
										<div class="card-header bg-light">
											<h2 class="card-title">
												상품리스트
											</h2>
											<div>
												<div class="row gy-3 mt-0">
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectBestNy">베스트여부</label>
														<select class="form-select" id="selectBestNy" name="bestNy">
															<option value="" selected>베스트여부를 선택하세요</option>
															<option value="1" th:selected="${vo.bestNy == 1}">Y</option>
															<option value="0" th:selected="${vo.bestNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectTodayPickNy">Today's pick</label>
														<select class="form-select" id="selectTodayPickNy" name="todayPickNy">
															<option value="" selected>Today's pick를 선택하세요</option>
															<option value="1" th:selected="${vo.todayPickNy == 1}">Y</option>
															<option value="0" th:selected="${vo.todayPickNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectDateType">검색날짜 종류</label>
														<select class="form-select" id="selectDateType" name="dateType">
															<option value="" selected>날짜종류 선택해주세요.</option>
															<option value="1" th:selected="${vo.dateType == 1}">등록일</option>
															<option value="2" th:selected="${vo.dateType == 2}">수정일</option>
															<option value="3" th:selected="${vo.dateType == 3}">출간일</option>
															<option value="4" th:selected="${vo.dateType == 4}">출고일</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateStart">시작일</label>
														<input type="text" class="form-control" id="inputDateStart" name="dateStart" th:value="${vo.dateStart}" placeholder="시작일을 선택해주세요" value="">
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputDateEnd">종료일</label>
														<input type="text" class="form-control" id="inputDateEnd" name="dateEnd" th:value="${vo.dateEnd}" placeholder="종료일을 선택해주세요" value="">
													</div>
												</div>
												
												<div class="row gy-3 mt-0">
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectProdType">상품종류</label>
														<select class="form-select" id="selectProdType" name="prodType">
															<option value="" selected>상품종류를 선택하세요</option>
															<!-- <option value="1">소설</option>
															<option value="2">시/에세이</option> -->
															<option th:each="group : ${groups}" th:value="${group.seq}" th:text="${group.codeName}" th:selected="${group.seq} == ${vo.prodType}"></option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually-hidden" for="selectDelNy">삭제검색</label>
														<select class="form-select" id="selectDelNy" name="sDelNy">
															<option value="" selected>삭제여부를 선택하세요</option>
															<option value="1" th:selected="${vo.sDelNy == 1}">Y</option>
															<option value="0" th:selected="${vo.sDelNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="selectKeywordType">검색어 종류</label>
														<select class="form-select" id="selectKeywordType" name="keywordType">
															<option value="" selected>검색구분</option>
															<option value="1" th:selected="${vo.keywordType == 1}">상품번호</option>
															<option value="2" th:selected="${vo.keywordType == 2}">상품이름</option>
															<option value="3" th:selected="${vo.keywordType == 3}">작가명</option>
															<option value="4" th:selected="${vo.keywordType == 4}">출판사명</option>
															<!-- <option value="3">리뷰점수</option> -->
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually-hidden" for="inputKeyword">검색어</label>
														<input type="text" class="form-control" id="inputKeyword" name="searchKeyword" th:value="${vo.searchKeyword}" placeholder="검색어">
													</div>
													<div class="col-12 col-lg-4 col-xl ">
														<button type="submit" class="btn btn-info "><i class="bi bi-search"></i></button>
														<button type="button" class="btn btn-info float-md-none float-end"><i class="bi bi-arrow-clockwise"></i></button>
													</div>
												</div>
												<div class="row gy-3 mt-0">
													<h4>추가조건</h4>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="selectMakeDate">출간일 조회 기간</label>
														<select class="form-select" id="selectMakeDate" name="makeDateFillter">
															<option value="" selected>조회 기간을 선택해주세요.</option>
															<option value="0" th:selected="${vo.makeDateFillter == 0}">전체</option>
															<option value="1" th:selected="${vo.makeDateFillter == 1}">1개월 이내</option>
															<option value="2" th:selected="${vo.makeDateFillter == 2}">3개월 이내</option>
															<option value="3" th:selected="${vo.makeDateFillter == 3}">6개월 이내</option>
															<option value="4" th:selected="${vo.makeDateFillter == 4}">1년 이내</option>
															<option value="5" th:selected="${vo.makeDateFillter == 5}">3년 이내</option>
															<option value="6" th:selected="${vo.makeDateFillter == 6}">그외</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMinPrice">최소가격</label>
														<input type="text" class="form-control" id="inputMinPrice" name="minPrice" th:value="${vo.minPrice}" placeholder="숫자만 적어주세요" value="">
													</div>
													<!-- <span class="col-1 text-center"> ~ </span> -->
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMaxPrice">최대가격</label>
														<input type="text" class="form-control" id="inputMaxPrice" name="maxPrice" th:value="${vo.maxPrice}" placeholder="숫자만 적어주세요" value="">
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMinReview">최소 리뷰점수</label>
														<input type="text" class="form-control" id="inputMinReview" name="minReview" th:value="${vo.minReview}" placeholder="소수점 첫째자리까지만" value="">
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl">
														<label class="visually" for="inputMaxReview">최소 리뷰점수</label>
														<input type="text" class="form-control" id="inputMaxReview" name="maxReview" th:value="${vo.maxReview}" placeholder="소수점 첫째자리까지만" value="">
													</div>
												</div>
												<div class="row gy-3 mt-0">
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually" for="selectStockQtyNy">재고유무</label>
														<select class="form-select" id="selectStockQtyNy" name="stockQtyNy">
															<option value="" selected>재고유무를 선택하세요</option>
															<option value="1" th:selected="${vo.stockQtyNy == 1}">Y</option>
															<option value="0" th:selected="${vo.stockQtyNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually" for="selectMdPickNy">MD Pick</label>
														<select class="form-select" id="selectMdPickNy" name="mdPickNy">
															<option value="" selected>MD Pick여부를 선택하세요</option>
															<option value="1" th:selected="${vo.mdPickNy == 1}">Y</option>
															<option value="0" th:selected="${vo.mdPickNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually" for="selectFreeShippingNy">무료배송</label>
														<select class="form-select" id="selectFreeShippingNy" name="freeShippingNy">
															<option value="" selected>무료배송여부를 선택하세요</option>
															<option value="1" th:selected="${vo.freeShippingNy == 1}">Y</option>
															<option value="0" th:selected="${vo.freeShippingNy == 0}">N</option>
														</select>
													</div>
													<div class="col-12 col-md-6 col-lg-4 col-xl ">
														<label class="visually" for="selectTaxDeductionNy">소득공제</label>
														<select class="form-select" id="selectTaxDeductionNy" name="taxDeductionNy">
															<option value="" selected>소득공제여부를 선택하세요</option>
															<option value="1" th:selected="${vo.taxDeductionNy == 1}">Y</option>
															<option value="0" th:selected="${vo.taxDeductionNy == 0}">N</option>
														</select>
													</div>
													<div class="col"></div>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="row justify-content-between">
												<div class="col-6 col-lg-3">Total: <span th:text="${vo.totalRows}"></span></div>
												<div class="col-4 col-xs-3 col-lg-2 dataTable-dropdown dataTables_length">
													<select class="dataTable-selector form-select" id="rowNumToShowSelect" name="rowNumToShow">
														<option value="2" th:selected="${vo.rowNumToShow == 2}">2</option>
														<option value="3" th:selected="${vo.rowNumToShow == 3}">3</option>
														<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
														<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
														<option value="20" th:selected="${vo.rowNumToShow == 20}">20</option>
														<option value="50" th:selected="${vo.rowNumToShow == 50}">50</option>
													</select>
												</div>
											</div>
											<div class="scrolltable">
												<table class="table dataTable table-hover" id="">
													<thead>
														<tr>
															<th>
																<input type="checkbox">
															</th>
															<th><span>#</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">코드</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">상품종류</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">상품이름</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">작가</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">출판사</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">출간일</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">원가</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">할인률</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">할인가</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">포인트</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">재고량</span></th>
													
															<th class="sorting sorting_asc"><span class="dataTable-sorter">리뷰점수</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">출고일</span></th>
															
															<th class="sorting sorting_asc"><span class="dataTable-sorter">조회수</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">구매수</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">베스트 여부</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">Today Pick 여부</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">MD Pick 여부</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">무료배송 여부</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">소득공제 여부</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">삭제</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">등록일</span></th>
															<th class="sorting sorting_asc"><span class="dataTable-sorter">수정일</span></th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${#lists.isEmpty(list)}" class="data_empty">
															<td colspan="14"><p>데이터가 없습니다.</p></td>
														</tr>
														<tr th:each="listP : ${list}" th:if="${!#lists.isEmpty(list)}">
															<td><input type="checkbox"></td>
															<td th:text="${vo.totalRows - (((vo.thisPage -1) * vo.rowNumToShow) +listPStat.index)}">171</td>
															<td th:text="${listP.seq}"></td>
															<td th:text="${listP.prodTypeName}"></td>
															<td  class="td_spotlight">
																<a th:href="@{/v1/mall/product/productXdmMfom(seq=${listP.seq})}" th:text="${listP.title}"></a>
															</td>
															<td th:text="${listP.authorCount > 1 ? listP.name+' 외 '+(listP.authorCount - 1)+'명':listP.name}"></td>
															<td th:text="${listP.publisherName}"></td>
															<td th:text="${#dates.format(listP.makeDate,'yyyy-MM-dd')}"></td>
															<td th:text="${#numbers.formatInteger(listP.price,3,'COMMA')+'원'}"></td>
															<td th:text="${listP.sale +'%'}"></td>
															<td th:text="${#numbers.formatInteger(listP.salePrice,3,'COMMA')+'원'}"></td>
															<td th:text="${#numbers.formatInteger(listP.point,3,'COMMA')+'P'}"></td>
															<td th:text="${#numbers.formatInteger(listP.stockQty,3,'COMMA')}"></td>
															<td th:text="${listP.reviewNum}"></td>
															<td th:text="${#dates.format(listP.shipDate, 'M/d') + '(' + #dates.format(listP.shipDate, 'E') + ')'}"></td>
															<td th:text="${listP.viewNumber}"></td>
															<td th:text="${listP.buyNumber}"></td>
															<td th:if="${listP.bestNy eq 0}">N</td>
															<td th:unless="${listP.bestNy eq 0}">Y</td>
															<td th:if="${listP.todayPickNy eq 0}">N</td>
															<td th:unless="${listP.todayPickNy eq 0}">Y</td>	
															<td th:if="${listP.mdPickNy eq 0}">N</td>
															<td th:unless="${listP.mdPickNy eq 0}">Y</td>
															<td th:if="${listP.freeShippingNy eq 0}">N</td>
															<td th:unless="${listP.freeShippingNy eq 0}">Y</td>
															<td th:if="${listP.taxDeductionNy eq 0}">N</td>
															<td th:unless="${listP.taxDeductionNy eq 0}">Y</td>
															<td th:if="${listP.delNy eq 0}">N</td>
															<td th:unless="${listP.delNy eq 0}">Y</td>												
															<td th:text="${#dates.format(listP.regDate,'yyyy-MM-dd HH:mm:ss')}"></td>
															<td th:text="${#dates.format(listP.modDate,'yyyy-MM-dd HH:mm:ss')}"></td>
														</tr>
													</tbody>
												</table>	
											</div>
											
											<div class="dataTable-bottom">
												<nav class="dataTable-pagination mt-5" aria-label="dataTable-pagination">
													<ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
														<li class="paginate_button page-item" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('1')|" href="javascript:goList(1)" th:if="${vo.thisPage > 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage <= 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
															</a>
														</li>
														<li class="paginate_button previous page-item" id="previousPage" th:classappend="${vo.thisPage > 1} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.thisPage - 1}')|" href="javascript:goList(${vo.thisPage - 1})" th:if="${vo.thisPage > 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage <= 1}">
																<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
															</a>
														</li>
														<li th:each="i : ${#numbers.sequence(
																			vo.thisPage == 1 ? 1 : 
																			vo.thisPage == 2 ? 1 : 
																			vo.thisPage == vo.totalPages - 1 ? vo.thisPage - 3 : 
																			vo.thisPage == vo.totalPages ? vo.thisPage - 4 : 
																			vo.thisPage - 2, 
																			
																			vo.thisPage == 1 ? 5 : 
																			vo.thisPage == 2 ? 5 : 
																			vo.thisPage == vo.totalPages - 1 ? vo.totalPages : 
																			vo.thisPage == vo.totalPages ? vo.totalPages : 
																			vo.thisPage + 2
																		)}"
															class="paginate_button page-item"
															th:if="${i > 0 && i <= vo.totalPages}" 
															th:classappend="${i == vo.thisPage} ? 'active' : ''">
															<a class="page-link" th:attr="onclick=|goList('${i}')|" th:text="${i}"></a>
														</li>
														<li class="paginate_button next page-item" id="nextPage" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.thisPage + 1}')|" href="javascript:goList(${vo.thisPage + 1})" th:if="${vo.thisPage < vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
															</a>
														</li>
														<li class="paginate_button page-item" th:classappend="${vo.thisPage < vo.totalPages} ? '' : 'disabled'">
															<a class="page-link" th:attr="onclick=|goList('${vo.totalPages}')|" href="javascript:goList(${vo.totalPages})" th:if="${vo.thisPage < vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
															</a>
															<a class="page-link" th:if="${vo.thisPage >= vo.totalPages}">
																<span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
															</a>
														</li>
													</ul>
													<!-- <ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
														
														<li class="page-item"><a class="page-link" href="#">
																<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
															</a></li>
														<li class="page-item"><a class="page-link" href="#">1</a></li>
														<li class="page-item active"><a class="page-link" href="#">2</a></li>
														<li class="page-item"><a class="page-link" href="#">3</a></li>
														<li class="page-item"><a class="page-link" href="#">
																<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
															</a></li>
													</ul> -->
												</nav>
											</div>
											<div class="btn-toolbar mt-5 justify-content-between">
												<div>
													<a href="javascript:void(0);" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
													<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></button>
												</div>
												<div>
													<button type="button" class="btn btn-success"><i class="bi bi-file-earmark-excel"></i></button>
													<a href="productXdmForm" class="btn btn-info"><i class="bi bi-plus-lg"></i></a>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!-- Card end -->
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->
				<!-- modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">데이터 삭제</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<span>선택한 데이터를 삭제하시겠습니까?</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-success" data-bs-dismiss="modal">삭제 실행</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<script>
			window.addEventListener('load',function() {
				$.datetimepicker.setLocale('ko');
				$("#inputDateStart,#inputDateEnd").datetimepicker({
					timepicker:false,
					format:'Y-m-d'
				});
				var form = document.querySelector("form");
				var pageSizeSelect = document.getElementById('rowNumToShowSelect');
				var rowNumToShow = document.querySelector("input[name=rowNumToShow]");
				var url = form.action;
				function updatePageSize() {
					if (form && pageSizeSelect) {
						// 선택된 pageSizes 값을 가져옵니다.
						var pageSizes = pageSizeSelect.value;
						rowNumToShow.value = pageSizes;
						form.action = url;
						form.submit();
					} else {
						console.error('Form or pageSizeSelect element not found.');
					}
				}
				
				if (pageSizeSelect) {
					pageSizeSelect.addEventListener('change', updatePageSize);
				}

				goList = function (thisPage) {
					console.log("값: "+thisPage);
					document.querySelector("input[name=thisPage]").value = thisPage;
					console.log("thisPage값: "+document.querySelector("input[name=thisPage]").value);
					form.action = url;
					form.submit();
				}
			});
		</script>
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Data Tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>

		<!-- Custom Data tables -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/datatables/custom/custom-datatables.js"></script>

		<!-- Date Range JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/daterange.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/daterange/custom-daterange.js"></script>

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>

		<!-- by developer -->
		<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
		<script src="/xdm/v1/js/commonXdm.js"></script>
	</body>

</html>