/*xdm용*/
/*로그인*/
.login-box .login-form .login-form-actions{
    justify-content: space-between;
    flex-wrap: nowrap;
}
.login-box .login-form .btn{
    width: 100%;
    padding: 5px 15px 5px 3px;
}
.login-box .login-form .btn img.login-icon{
    margin-right: 10px;
}
#kakaoLoginBtn{
    background-color: rgba(254, 229, 0,0.5);
}
/*페이징관련*/
.page-item .page-link {
    cursor: pointer;
}

/*작가리스트관련*/
.authorList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.authorTag{
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #c3cbd6;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: all .5s ease;
    cursor: pointer;
}
.authorTag:hover{
    background-color: #000;
    border-color: #000;
    color:#fff;
}
.authorTag:after{
    content: "✕";
    margin-left: 5px;
    vertical-align: text-bottom;
}