<th:block th:fragment="header">	
	<header>
        <div class="navbar_pc">
            <div class="customer_service_area">
                <div class="customer_service_inner_area d-flex justify-content-end">
                    <div class="customer_service_box d-flex  align-items-center">
                        <ul class="d-flex gap-3">
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="signup">회원가입</a>
                            </li>
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="login">로그인</a>
                            </li>
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <a th:href="@{user_order_list(seq=${session.sessSeqXdm})}">주문배송</a>
                            </li>
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <a href="javascript:void(0);" class="logoutBtn">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scrolltable">
                <div class="gnb_search d-flex justify-content-between gap-2">
                    <div class="search_wrapper d-flex align-items-center  gap-3">
                        <div class="logo" onclick="window.location.href='index'">
                            <img src="./usr/v1/assets/images/logo_book.svg" alt="">
                        </div>
                        <div class="search_area">
                            <form id="total_search_form" method="post" action="product_list">
                                <div class="search_box d-flex align-items-center gap-3">
                                    <!-- <select name="keywordType" id="keywordType" class="form-select">
                                        <option value="" th:selected="${shVo.keywordType == ''}">통합검색</option>
                                        <option value="2" th:selected="${shVo.keywordType == 2}">제목</option>
                                        <option value="3" th:selected="${shVo.keywordType == 3}">작가</option>
                                        <option value="4" th:selected="${shVo.keywordType == 4}">출판사</option>
                                    </select> -->
                                    <input type="text" class="input-search" name="searchKeyword" th:value="${shVo.searchKeyword}">
                                    <button id="total_search_btn" class="search_btn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="user_box">
                        <a class="user_my" href="user_account">
                            <span class="user-name" th:if="${session != null and session.sessNameXdm != null}" id="userName" th:text="${session.sessNameXdm + ' 님' }"></span>
                            <input type="hidden" th:if="${session != null and session.sessNameXdm != null}" id="userSeq" name="seq" th:value="${session.sessSeqXdm}">
                            <input type="hidden" th:if="${session != null and session.sessNameXdm != null}" id="userId" name="userId" th:value="${session.sessIdXdm}">
                            <span class="usr-imgbox">
                                <img src="./usr/v1/assets/images/btn_header_my@2x.png" alt="">
                            </span>
                        </a>
                    </div>
                </div>
                <nav class="gnb_list d-flex align-items-center gap-4">
                    <div class="gnb_wrapper d-flex align-items-center gap-5">
                        <button class="circle_btn"><i class="fa-solid fa-bars"></i></button>
                        <div class="anb_wrapper">
                            <div class="anb_wrapper_area">
                                <div class="anb_wrapper_list">
                                    <h5 class="anb_category">국내도서</h5>
                                    <ul>
                                        <li onclick="window.location.href='product_list?prodType=33'">국내도서 - 소설</li>
                                        <li onclick="window.location.href='product_list?prodType=34'">국내도서 - 시/에세이</li>
                                        <!-- <li onclick="window.location.href='product_detail?seq=1'">도서 상세보기</li>
                                        <li onclick="window.location.href='product_buy?seq=1'">도서 구매</li> -->
                                    </ul>
                                </div>
                                <div class="anb_wrapper_list">
                                    <h5 class="anb_category">회원정보</h5>
                                    <ul>
                                        <li onclick="window.location.href='user_order_list?seq=1'">주문/배송목록</li>
                                        <li onclick="window.location.href='user_delivery_address'">배송주소록</li>
                                        <li onclick="window.location.href='user_delivery_address_add'">배송지추가</li>
                                        <li onclick="window.location.href='user_account'">회원정보 변경</li>
                                        <li onclick="window.location.href='user_password'">비밀번호 변경</li>
                                    </ul>
                                </div>
                                <div class="anb_wrapper_list">
                                    <h5 class="anb_category">유튜브 API</h5>
                                    <ul>
                                        <li onclick="window.location.href='book_review_video_list'">도서서평</li>
                                        <li onclick="window.location.href='channels_video_list'">서평채널</li>
                                    </ul>
                                </div>
                                <!-- <div class="anb_wrapper_list">
                                    <h5 class="anb_category">그외 기타</h5>
                                    <ul>
                                        <li onclick="window.location.href='login'">로그인</li>
                                        <li onclick="window.location.href='signup'">회원가입</li>
                                        <li onclick="window.location.href='account_recovery'">비밀번호 찾기</li>
                                        <li onclick="window.location.href='account_recovery'">아이디 찾기</li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <ul class="gnb_link">
                        <li onclick="window.location.href='product_list?prodType=33'">소설</li>
                        <li onclick="window.location.href='product_list?prodType=34'">시/에세이</li>
                        <li onclick="window.location.href='book_review_video_list'">도서서평</li>
                        <li onclick="window.location.href='channels_video_list'">서평채널</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</th:block>