<th:block th:fragment="user-header">
    <div class="user_header_area">
        <div class="user_header_box">
            <div class="img-box">
                <img src="/usr/v1/assets/images/img_no_profile@2x.png" alt="">
            </div>
            <p class="user_name"><span th:text="${session.sessNameXdm}"></span>님</p>
        </div>
    </div>
</th:block>
<th:block th:fragment="user-aside">
    <div class="aside_box">
        <ul class="d-flex flex-column">
            <!-- <li onclick="window.location.href='user_account?seq=1'">▶ 유저룸</li> -->
            <!-- <li onclick="window.location.href='user_order_list'">주문 / 배송목록</li>
            <li onclick="window.location.href='user_delivery_address'">배송주소록</li>
            <li onclick="window.location.href='user_account'">회원정보 수정</a></li>
            <li class="active"><a th:href="@{user_password(seq=${session.sessSeqXdm})}">비밀번호 변경</a></li>
            <li class="logoutBtn">로그아웃</li> -->
            <li onclick="window.location.href='user_order_list'" 
                th:class="${userPage == 'orderList'} ? 'active'"><span>주문 / 배송목록</span></li>
            <li onclick="window.location.href='user_delivery_address'" 
                th:class="${userPage == 'deliveryAddress'} ? 'active'"><span>배송주소록</span></li>
            <li onclick="window.location.href='user_account'" 
                th:class="${userPage == 'account'} ? 'active'"><span>회원정보 수정</span></li>
            <li th:if="${session.kakoLogin == null}" onclick="window.location.href='user_password'" 
                th:class="${userPage == 'passwordChange'} ? 'active'"><span>비밀번호 변경</span></li>
            <li class="logoutBtn"><span>로그아웃</span></li>
        </ul>
    </div>
</th:block>
