.def_ship_addr_box{
    border-radius:  20px;
    background-color: #f3f3f3;
    padding:30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.def_ship_addr,.ship_addr{
     display: flex;
     flex-direction: column;
     gap: 15px;
}
.content_top>ul li{
    list-style-type: disc;
    list-style-position: inside;
    color: #777;
    line-height: 25px;
}


.address_list_box_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.address_list_box_top .address_count{
    font-weight: bolder;
}
.address_list_box_top div span{
    font-size: 14px;
    margin-right: 20px;
    
}
.address_list_box_top div span::before{
    content: "* ";
}


.address_list{
    width: 100%;
    border-top:1px solid #555 ;
    margin-bottom: 50px;
}



.address_list tr{
    border-bottom: 1px solid #ddd;
    
}
.address_list tr td {
    vertical-align: middle;
}

.address_name ,.rec_name,.rec_phone{
    font-weight: bolder;
}
.rec_name,.rec_phone,.ship_address_box{
    font-size: 14px;
}
.ship_address_box{
    color:#555;
}
.form-check-input{
    width: 25px;
    height: 25px;
    border-color: #aaa;
    cursor: pointer;
}