.content_title_box div p{
    font-size: 13px;
}
.content_title_box div p::before{
    content:"* ";
}

.order_list_view{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px 30px;
}
.order_list_view div{
    width: 100%;
}
.order_list_view div:not(:last-child){
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #ccc;
}
.order_list_view p{
    line-height: 30px;
    font-size: 14px;
}
.order_list_view p:first-child{
    font-weight: bolder;
    font-size: 18px;
}

.order_list_box table{
    width: 100%;
    border-top: 2px solid #777;
}

tr.order_head{
    border-bottom: 1px solid #ccc;
}
.order_head th{
    padding: 20px;
    padding-top: 20px !important;
}

.order_list_box th span:nth-child(2){
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
}
.order_list_box th span:nth-child(2)::after{
    content: " 〉";
}
.order_list_box tr td{
    align-content: center;
}
.order_list_box tr td:first-child{
    width: 120px;
}
.order_list_box tr td:nth-child(2) *{
    line-height: 30px;
}
.prod_title_box>*{
    font-size: 15px;
    font-weight: bolder;
}
.order_list_box tr td:nth-child(4),.order_list_box tr td:nth-child(3){
    text-align: center;
}
.order_list_box tr td *{
    font-size: 14px;
    line-height: 20px;
}
.prod_price,.prod_price span{
    font-size: 16px;
}
.prod_price span{
    font-weight: bolder;
}

.order_list_box tr td:nth-child(4) .blue_color{
    font-weight: bolder;
}

.order_delete_btn{
    cursor: pointer;
}

/**/
.order_list_box{
    border-bottom: 2px solid #777;
}
.order_list_box .order_item{
    width: 100%;
    border-top: 2px solid #777;
}

.order_summary{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.order_summary div{
    padding: 20px;
    padding-top: 20px !important;
}
.order_summary div span{
    font-weight: bold;
}

.order_summary span:nth-child(2){
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
}
.order_summary span.order-detail-btn::after{
    content: " 〉";
}
.order_product{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 10px; */
}
.order_product>*{
    padding: 20px;
}
.order_product>:nth-child(2){
    width: 100%;
}
.order_product * *{
    white-space: nowrap;
    align-content: center;
}

.product_info{
    
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}
.order_product .img-box{
    width: 80px;
    /* padding: 0; */
}
.order_list_box .order_product div:nth-child(2) *{
    line-height: 30px;
}
.prod_title_box>*{
    font-size: 15px;
    font-weight: bolder;
}
.order_list_box .order_product div:nth-child(4),.order_list_box .order_product div:nth-child(3){
    text-align: center;
}
.order_list_box .order_product div *{
    font-size: 14px;
    line-height: 20px;
}
.prod_price,.prod_price span{
    font-size: 16px;
}
.prod_price span{
    font-weight: bolder;
}

.order_list_box .order_product div:nth-child(4) .blue_color{
    font-weight: bolder;
}

.order_delete_btn{
    cursor: pointer;
}