.cart_wrapper{
    padding:100px 0;
}

.cart_wrapper table{
    width: 100%;
}
.cart_wrapper td{
    width: calc(100%/3);
    vertical-align: middle;
    
    /* flex-direction: column; */
}
.cart_wrapper td:not(:first-child)>*{
    display: flex;
    align-items: center;
}
