.content_area form ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content_area form ul li{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
}
.content_area form ul li:last-child{
    flex-direction: row;
    gap: 10px;
}
.def_ship_addr{
    
}
/* .content_area form ul li.address_area{
    width: 100%;
    max-width: none;
} */
.content_area form ul li .address_box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.postcode_box{
    width: 400px;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
.postcode_box input[type="text"]{
    width: 200px;
}

.postcode_box input[type="button"]{
    width: fit-content;
}