.content_area form ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content_area form ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}
.content_area form ul li:last-child{
    flex-direction: row;
    gap: 10px;
}
.def_ship_addr{
    
}