<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.infra.codegroup.CodeGroupDao">	
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.exion.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		
		ORDER BY
			a.groupOrder desc
	</select>
	<!-- <select id="selectList2" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		WHERE 1=1
			(#{searchKeyword} IS NULL OR 
                CASE 
                    WHEN #{keywordType} = 0 THEN seq 
                    WHEN #{keywordType} = 1 THEN code_group_name 
                    WHEN #{keywordType} = 2 THEN group_order 
                END LIKE CONCAT('%', #{searchKeyword}, '%'))
            AND (#{sDelNy} IS NULL OR delNy = #{sDelNy})
            AND (#{sUseNy} IS NULL OR useNy = #{sUseNy})
            AND (#{dateType} IS NULL OR ${dateType} BETWEEN #{dateStart} AND #{dateEnd})
			<if test="searchKeyword != null and searchKeyword != ''">
			    AND a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		ORDER BY
			a.groupOrder desc
		LIMIT #{limit} OFFSET #{offset}
	</select> -->
	<select id="selectList2" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			<!-- ,count(b.codeGroup_seq) as codeCount -->
			,(select count(aa.codeGroup_seq) from commoncode aa  where 1=1 and aa.codeGroup_seq = a.seq) as codeCount
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		left JOIN
			commoncode b ON b.codeGroup_seq = a.seq
		WHERE 1=1
			<!-- 키워드조건 -->
			<trim prefix="AND (" suffix=")" suffixOverrides="OR">
				<if test="searchKeyword != null and searchKeyword != ''">
					<choose>
						<!-- <when test="keywordType == null">
		                    AND a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
		                </when> -->
						<when test="keywordType == 1 and keywordType != null and keywordType != ''">
						    a.seq = #{searchKeyword}
						</when>
						<when test="keywordType == 2 and keywordType != null and keywordType != ''">
						     a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<otherwise>
							a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
						    OR a.seq LIKE CONCAT('%', #{searchKeyword}, '%')
						</otherwise>
						
					</choose>
				</if>
			</trim>
			<if test="sUseNy != null and !sUseNy.equals('')">
				AND a.useNy = #{sUseNy}
			</if>
			<if test="sDelNy != null and !sDelNy.equals('')">
				AND a.delNy = #{sDelNy}
			</if>
			<!-- 날짜조건 -->
			<if test="dateType != null and dateType != ''">
				<choose>
					<when test="dateType == 1">
						<if test="dateStart != null">
							AND a.regDate &gt;= #{dateStart}
						</if>
						<if test="dateEnd != null">
							AND a.regDate &lt;= #{dateEnd}
						</if>
						<!-- <if test="dateStart != null and dateEnd != null">
							AND a.regDate &gt;= #{dateStart} AND a.regDate &lt;= #{dateEnd}
						</if> -->
					</when>
					<when test="dateType == 2">
						<!-- <if test="dateStart != null and dateEnd != null">
							AND a.modDate &gt;= #{dateStart} AND a.modDate &gt;= #{dateStart}
						</if> -->
						<if test="dateStart != null">
							AND a.modDate &gt;= #{dateStart}
						</if>
						<if test="dateEnd != null">
							AND a.modDate &lt;= #{dateEnd}
						</if>
					</when>
				</choose>
			</if>
		GROUP BY 
    		a.seq, a.codeGroupName, a.groupOrder, a.groupDesc, a.useNy, a.delNy, a.regDate, a.modDate
		ORDER BY
			a.groupOrder desc
		LIMIT #{limit} OFFSET #{offset}
	</select>
	<select id="listCount" resultType="int">
        SELECT COUNT(*) 
        FROM codegroup a
        WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
			    AND ( a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
					    OR a.seq LIKE CONCAT('%', #{searchKeyword}, '%'))
			</if>
			<!-- <if test="sUseNy != null and !sUseNy.equals('')">
				AND a.useNy = #{sUseNy}
			</if>
			<if test="sDelNy != null and !sDelNy.equals('')">
				AND a.delNy = #{sDelNy}
			</if> -->
    </select>
	<insert id="insert">
		insert into codegroup(
			codeGroupName
		    ,groupOrder
		    ,groupDesc
		    ,useNy
		    ,regDate
		    ,modDate
		    ,delNy
		)value(
			#{codeGroupName}
		    ,#{groupOrder}
		    ,#{groupDesc}
		    ,#{useNy}
		    ,now()
		    ,now()
		    ,0
		)
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		WHERE 1 = 1
			and a.seq = #{seq}
	</select>
	<update id="update">
		UPDATE codegroup
		SET
			codeGroupName = #{codeGroupName}
			,groupOrder = #{groupOrder}
			,groupDesc = #{groupDesc}
			,useNy = #{useNy}
			,delNy = #{delNy}
			,modDate = now()
		WHERE 1=1
			AND seq = #{seq}
	</update>
	<update id="uelete">
		UPDATE codegroup
		SET
			delNy = 1
		WHERE 1=1
			AND seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from codegroup
		WHERE 1=1
			AND seq = #{seq}
	</delete>
</mapper>