<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.infra.code.CodeDao">	
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.exion.infra.code.CodeDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeName
			,a.codeOrder
			,a.codeDesc
			,b.codeGroupName
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
			,a.codeGroup_seq
		FROM
			commoncode a
			left join codegroup b on a.codeGroup_seq = b.seq
		where 1=1
			<if test="sDelNy != null and !sDelNy.equals('')">AND a.delNy = #{sDelNy}</if>
			<if test="sUseNy != null and !sUseNy.equals('')">AND a.useNy = #{sUseNy}</if>
			<if test="searchKeyword != null and !searchKeyword.equals('')">
				<choose>
					<when test="keywordType == null">
						AND(
							a.seq Like CONCAT('%',#{searchKeyword},'%')
							OR b.codeGroupName Like CONCAT('%',#{searchKeyword},'%')
							OR a.codeName Like CONCAT('%',#{searchKeyword},'%')
						)
					</when>
					<when test="keywordType == 1">AND a.seq = #{searchKeyword}</when>
					<when test="keywordType == 2">AND b.codeGroupName Like CONCAT('%',#{searchKeyword},'%') </when>
					<when test="keywordType == 3">AND a.codeName Like CONCAT('%',#{searchKeyword},'%')</when>
				</choose>
			</if>
			<choose>
				<when test="dateType == 1"> AND a.regDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				<when test="dateType == 2"> AND a.modDate BETWEEN #{dateStart} AND #{dateEnd}</when>
			</choose>
		ORDER BY
			<!-- a.seq desc --> 
			a.codeGroup_seq desc
			, a.codeOrder desc
	</select>
	<select id="selectList2" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeName
			,a.codeOrder
			,a.codeDesc
			,b.codeGroupName
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
			,a.codeGroup_seq
		FROM
			commoncode a
			left join codegroup b on a.codeGroup_seq = b.seq
		WHERE 1=1
			<if test="sDelNy != null and !sDelNy.equals('')">AND a.delNy = #{sDelNy}</if>
			<if test="sUseNy != null and !sUseNy.equals('')">AND a.useNy = #{sUseNy}</if>
			<if test="searchKeyword != null and !searchKeyword.equals('')">
				<choose>
					<when test="keywordType == null">
						AND(
							a.seq Like CONCAT('%',#{searchKeyword},'%')
							OR b.codeGroupName Like CONCAT('%',#{searchKeyword},'%')
							OR a.codeName Like CONCAT('%',#{searchKeyword},'%')
						)
					</when>
					<when test="keywordType == 1">AND a.seq = #{searchKeyword}</when>
					<when test="keywordType == 2">AND b.codeGroupName Like CONCAT('%',#{searchKeyword},'%') </when>
					<when test="keywordType == 3">AND a.codeName Like CONCAT('%',#{searchKeyword},'%')</when>
				</choose>
			</if>
			<if test="(dateStart != null and !dateStart.equals(''))or(dateEnd != null and !dateEnd.equals(''))">
				<choose>
					<when test="dateType == 1"> AND a.regDate BETWEEN #{dateStart} AND #{dateEnd}</when>
					<when test="dateType == 2"> AND a.modDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				</choose>
			</if>
			
		ORDER BY
			a.codeGroup_seq desc
			, a.codeOrder desc
		LIMIT #{limit} OFFSET #{offset}
	</select>
	<select id="listCount" resultType="int">
        SELECT COUNT(*) 
        FROM 
			commoncode a
			join codegroup b on a.codeGroup_seq = b.seq
        WHERE 1=1
			<if test="sDelNy != null and !sDelNy.equals('')">AND a.delNy = #{sDelNy}</if>
			<if test="sUseNy != null and !sUseNy.equals('')">AND a.useNy = #{sUseNy}</if>
			<choose>
				<when test="keywordType == null">
					AND(
						a.seq Like CONCAT('%',#{searchKeyword},'%')
						OR b.codeGroupName Like CONCAT('%',#{searchKeyword},'%')
						OR a.codeName Like CONCAT('%',#{searchKeyword},'%')
					)
				</when>
				<when test="keywordType == 1">AND a.seq = #{searchKeyword}</when>
				<when test="keywordType == 2">AND b.codeGroupName Like CONCAT('%',#{searchKeyword},'%') </when>
				<when test="keywordType == 3">AND a.codeName Like CONCAT('%',#{searchKeyword},'%')</when>
			</choose>
			<choose>
				<when test="dateType == 1"> AND a.regDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				<when test="dateType == 2"> AND a.modDate BETWEEN #{dateStart} AND #{dateEnd}</when>
			</choose>
    </select>
    <!-- <select id="listCount" resultType="int">
        SELECT COUNT(*) 
        FROM commoncode a
        left join codegroup b on a.codeGroup_seq = b.seq
        WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
			    AND ( a.seq = #{searchKeyword})
					    OR b.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
					    OR a.codeName LIKE CONCAT('%', #{searchKeyword}, '%'))
			</if>
			<if test="sUseNy != null and !sUseNy.equals('')">
				AND a.useNy = #{sUseNy}
			</if>
			<if test="sDelNy != null and !sDelNy.equals('')">
				AND a.delNy = #{sDelNy}
			</if>
    </select> -->
	<insert id="insert">
		insert into commoncode(
			codeName
		    ,codeOrder
		    ,codeDesc
		    ,useNy
		    ,regDate
		    ,modDate
		    ,delNy
		    ,codeGroup_seq
		)value(
			#{codeName}
		    ,#{codeOrder}
		    ,#{codeDesc}
		    ,#{useNy}
		    ,now()
		    ,now()
		    ,0
		    ,#{codeGroup_seq}
		)
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeName
			,a.codeOrder
			,a.codeDesc
			,b.codeGroupName
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
			,a.codeGroup_seq
		FROM
			commoncode a
			join codegroup b on a.codeGroup_seq = b.seq
		WHERE 1 = 1
			and a.seq = #{seq}
	</select>
	<select id="bageList">
		SELECT
			a.seq
			,a.codeName
			,a.codeGroup_seq
		FROM
			commoncode a
			join codegroup b on a.codeGroup_seq = b.seq
		WHERE 1 = 1
			and a.codeGroup_seq = 4
	</select>
	<select id="prodTypeList">
		SELECT
			a.seq
			,a.codeName
			,a.codeGroup_seq
		FROM
			commoncode a
			join codegroup b on a.codeGroup_seq = b.seq
		WHERE 1 = 1
			and a.codeGroup_seq = 12
	</select>
	<update id="update">
		UPDATE commoncode
		SET
			codeName = #{codeName}
			,codeOrder = #{codeOrder}
			,codeDesc = #{codeDesc}
			,useNy = #{useNy}
			,codeGroup_seq = #{codeGroup_seq}
			,modDate = now()
		WHERE 1=1
			AND seq = #{seq}
	</update>
	<update id="uelete">
		UPDATE commoncode
		SET
			delNy = 1
		WHERE 1=1
			AND seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from commoncode
		WHERE 1=1
			AND seq = #{seq}
	</delete>
</mapper>