<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.infra.codegroup.CodeGroupDao">	
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.exion.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupOtherNum
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		
		ORDER BY
			a.seq desc
	</select>
	<insert id="insert">
		insert into codegroup(
			codeGroupOtherNum
			,codeGroupName
		    ,groupOrder
		    ,groupDesc
		    ,useNy
		    ,regDate
		    ,modDate
		    ,delNy
		)value(
			#{codeGroupOtherNum}
			,#{codeGroupName}
		    ,#{groupOrder}
		    ,#{groupDesc}
		    ,#{useNy}
		    ,now()
		    ,now()
		    ,0
		)
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.codeGroupOtherNum
			,a.codeGroupName
			,a.groupOrder
			,a.groupDesc
			,a.useNy
		    ,a.delNy
			,a.regDate
			,a.modDate
		FROM
			codegroup a
		
		WHERE 1 = 1
			and a.seq = #{seq}
	</select>
</mapper>