<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.course.CourseDao">
	<resultMap type="com.exion.mall.course.CourseDto" id="resultObj"></resultMap>
	<select id="selectCourse" resultMap="resultObj">
		select
			d.seq
		    ,d.eduType
		    ,d.courseName
		    ,d.coursePrice
		    ,d.instructor
		    ,d.courseRegStart
		    ,d.courseRegEnd
		    ,d.studyStart
		    ,d.studyEnd
		    ,d.location
		    ,d.content
		    ,d.regDate
		    ,d.modDate
		    ,d.delNy
		from
			course d
		order by d.seq desc
	</select>
	<insert id="insert">
	  		insert into course(
				eduType
			    ,courseName
			    ,coursePrice
			    ,instructor
			    ,courseRegStart
			    ,courseRegEnd
			    ,studyStart
			    ,studyEnd
			    ,location
			    ,content
			    ,regDate
			    ,modDate
			    ,delNy
			)value(
				#{eduType}
			    ,#{courseName}
			    ,#{coursePrice}
				,#{instructor}
			    ,#{courseRegStart}
				,#{courseRegEnd}
			    ,#{studyStart}
			    ,#{studyEnd}
			    ,#{location}
			    ,#{content}
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
	  <select id="selectOne" resultMap="resultObj">
		select
			d.seq
		    ,d.eduType
		    ,d.courseName
		    ,d.coursePrice
		    ,d.instructor
		    ,d.courseRegStart
		    ,d.courseRegEnd
		    ,d.studyStart
		    ,d.studyEnd
		    ,d.location
		    ,d.content
		    ,d.regDate
		    ,d.modDate
		    ,d.delNy
		from
			course d
		where 1=1
			and d.seq = #{seq}
	</select>
</mapper>