<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.DeliveryAddressDao">
	  <resultMap type="com.exion.mall.product.DeliveryAddressDto" id="resultObj"></resultMap>
	  <sql id="selectCommon">
	  		from
				deliveryaddress a
				join member b on b.seq = a.member_seq
			where 1=1
				<if test="sDelNy != null and !sDelNy.equals('')">AND a.delNy = #{sDelNy}</if>
				<if test="defaultNy != null and !defaultNy.equals('')">AND a.defaultNy = #{defaultNy}</if>
				<if test="searchKeyword != null and !searchKeyword.equals('')">
					<choose>
						<when test="keywordType == null">
							AND(
								a.name Like CONCAT('%',#{searchKeyword},'%')
								OR a.userId Like CONCAT('%',#{searchKeyword},'%')
								OR a.userPassword Like CONCAT('%',#{searchKeyword},'%')
								OR a.email Like CONCAT('%',#{searchKeyword},'%')
							)
						</when>
						<when test="keywordType == 1">AND a.name = #{searchKeyword}</when>
						<when test="keywordType == 2">AND a.userId Like CONCAT('%',#{searchKeyword},'%') </when>
						<when test="keywordType == 3">AND a.userPassword Like CONCAT('%',#{searchKeyword},'%')</when>
						<when test="keywordType == 4">AND a.email Like CONCAT('%',#{searchKeyword},'%')</when>
					</choose>
				</if>
				<if test="((dateStart != null)and(dateStart != null))and((!dateStart.equals(''))and(!dateStart.equals('')))">
					<choose>
						<when test="dateType == 1"> AND a.regDate BETWEEN #{dateStart} AND #{dateEnd}</when>
						<when test="dateType == 2"> AND a.modDate BETWEEN #{dateStart} AND #{dateEnd}</when>
					</choose>
				</if>
	  </sql>
	  <select id="selectList" resultMap="resultObj">
	  	<include refid="base.selectListUpperForMysql"/>
		  	select
				a.daSeq
			    ,a.defaultNy
			    ,a.addressName
			    ,a.RecipientName
			    ,a.RecipientPhone
			    ,a.daZonecode
			    ,a.daRoadAddress
			    ,a.daJibunAddress
			    ,a.daDetailAddress
			    ,a.daExtraAddress
				,a.regDate
				,a.modDate
			    ,a.delNy
			    ,a.member_seq
			    ,b.name
			<include refid="selectCommon"/>
			order by a.defaultNy desc,a.daSeq desc
			<include refid="base.selectListLowerForMysql"/>
	  </select>
	  <select id="selectUsrList" resultMap="resultObj">
		  	select
				a.daSeq
			    ,a.defaultNy
			    ,a.addressName
			    ,a.RecipientName
			    ,a.RecipientPhone
			    ,a.daZonecode
			    ,a.daRoadAddress
			    ,a.daJibunAddress
			    ,a.daDetailAddress
			    ,a.daExtraAddress
				,a.regDate
				,a.modDate
			    ,a.delNy
			    ,a.member_seq
			from
				deliveryaddress a
				join member b on b.seq = a.member_seq
			where 1=1
				and b.seq = #{seq}
				and a.delNy = 0
			order by a.daSeq desc
	  </select>
	  <insert id="insertAddr">
	  		insert into deliveryaddress(
				defaultNy
			    ,addressName
			    ,RecipientName
			    ,RecipientPhone
			    ,daZonecode
			    ,daRoadAddress
			    ,daJibunAddress
			    ,daDetailAddress
			    ,daExtraAddress
			    ,longitude
			    ,latitude
			    ,regDate
			    ,modDate
			    ,delNy
			    ,member_seq
			
			)value(
				#{defaultNy}
				,#{addressName}
			    ,#{RecipientName}
			    ,#{RecipientPhone}
			    ,#{daZonecode}
			    ,#{daRoadAddress}
			    ,#{daJibunAddress}
			    ,#{daDetailAddress}
			    ,#{daExtraAddress}
			    ,#{longitude}
			    ,#{latitude}
			    ,now()
			    ,now()
			    ,0
			    ,#{member_seq}
			)
			<selectKey resultType="String" keyProperty="daSeq" order="AFTER">
				SELECT last_insert_id()
		 	</selectKey>
	  </insert>
	  <select id="selectOne" resultMap="resultObj">
		  	select
				a.daSeq
			    ,a.defaultNy
			    ,a.addressName
			    ,a.RecipientName
			    ,a.RecipientPhone
			    ,a.daZonecode
			    ,a.daRoadAddress
			    ,a.daJibunAddress
			    ,a.daDetailAddress
			    ,a.daExtraAddress
			    ,a.longitude
			    ,a.latitude
				,a.regDate
				,a.modDate
			    ,a.delNy
			    ,a.member_seq
			from
				deliveryaddress a
				join member b on b.seq = a.member_seq
			where 1=1
				<!-- and b.seq = #{member_seq} -->
				and a.daSeq = #{daSeq}
	  </select>
	  <select id="selectDefOne" resultMap="resultObj">
		  	select
				a.daSeq
			    ,a.defaultNy
			    ,a.addressName
			    ,a.RecipientName
			    ,a.RecipientPhone
			    ,a.daZonecode
			    ,a.daRoadAddress
			    ,a.daJibunAddress
			    ,a.daDetailAddress
			    ,a.daExtraAddress
			    ,a.longitude
			    ,a.latitude
				,a.regDate
				,a.modDate
			    ,a.delNy
			    ,a.member_seq
			from
				deliveryaddress a
				join member b on b.seq = a.member_seq
			where 1=1
				and b.seq = #{seq}
				and a.defaultNy = 1
	  </select>
	  <select id="buySelectOne" resultMap="resultObj">
		  	select
				a.daSeq
			    ,a.defaultNy
			    ,a.addressName
			    ,a.RecipientName
			    ,a.RecipientPhone
			    ,a.daZonecode
			    ,a.daRoadAddress
			    ,a.daJibunAddress
			    ,a.daDetailAddress
			    ,a.daExtraAddress
			    ,a.longitude
			    ,a.latitude
				,a.regDate
				,a.modDate
			    ,a.delNy
			    ,a.member_seq
			from
				deliveryaddress a
				join member b on b.seq = a.member_seq
			where 1=1
				<!-- and b.seq = #{member_seq} -->
				and a.daSeq = #{daSeq}
	  </select>
	  <select id="listCount">
        SELECT COUNT(*)
        from
			deliveryaddress 
      </select>
	  <select id="listUsrCount">
        SELECT COUNT(*)
        from
			deliveryaddress a
			join member b on b.seq = a.member_seq
		where 1=1
			and b.seq = #{seq}
      </select>
	  <update id="update">
		UPDATE deliveryaddress
		SET
			defaultNy = #{defaultNy}
			,addressName = #{addressName}
			,RecipientName = #{RecipientName}
			,RecipientPhone = #{RecipientPhone}
			,daZonecode = #{daZonecode}
		    ,daRoadAddress = #{daRoadAddress}
		    ,daJibunAddress = #{daJibunAddress}
		    ,daDetailAddress = #{daDetailAddress}
		    ,daExtraAddress = #{daExtraAddress}
		    ,longitude = #{longitude}
			,latitude = #{latitude}
			,modDate = now()
		WHERE 1=1
			AND daSeq = #{daSeq}
	  </update>
	  <update id="updateDefUsr">
			UPDATE deliveryaddress
			SET
				defaultNy = #{defaultNy}
				,modDate = now()
			WHERE 1=1
				AND daSeq = #{daSeq}
		</update>
		<update id="updateDef">
			UPDATE deliveryaddress
			SET
				defaultNy = #{defaultNy}
			WHERE 1=1
				AND daSeq = #{daSeq}
		</update>
		<update id="ueleteAddr">
			UPDATE deliveryaddress
			SET
				delNy = 1
			WHERE 1=1
				AND daSeq = #{daSeq}
	</update>
</mapper>