<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.FreeGiftDao">
	  <resultMap type="com.exion.mall.product.FreeGiftDto" id="resultObj"></resultMap>
	  <select id="fgList" resultMap="resultObj">
	  		select
				a.fgSeq
			    ,a.fgName
			    ,a.fgPrice
			    ,a.fgStockQty
			    ,a.fgRegDate
			    ,a.fgModDate
			    ,a.fgDelNy
			    ,a.fgUseNy
			from
				freegift a
			order by a.fgSeq desc
	  </select>
	  <select id="fgOne" resultMap="resultObj">
	  		select
				a.fgSeq
			    ,a.fgName
			    ,a.fgPrice
			    ,a.fgStockQty
			    ,a.fgRegDate
			    ,a.fgModDate
			    ,a.fgDelNy
			    ,a.fgUseNy
			from
				freegift a
			where 1 = 1
				and a.fgSeq = #{fgSeq}
	  </select>
	  <insert id="insert">
			insert into freegift(
				fgName
			    ,fgPrice
			    ,fgStockQty
			    ,freeGiftInfo
			    ,fgRegDate
			    ,fgModDate
			    ,fgUseNy
			    ,fgDelNy
			)value(
				#{fgName}
			    ,#{fgPrice}
			    ,#{fgStockQty}
			    ,#{freeGiftInfo}
			    ,now()
			    ,now()
			    ,1
			    ,0
			)
		</insert>
</mapper>