<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.OrderDao">
	<resultMap type="com.exion.mall.product.OrderDto" id="resultObj"></resultMap>
	<sql id="selectCommon">
	  	where 1=1
			<if test="sDelNy != null and !sDelNy.equals('')">AND a.delNy = #{sDelNy}</if>
			<if test="orderStatus != null and !orderStatus.equals('')">AND a.orderStatus = #{orderStatus}</if>
			<if test="searchKeyword != null and !searchKeyword.equals('')">
				<choose>
					<when test="keywordType == null">
						AND(
							a.orderNumber Like CONCAT('%',#{searchKeyword},'%')
							OR d.title Like CONCAT('%',#{searchKeyword},'%')
							OR b.name Like CONCAT('%',#{searchKeyword},'%')
						)
					</when>
					<when test="keywordType == 1">AND a.orderNumber Like CONCAT('%',#{searchKeyword},'%')</when>
					<when test="keywordType == 2">AND b.name Like CONCAT('%',#{searchKeyword},'%') </when>
					<when test="keywordType == 3">AND d.title Like CONCAT('%',#{searchKeyword},'%') </when>
				</choose>
			</if>
			<choose>
				<when test="dateType == 1"> AND a.orderDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				<when test="dateType == 2"> AND a.uoModDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				<when test="dateType == 3"> AND a.deliveryDate BETWEEN #{dateStart} AND #{dateEnd}</when>
			</choose>
			<choose>
				<when test="minPrice != null and maxPrice != null">
			        AND a.uoPrice BETWEEN #{minPrice} AND #{maxPrice}
			    </when>
			    <when test="minPrice != null and maxPrice == null">
			        AND a.uoPrice >= #{minPrice} 
			    </when>
			    <when test="minPrice == null and maxPrice != null">
			        AND a.uoPrice &lt;= #{maxPrice}
			    </when>
			</choose>
  	</sql>
	<select id="selectList" resultMap="resultObj">
		<include refid="base.selectListUpperForMysql"/>
		select
				a.uoSeq
			    ,a.orderNumber
			    ,a.orderStatus
			    ,a.orderDate
			    ,a.deliveryDate
			    ,a.uoModDate
			    ,a.uoPrice
			    ,a.uoQuantity
			    ,a.uoDeliveryReq
			    ,a.product_seq
			    ,a.delNy
			    ,c.codeName as orderStatusText
			    ,a.member_seq
			    ,d.title
			    ,f.codeName as prodTypeName
			    ,b.name
			from
				userorder a
				join member b on b.seq = a.member_seq
				join commoncode c on c.seq = a.orderStatus and c.codeGroup_seq = 5
				join product d on d.seq = a.product_seq
				join commoncode f on f.seq = d.prodType and f.codeGroup_seq = 12
			<include refid="selectCommon"/>
			order by a.orderDate desc
			<include refid="base.selectListLowerForMysql"/>
	</select>
	<select id="selectUsrList" resultMap="resultObj">
		select
				a.uoSeq
			    ,a.orderNumber
			    ,a.orderStatus
			    ,a.orderDate
			    ,a.deliveryDate
			    ,a.uoPrice
			    ,a.uoQuantity
			    ,a.uoDeliveryReq
			    ,a.product_seq
			    ,c.codeName as orderStatusText
			    ,a.member_seq
			    ,d.title
			    ,f.codeName as prodTypeName
			    ,d.imgSrc
			from
				userorder a
				join member b on b.seq = a.member_seq
				join commoncode c on c.seq = a.orderStatus and c.codeGroup_seq = 5
				join product d on d.seq = a.product_seq
				join commoncode f on f.seq = d.prodType and f.codeGroup_seq = 12
				
			where 1 = 1
				and b.seq = #{seq}
				and a.delNy = 0
			order by a.orderDate desc
	</select>
	<select id="listCount">
    	SELECT COUNT(*)
	    from
			userorder 
    </select>
    <!-- <select id="listUsrCount">
    	SELECT COUNT(*)
    	from
			deliveryaddress 
    </select> -->
	<insert id="insert">
	  		insert into userorder(
				orderNumber
			    ,orderStatus
			    ,orderDate
			    ,deliveryDate
			    ,uoPrice
			    ,uoQuantity
			    ,uoDeliveryReq
			    ,product_seq
			    ,member_seq
			    ,deliveryAddress_daSeq
			    ,uoModDate
			    ,delNy
			)value(
				#{orderNumber}
			    ,56
			    ,now()
			    ,#{deliveryDate}
				,#{uoPrice}
			    ,#{uoQuantity}
				,#{uoDeliveryReq}
			    ,#{product_seq}
			    ,#{mmSeq}
			    ,#{daSeq}
			    ,now()
			    ,0
			)
	  </insert>
	  <update id="uelete">
		UPDATE userorder
		SET
			delNy = 1
		WHERE 1=1
			AND seq = #{seq}
	</update>
</mapper>