<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.OrderDao">
	<resultMap type="com.exion.mall.product.OrderDto" id="resultObj"></resultMap>
	<select id="selectUsrList" resultMap="resultObj">
		select
				a.uoSeq
			    ,a.orderNumber
			    ,a.orderStatus
			    ,a.orderDate
			    ,a.deliveryDate
			    ,a.uoPrice
			    ,a.uoQuantity
			    ,a.uoDeliveryReq
			    ,a.product_seq
			    ,c.codeName as orderStatusText
			    ,a.member_seq
			from
				ordertest a
				join member b on b.seq = a.member_seq
				join commoncode c on c.seq = a.orderStatus and c.codeGroup_seq = 5
			where 1 = 1
				and b.seq = #{seq}
	</select>
	<insert id="insert">
	  		insert into ordertest(
				orderNumber
			    ,orderStatus
			    ,orderDate
			    ,deliveryDate
			    ,uoPrice
			    ,uoQuantity
			    ,uoDeliveryReq
			    ,product_seq
			    ,member_seq
			    ,deliveryAddress_daSeq
			    ,uoModDate
			    ,delNy
			)value(
				#{orderNumber}
			    ,56
			    ,now()
			    ,#{deliveryDate}
				,#{uoPrice}
			    ,#{uoQuantity}
				,#{uoDeliveryReq}
			    ,#{product_seq}
			    ,#{mmSeq}
			    ,#{daSeq}
			    ,now()
			    ,0
			)
	  </insert>
</mapper>