<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.ProductDao">
	  <resultMap type="com.exion.mall.product.ProductDto" id="resultObj"></resultMap>
	  <select id="xdmProdList" resultMap="resultObj">
		  	select
				a.seq
			    ,a.title
			    ,a.prodType
			    ,b.name
			    ,a.publisher
			    ,a.makeDate
			    ,a.price
			    ,a.sale
			    ,a.salePrice
			    ,a.point
			    ,a.stockQty
			    ,a.imgSrc
			    ,a.intro
			    ,a.reviewNum
			    ,a.shipDate
			    ,a.tableOfContents
			    ,a.publisherReview
			    ,a.preivew
			    ,a.viewNumber
			    ,a.buyNumber
			    ,a.bestNy
			    ,a.todayPickNy
			    ,a.sliderText
				,a.regDate
				,a.modDate
			    ,a.delNy
			from
				product a
				left join productAuthor c on c.product_seq = a.seq
				left join author b on c.author_seq = b.seq
				join commoncode d on b.authorType = d.seq
			order by a.seq desc
	  </select>
	  <select id="usrProdList" resultMap="resultObj">
		  	select
				a.seq
			    ,a.title
			    ,a.prodType
			    ,b.name
			    ,a.publisher
			    ,a.makeDate
			    ,a.price
			    ,a.sale
			    ,a.salePrice
			    ,a.point
			    ,a.stockQty
			    ,a.imgSrc
			    ,a.intro
			    ,a.reviewNum
			    ,a.shipDate
			    ,a.tableOfContents
			    ,a.publisherReview
			    ,a.preivew
			    ,a.viewNumber
			    ,a.buyNumber
			    ,a.bestNy
			    ,a.todayPickNy
			    ,a.sliderText
				,a.regDate
				,a.modDate
			    ,a.delNy
			from
				product a
				left join productAuthor c on c.product_seq = a.seq
				left join author b on c.author_seq = b.seq
				join commoncode d on b.authorType = d.seq
			where 1=1
				<choose>
					<when test="minPrice != null and maxPrice != null">
				        AND a.salePrice BETWEEN #{minPrice} AND #{maxPrice}
				    </when>
				</choose>
				<choose>
					<when test="minPrice != null and maxReview != null">
				        AND a.reviewNum BETWEEN #{minReview} AND #{maxReview}
				    </when>
				</choose>
				<choose>
					<!-- <when test="makeDateFillter == 0"> AND a.makeDate BETWEEN DATE_SUB(NOW(), INTERVAL  MONTH) AND NOW()</when> -->
					<when test="makeDateFillter == 1"> AND a.makeDate BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW()</when>
					<when test="makeDateFillter == 2"> AND a.makeDate BETWEEN DATE_SUB(NOW(), INTERVAL 3 MONTH) AND NOW()</when>
					<when test="makeDateFillter == 3"> AND a.makeDate BETWEEN DATE_SUB(NOW(), INTERVAL 6 MONTH) AND NOW()</when>
					<when test="makeDateFillter == 4"> AND a.makeDate BETWEEN DATE_SUB(NOW(), INTERVAL 12 MONTH) AND NOW()</when>
					<when test="makeDateFillter == 5"> AND a.makeDate &lt; DATE_SUB(NOW(), INTERVAL 12 MONTH) </when>
				</choose>
			order by a.makeDate desc
	  </select>
	  <insert id="insertProd">
			insert into product(
				title
			    ,prodType
			    ,publisher
			    ,makeDate
			    ,price
			    ,sale
			    ,salePrice
			    ,point
			    ,stockQty
			    ,intro
			    ,reviewNum
			    ,shipDate
			    ,tableOfContents
			    ,publisherReview
			    ,preivew
			    ,viewNumber
			    ,buyNumber
			    ,bestNy
			    ,todayPickNy
			    ,sliderText
			    ,regDate
			    ,modDate
			    ,delNy
			) value(
				#{title}
			    ,#{prodType}
			    ,#{publisher}
			    ,#{makeDate}
			    ,#{price}
			    ,#{sale}
			    ,#{salePrice}
			    ,#{point}
			    ,#{stockQty}
			    ,#{intro}
			    ,#{reviewNum}
			    ,#{shipDate}
			    ,#{tableOfContents}
				,#{publisherReview}
			    ,#{preivew}
			    ,0
			    ,0
			    ,#{bestNy}
			    ,#{todayPickNy}
			    ,#{sliderText}
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
	  <select id="prodOne" resultMap="resultObj">
		  	select
				a.seq
			    ,a.title
			    ,a.prodType
			    ,a.publisher
			    ,a.makeDate
			    ,a.price
			    ,a.sale
			    ,a.salePrice
			    ,a.point
			    ,a.stockQty
			    ,a.intro
			    ,a.reviewNum
			    ,a.shipDate
			    ,a.tableOfContents
			    ,a.publisherReview
			    ,a.preivew
			    ,a.viewNumber
			    ,a.buyNumber
			    ,a.bestNy
			    ,a.todayPickNy
			    ,a.sliderText
				,a.regDate
				,a.modDate
			    ,a.delNy
			from
				product a 
			where 1 = 1
				and a.seq = #{seq}
	  </select>
	  <update id="update">
		  	UPDATE product
			SET
				title = #{title}
			    ,prodType = #{prodType}
			    ,publisher = #{publisher}
			    ,makeDate = #{makeDate}
			    ,price = #{price}
			    ,sale = #{sale}
			    ,salePrice = #{salePrice}
			    ,point = #{point}
			    ,stockQty = #{stockQty}
			    ,intro = #{intro}
			    ,reviewNum = #{reviewNum}
			    ,shipDate = #{shipDate}
			    ,tableOfContents = #{tableOfContents}
			    ,publisherReview = #{publisherReview}
			    ,preivew = #{preivew}
			    ,bestNy = #{bestNy}
			    ,todayPickNy = #{todayPickNy}
			    ,sliderText = #{sliderText}
				,modDate = now()
			WHERE 1=1
				AND seq = #{seq}
	  </update>
</mapper>