<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.ProductAuthorDao">
	<resultMap type="com.exion.mall.product.ProductAuthorDto" id="resultMapObj"></resultMap>
	<select id="productAuthorSelected" resultMap="resultMapObj">
		select 
			a.author_seq
			,b.name
			from
				productAuthor a 
				left join product c on a.product_seq = c.seq
				join author b on a.author_seq = b.seq
			where 1 = 1
				and c.seq = #{seq}
	</select>
	<insert id="insert">
		insert into productAuthor(
			product_seq
		    ,author_seq
		    ,aDefaultNy
		    ,pDefaultNy
		)value(
			#{product_seq}
		    ,#{author_seq}
		    ,0
		    ,0
     	)
	</insert>
	<update id="defaultUpdt">
		<!-- UPDATE productAuthor a
		JOIN (
		    SELECT MIN(paSeq) AS min_paSeq, product_seq
		    FROM productAuthor
		    GROUP BY product_seq
		) AS b ON a.paSeq = b.min_paSeq
		SET a.aDefaultNy = 1
		WHERE a.aDefaultNy != 1
		
		UPDATE productAuthor a
		JOIN (
		    SELECT MIN(paSeq) AS min_paSeq, author_seq
		    FROM productAuthor
		    GROUP BY author_seq
		) AS b ON a.paSeq = b.min_paSeq
		SET a.pDefaultNy = 1
		WHERE a.pDefaultNy != 1 -->
	</update>
	<update id="update">
		UPDATE productAuthor
		SET
			product_seq = #{product_seq}
			,author_seq = #{author_seq}
		WHERE 1=1
			AND product_seq = #{product_seq}
	</update>
</mapper>	
	
	