<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.mall.product.ProductAuthorDao">
	<resultMap type="com.exion.mall.product.ProductAuthorDto" id="resultMapObj"></resultMap>
	<select id="productAuthorSelected" resultMap="resultMapObj">
		select 
			a.author_seq
			,a.paSeq
			,a.delNy
			,b.name
			from
				productauthor a 
				left join product c on a.product_seq = c.seq
				join author b on a.author_seq = b.seq
			where 1 = 1
				and c.seq = #{seq}
				and a.delNy = 0
	</select>
	<select id="productAuthorOneSelectList" resultMap="resultMapObj">
		select 
			a.author_seq
			,a.paSeq
			,a.delNy
			,b.name
			from
				productauthor a 
				left join product c on a.product_seq = c.seq
				join author b on a.author_seq = b.seq
			where 1 = 1
				and c.seq = #{seq}
	</select>
	<insert id="insert">
		insert into productauthor(
			product_seq
		    ,author_seq
		    ,delNy
		    ,aDefaultNy
		    ,pDefaultNy
		)value(
			#{product_seq}
		    ,#{author_seq}
		    ,0
		    ,0
		    ,0
     	)
     	<selectKey resultType="String" keyProperty="paSeq" order="AFTER">
				SELECT last_insert_id()
		 </selectKey>
	</insert>
	<update id="defaultUpdt">
		UPDATE productauthor a
		JOIN (
		    SELECT 
		        paSeq,
		        CASE 
		            WHEN delNy = 1 THEN 0
		            WHEN ROW_NUMBER() OVER (
		                PARTITION BY product_seq 
		                ORDER BY paSeq
		            ) = 1 THEN 1 
		            ELSE 0 
		        END AS aDefaultNy
		    FROM productauthor
		    WHERE delNy = 0
		) AS b ON a.paSeq = b.paSeq
		JOIN (
		    SELECT 
		        paSeq,
		        CASE 
		            WHEN delNy = 1 THEN 0
		            WHEN ROW_NUMBER() OVER (
		                PARTITION BY author_seq 
		                ORDER BY paSeq
		            ) = 1 THEN 1 
		            ELSE 0 
		        END AS pDefaultNy
		    FROM productauthor
		    WHERE delNy = 0
		) AS c ON a.paSeq = c.paSeq
		SET a.aDefaultNy = b.aDefaultNy, 
		    a.pDefaultNy = c.pDefaultNy;

	</update>
	<update id="update">
		UPDATE productauthor
		SET
			delNy = 0
		WHERE 1=1
			AND product_seq = #{product_seq}
			AND author_seq = #{author_seq}
	</update>
	<update id="uelete">
		UPDATE productauthor
		SET
			delNy = 1
			,pDefaultNy = 0
			,aDefaultNy = 0
		WHERE 1=1
			AND product_seq = #{product_seq}
			AND author_seq = #{author_seq}
	</update>
</mapper>	
	
	