<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.infra.user.UserDao">
	  <resultMap type="com.exion.infra.user.UserDto" id="resultObj"></resultMap>
	  <select id="selectUser" resultMap="resultObj">
		  	select
				c.seq
			    ,c.admNy
			    ,c.name
			    ,c.userId
			    ,c.userPassword
			    ,c.gender
			    ,c.dateOfBirth
			    ,c.email
			    ,c.phoneNum
			    ,c.userDesc
			    ,c.regDate
			    ,c.modDate
			    ,c.delNy
			from
				user c
			order by c.seq desc
	  </select>
	  <insert id="insert">
	  		insert into user(
				admNy
			    ,name
			    ,userId
			    ,userPassword
			    ,gender
			    ,dateOfBirth
			    ,email
			    ,phoneNum
			    ,userDesc
			    ,regDate
			    ,modDate
			    ,delNy
			)value(
				#{admNy}
			    ,#{name}
			    ,#{userId}
				,#{userPassword}
			    ,#{gender}
				,#{dateOfBirth}
			    ,#{email}
			    ,#{phoneNum}
			    ,#{userDesc}
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
	  <select id="selectOne" resultMap="resultObj">
		  	select
				c.seq
			    ,c.admNy
			    ,c.name
			    ,c.userId
			    ,c.userPassword
			    ,c.gender
			    ,c.dateOfBirth
			    ,c.email
			    ,c.phoneNum
			    ,c.userDesc
			    ,c.regDate
			    ,c.modDate
			    ,c.delNy
			from
				user c
			where 1=1
				and c.seq = #{seq}
	  </select>
	  <insert id="insertUser">
	  		insert into user(
				admNy
			    ,name
			    ,userId
			    ,userPassword
			    ,gender
			    ,dateOfBirth
			    ,email
			    ,phoneNum
			    ,userDesc
			    ,regDate
			    ,modDate
			    ,delNy
			)value(
				0
			    ,#{name}
			    ,#{userId}
				,#{userPassword}
			    ,#{gender}
				,#{dateOfBirth}
			    ,#{email}
			    ,#{phoneNum}
			    ,"신규유저입니다."
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
	  <update id="update">
	  		update user
	  		set
	  			admNy = CASE WHEN #{admNy} IS NOT NULL THEN #{admNy} ELSE admNy END
	  			,name = CASE WHEN #{name} IS NOT NULL THEN #{name} ELSE name END
	  			,userId = CASE WHEN #{userId} IS NOT NULL THEN #{userId} ELSE userId END
	  			,userPassword = CASE WHEN #{userPassword} IS NOT NULL THEN #{userPassword} ELSE userPassword END
	  			,gender = CASE WHEN #{gender} IS NOT NULL THEN #{gender} ELSE gender END
	  			,dateOfBirth = CASE WHEN #{dateOfBirth} IS NOT NULL THEN #{dateOfBirth} ELSE dateOfBirth END
	  			,email = CASE WHEN #{email} IS NOT NULL THEN #{email} ELSE email END
	  			,phoneNum = CASE WHEN #{phoneNum} IS NOT NULL THEN #{phoneNum} ELSE phoneNum END
	  			,userDesc = CASE WHEN #{userDesc} IS NOT NULL THEN #{userDesc} ELSE userDesc END
	  			,modDate = now()
	  		where 1=1
	  			and seq = #{seq}
	  </update>
	  <update id="updateU">
	  		update user
	  		set
	  			,userPassword = #{userPassword}
	  			,email = #{email}
	  			,phoneNum = #{phoneNum}
	  			,modDate = now()
	  		where 1=1
	  			and seq = #{seq}
	  </update>
	  <update id="updatePW">
	  		update user
	  		set
	  			,userPassword = #{userPassword}
	  			,modDate = now()
	  		where 1=1
	  			and seq = #{seq}
	  </update>
	  
</mapper>