<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exion.infra.user.UserDao">
	  <resultMap type="com.exion.infra.user.UserDto" id="resultObj"></resultMap>
	  <select id="selectUser" resultMap="resultObj">
		  	select
				c.seq
			    ,c.admNy
			    ,c.name
			    ,c.userId
			    ,c.userPassword
			    ,c.gender
			    ,c.dateOfBirth
			    ,c.email
			    ,c.phoneNum
			    ,c.userDesc
			    ,c.regDate
			    ,c.modDate
			    ,c.delNy
			from
				user c
			order by c.seq desc
	  </select>
	  <insert id="insert">
	  		insert into user(
				admNy
			    ,name
			    ,userId
			    ,userPassword
			    ,gender
			    ,dateOfBirth
			    ,email
			    ,phoneNum
			    ,userDesc
			    ,regDate
			    ,modDate
			    ,delNy
			)value(
				#{admNy}
			    ,#{name}
			    ,#{userId}
				,#{userPassword}
			    ,#{gender}
				,#{dateOfBirth}
			    ,#{email}
			    ,#{phoneNum}
			    ,#{userDesc}
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
	  <select id="selectOne" resultMap="resultObj">
		  	select
				c.seq
			    ,c.admNy
			    ,c.name
			    ,c.userId
			    ,c.userPassword
			    ,c.gender
			    ,c.dateOfBirth
			    ,c.email
			    ,c.phoneNum
			    ,c.userDesc
			    ,c.regDate
			    ,c.modDate
			    ,c.delNy
			from
				user c
			where 1=1
				and c.seq = #{seq}
	  </select>
	  <insert id="insertUser">
	  		insert into user(
				admNy
			    ,name
			    ,userId
			    ,userPassword
			    ,gender
			    ,dateOfBirth
			    ,email
			    ,phoneNum
			    ,userDesc
			    ,regDate
			    ,modDate
			    ,delNy
			)value(
				0
			    ,#{name}
			    ,#{userId}
				,#{userPassword}
			    ,#{gender}
				,#{dateOfBirth}
			    ,#{email}
			    ,#{phoneNum}
			    ,"신규유저입니다."
			    ,now()
			    ,now()
			    ,0
			)
	  </insert>
</mapper>