<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./usr/v1/assets/css/bootstrap.min.css" />
    <!--<link rel="shortcut icon" href="assets/images/favicon.svg"> -->
    <link rel="icon" type="image/png" sizes="256x256" href="/usr/v1/assets/images/favicon/favicon_256x256.png">
    
    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/main.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <div th:replace="~{usr/v1/infra/include/head :: header}"></div>
        <main>
            <div class="main-slider-wrapper">
                <div class="main-slider-inner-wrapper">
                    <div class="slider-container swiper-container swiper-container-h" id="slider1">
                        <div class="your-slider swiper-wrapper" >
                            <div class="group-1">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/slider01.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        처음의 리커버, 다음의 리커버<br>
                                        교보문고 리커버:K 1~101📚
                                    </p>
                                </div>
                            </div>
                            <div class="group-2">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/101022.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        올해의 소설<br>
                                        《영원한 천국》
                                    </p>
                                </div>
                            </div>
                            <div class="group-2">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/20240715_093914811.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        히가시노 게이고가 재현한<br>
                                        황금시대 본격미스터리!
                                    </p>
                                </div>
                            </div>
                            <div class="group-2">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/51.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        읽는 순간, 행복이 찾아옵니다<br>
                                        이제 당신의 차례입니다
                                    </p>
                                </div>
                            </div>
                            <div class="group-3">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/75b1314eb88b4d4abaa27010bb12baba.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        8월 북메이트 모집 중🌊<br>
                                        이달의 책 독서 지원금&애슝 유리컵
                                    </p>
                                </div>
                            </div>
                            <div class="group-3">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/855d6f68af284aa5aabb3beb192f08af.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        이번 가을은 문학 독서의 계절<br>
                                        MD가 고른 문학 이슈 TOP 7
                                    </p>
                                </div>
                            </div>
                            <div class="group-3">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/ea5e6fa489014c17875d05a76ebb3384.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        "난 교보문고만 써!"<br>
                                        그 뿌듯함 200% 늘려드려요
                                    </p>
                                </div>
                            </div>
                            <div class="group-4">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/i_1624_450_89bef945de3b4f169a88c3f37d3673e6.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        교보 오리지널 오디오북<br>
                                        <산책하는 법>🚶‍♀️
                                    </p>
                                </div>
                            </div>
                            
                            <div class="group-5">
                                <div class="img-box">
                                    <img src="./usr/v1/assets/images/mainSlider/i_1624_450_5eb0927b569444c4a5ec92342047f38c.jpg" alt="Image"/>
                                </div>
                                <div class="item_text_box">
                                    <p>
                                        들키고 싶은 이야기<br>
                                        『책과 마주하는 마음으로』 에필로그
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-controls">
                            <ul class="slick-dots swiper-pagination"></ul>
                            <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
                            <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
                            <button class="auto-toggle"><i class="fa-solid fa-stop"></i></button>
                            <div class="slider-controls-background"></div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="today_pick">
                <div class="today_pickArea">
                    <div class="area-head d-flex justify-content-between">
                        <div class="d-flex">
                            <h3>오늘의 선택</h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="moreBtn" href="product_list?todayPickNy=1">더보기 +</a>
                        </div>
                    </div>
                    <div class="contentArea ">
                        <div class="md_pick_list">
                            <div class="slider-container swiper-container"id="slider2">
                                <div class="swiper-wrapper your-slider" >
                                    <div th:each="mdPickProd:${mdPickProd}" th:onclick="|location.href='@{/product_detail(seq=${mdPickProd.seq})}'|">
                                        <div class="img-box">
                                            <img th:src="${mdPickProd.imgSrc}" th:alt="${mdPickProd.title+' 이미지'}">
                                        </div>
                                        <p th:text="${mdPickProd.title}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button swiper-button-next"></div>
                            <div class="swiper-button swiper-button-prev"></div>
                        </div>
                        <!-- <div class="slider-controls">
                            <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
                            <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
                        </div> -->
                    </div>
                </div>
            </section>
            <section class="art_culture flexibilization2">
                <div>
                    <div class="area-head d-flex justify-content-between">
                        <h3>카카오[다음] 베스트셀러 api</h3>
                    </div>
                    
                    <div class="contentArea">
                        <div class="slider-container swiper-container"id="slider5">
                            <div class="swiper-wrapper">
                                <div class="prod_list_item" th:each="kakaobest : ${#lists.toList(kakaobest)}">
                                    <div class="img-box">
                                        <img th:src="${kakaobest.thumbnail != null && !kakaobest.thumbnail.isEmpty() ? kakaobest.thumbnail : '/usr/v1/assets/images/prod/300/emty-img.jpg'}"
                                        th:alt="${kakaobest.title}"/>
                                    </div>
                                    <p class="book-title" th:text="${kakaobest.title}">읽고 쓰고 소유하다</p>
                                    <p><span class="author" th:text="${kakaobest.getAuthorsWithOthers()}">크리스 딕슨</span> · <span class="publisher" th:text="${kakaobest.publisher}">어크로스</span></p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </section>
            <section class="new_arrivals flexibilization2">
                <div>
                    <div class="area-head d-flex justify-content-between">
                        <div class="d-flex">
                            <h3 class="mb-0">화제의 신상</h3>
                            
                        </div>
                        <div class="d-flex align-items-center"><a class="moreBtn" href="product_list?newNy=1">더보기 +</a></div>
                    </div>
                    
                    <div class="contentArea">
                        <div class="slider-container swiper-container"id="slider6">
                            <div class="swiper-wrapper">
                                <div th:each="newProd:${newProd}" th:onclick="|location.href='@{/product_detail(seq=${newProd.seq})}'|">
                                    <div class="img-box">
                                        <img th:src="${newProd.imgSrc}" th:alt="${newProd.title+' 이미지'}"/>
                                    </div>
                                    <span class="book-type" th:text="${newProd.prodTypeName}">경제/경영</span>
                                    <p class="book-title" th:text="${newProd.title}">읽고 쓰고 소유하다</p>
                                    <p><span class="author" th:text="${newProd.authorCount > 1 ? newProd.name+' 외 '+(newProd.authorCount - 1)+'명':newProd.name}">크리스 딕슨</span> · <span class="publish" th:text="${newProd.publisherName}">어크로스</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </section>
            <section class="kyobo_original">
                <div>
                    <div class="area-head d-flex justify-content-between">
                        <h3>Naver 베스트셀러 api</h3>
                    </div>
                    
                    <div class="contentArea">
                        <div class="slider-container swiper-container"id="slider8">
                            <div class="swiper-wrapper">
                                <div class="prod_list_item" th:each="nvbest : ${#lists.toList(naverbest)}">
                                    <div class="img-box">
                                        <img th:src="${nvbest.image}" th:alt="${nvbest.title}"/>
                                    </div>
                                    <p class="book-title" th:text="${nvbest.title}">읽고 쓰고 소유하다</p>
                                    <p><span class="author" th:text="${nvbest.getAuthorsWithOthers()}">크리스 딕슨</span> · <span class="publisher" th:text="${nvbest.publisher}">어크로스</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </section> 
            <section class="bestseller flexibilization3">
                <div>
                    <div class="area-head d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="title-tab d-flex">
                                 <h3 class="mb-0">베스트</h3>
                            </div>                          
                        </div>
                        <div class="d-flex align-items-center"><a class="moreBtn" href="product_list?bestNy=1">더보기 +</a></div>
                    </div>                    
                    <div class="contentArea">
                        <ul class="best-content gap-5">
                            <li th:each=" bestProd: ${bestProd}" th:onclick="|location.href='@{/product_detail(seq=${bestProd.seq})}'|">
                                <div class="img-box">
                                    <img th:src="${bestProd.imgSrc}" th:alt="${bestProd.title+' 이미지'}">
                                </div>
                                <p class="title" th:text="${bestProd.title}"></p>
                                <p><span class="author" th:text="${bestProd.authorCount > 1 ? bestProd.name+' 외 '+(bestProd.authorCount - 1)+'명':bestProd.name}">히가시노 게이고</span> · <span class="publish" th:text="${bestProd.publisherName}">북다</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </main>
        <div th:replace="~{usr/v1/infra/include/side :: top}"></div>
        <div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
    </div>
    <!-- <script>
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
        });// select피커 작동
    </script> -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="./usr/v1/assets/js/bootstrap.bundle.min.js"></script>

    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->

    <!-- Main Js Required -->
	<!-- <script src="assets/js/main.js"></script> -->

    <!-- Overlay Scroll JS -->
    <!-- <script src="assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="assets/vendor/overlay-scroll/custom-scrollbar.js"></script> -->

    <!-- another-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script> -->

    
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- Bootstrap 5 Bundle JS (includes Popper) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- <script src="assets/js/tiny-slider.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/tiny-slider.css">
    <script src="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/tiny-slider.js"></script> -->
    <!-- Initialize Bootstrap Select -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->
    <script src="./usr/v1/assets/js/header.js"></script>
    <script src="./usr/v1/assets/js/custom.js"></script>
    
    <script>
        function adjustContainerWidth() {
            const parentWidth = document.querySelector('.page-wrapper').offsetWidth;
            const windowWidth = window.innerWidth;
            const scrollbarWidth = windowWidth - parentWidth;
            console.log("windowWidth:",windowWidth);
            console.log("parentWidth:",parentWidth);
            document.querySelector('.swiper-container').style.width = `${parentWidth}px`;
        }
        $('.swiper-wrapper > div').addClass('swiper-slide');
        $(document).ready(function(){
            // $('.selectpicker').selectpicker();
            


            //첫번째슬라이드 설정 - 메인
            var customTexts1 = ["핫 이슈", "발견의 기쁨", "기획전", "eBook", "핫트랙스"];
            // // Swiper 초기화
            const createdGroups = new Set();
            var swiperInstance_swiper_slide = document.querySelectorAll(".main-slider-wrapper .swiper-slide") ;
            for (let i = 0; i < swiperInstance_swiper_slide.length; i++) {
                swiperInstance_swiper_slide[i].classList.add("groupSlider"+i);
                
            }
            // 슬라이드의 수를 구합니다.
            var slideCount = swiperInstance_swiper_slide.length;

            var swiper1 = new Swiper('.swiper-container#slider1', {
                slidesPerView: 1, // 한 번에 보이는 슬라이드 수
                slidesPerGroup: 1, // 슬라이드 이동 시 그룹 크기
                effect: 'fade',
                fadeEffect: { crossFade: true },
                observer: true,
                observeParents: true,
                loop: true, // 루프 모드 활성화
                // loopAdditionalSlides: 0, // 기본값으로 설정해 보기
                // loopedSlides: slideCount, // 슬라이드 수에 맞춰 설정 (슬라이드 수와 동일하게 설정)
                speed: 1000,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.main-slider-wrapper .swiper-pagination', // 페이지네이션 요소
                    clickable: true, // 페이지네이션 클릭 가능 설정
                    renderBullet: function (index, className) {
                        const groupClass = getGroupClass(index);
                        // console.log(index);
                        // console.log(groupClass);
                        const groupIndex = parseInt(groupClass.replace('group-', '')) - 1; // 'group1', 'group2'에서 숫자만 추출
                        const text = customTexts1[groupIndex];
                        
                        // console.log(groupIndex);
                        // console.log(text);
                        // console.log(createdGroups);
                        
                        // Set을 사용해 중복된 그룹 불릿 방지
                        if (groupClass && !createdGroups.has(groupClass)) {
                            createdGroups.add(groupClass); // 그룹 추가하여 중복 방지
                            return `<li class="${className} ${groupClass}">${text}</li>`;
                        }
                        return ''; // 중복된 불릿은 생성하지 않음
                        // else if (!existingBullet) {
                        //     return `<span class="${className} ${groupClass}"></span>`;
                        // }else{
                        //     return '';
                        // }
                        
                    },
                },
                navigation: {
                    nextEl: '.main-slider-wrapper .next',
                    prevEl: '.main-slider-wrapper .prev',
                },
                onSlideChangeEnd : function(event){
                    var num = getSlideDataIndex(event)

                },
                on: {
                    resize: function (){
                        adjustContainerWidth();
                        swiper1.update();
                    },
                    init: function () {
                        adjustContainerWidth();
                        updatePagination(this); // 초기화 후 페이지네이션 상태 설정
                    },
                    slideChange: function () {
                        updatePagination(this); // 현재 Swiper 인스턴스 참조
                    },
                }
                
            });

            //페이지네이션 불릿 클릭 이벤트 처리
            document.querySelector('.main-slider-wrapper .swiper-pagination').addEventListener('click', function(event) {
                const clickedBullet = event.target; // 클릭된 불릿 요소
                const groupClass = Array.from(clickedBullet.classList).find(cls => cls.startsWith('group')); // 클릭된 불릿의 그룹 클래스 찾기
                if (groupClass) {
                    // 해당 그룹의 첫 슬라이드 인덱스 찾기
                    console.log("groupClass: "+groupClass);
                    const firstSlideIndex = findFirstSlideIndex(groupClass);
                    console.log("firstSlideIndex: "+firstSlideIndex);
                    if (firstSlideIndex !== null) {
                        
                        swiper1.slideToLoop(firstSlideIndex); // 첫 슬라이드로 이동
                        
                    }
                }
            });         
            
            //현재 슬라이드의 그룹 클래스를 반환하는 함수
            function getGroupClass(index) {
                // console.log(swiperInstance_swiper_slide[index]);
                const slide = swiperInstance_swiper_slide[index]; // 현재 슬라이드 요소
                // console.log(Array.from(slide.classList).find(cls => cls.startsWith('group')));
                return slide ? Array.from(slide.classList).find(cls => cls.startsWith('group')) : null; // 그룹 클래스 반환
            }

            // 특정 그룹의 첫 슬라이드 인덱스를 찾는 함수
            function findFirstSlideIndex(groupClass) {
                console.log(swiper1.slides);
                // 슬라이드를 `groupSliderX` 클래스를 기준으로 정렬
                const slides = Array.from(swiper1.slides);
                slides.sort((a, b) => {
                    // 슬라이드의 `groupSliderX` 클래스 추출
                    const classA = Array.from(a.classList).find(cls => cls.startsWith('groupSlider'));
                    const classB = Array.from(b.classList).find(cls => cls.startsWith('groupSlider'));

                    // 클래스가 없는 경우 가장 큰 값을 지정
                    const numA = classA ? parseInt(classA.replace('groupSlider', '')) : Infinity;
                    const numB = classB ? parseInt(classB.replace('groupSlider', '')) : Infinity;

                    // 숫자 순서대로 정렬
                    return numA - numB;
                });
                for (let i = 0; i < swiper1.slides.length; i++) {
                    const slide = slides[i];
                    console.log("뭘까나:"+Array.from(slide.classList).includes(groupClass));
                    if (Array.from(slide.classList).includes(groupClass)) {
                        console.log("findFirstSlideIndex:"+ i);
                        console.log("##slide: "+slide.classList);
                        // return i; // 첫 번째 슬라이드 인덱스 반환
                        console.log("찾은 index: "+ i);
                        console.log("찾은슬라이더: "+ slide.classList);
                        return i; 
                    }
                    // console.log("findFirstSlideIndex2:"+ i);
                }
                return null; // 그룹에 해당하는 슬라이드가 없는 경우
            }
            //페이지네이션 상태를 업데이트하는 함수
            function updatePagination(swiper) {
                const activeIndex = swiper.realIndex; // 현재 활성화된 슬라이드 인덱스
                const bullets = document.querySelectorAll('.main-slider-wrapper .swiper-pagination-bullet'); // 모든 페이지네이션 불릿 요소
                const activeGroupClass = getGroupClass(activeIndex); // 현재 활성화된 슬라이드의 그룹 클래스
                
                // 모든 불릿 요소를 순회하며 활성화된 그룹에 맞게 스타일 설정
                bullets.forEach(bullet => {
                    const bulletGroupClass = Array.from(bullet.classList).find(cls => cls.startsWith('group')); // 불릿의 그룹 클래스
                    if (bulletGroupClass === activeGroupClass) {
                        bullet.classList.add('swiper-pagination-bullet-active'); // 활성화된 그룹의 불릿에 스타일 추가
                    } else {
                        bullet.classList.remove('swiper-pagination-bullet-active'); // 비활성화된 그룹의 불릿에서 스타일 제거
                    }
                });
            }

            function getSlideDataIndex(swipe){
                var activeIndex = swipe.activeIndex;
                var slidesLen = swipe.slides.length;
                if(swipe.params.loop){
                    switch(swipe.activeIndex){
                        case 0:
                            activeIndex = slidesLen-3;
                            break;
                        case slidesLen-1:
                            activeIndex = 0;
                            break;
                        default:
                            --activeIndex;
                    }
                }
                return  activeIndex;

            }

             //auto토글버튼
            const toggleButton1 = document.querySelector('.main-slider-wrapper .auto-toggle');
            const toggleIcon1 = toggleButton1.querySelector('i');
            let isAutoplaying1 = true; // 현재 자동 재생 상태를 추적

            toggleButton1.addEventListener('click', () => {
                if (isAutoplaying1) {
                    swiper1.autoplay.stop();
                    toggleIcon1.classList.remove('fa-stop');
                    toggleIcon1.classList.add('fa-play');
                    toggleButton1.innerHTML = '<i class="fa-solid fa-play"></i>';
                } else {
                    swiper1.autoplay.start();
                    toggleIcon1.classList.add('fa-stop');
                    toggleIcon1.classList.remove('fa-play');
                    toggleButton1.innerHTML = '<i class="fa-solid fa-stop"></i>';
                }
                isAutoplaying1 = !isAutoplaying1; // 자동 재생 상태 토글
            });

            //2번째슬라이더 - 오늘의 선택
            var swiper2 = new Swiper('.swiper-container#slider2', {
                slidesPerView: 5, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 1, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                simulateTouch: false, // 터치 드래그 비활성화
                allowTouchMove: false, // 터치 이동 비활성화
                loop: true, // 슬라이드가 끝없이 반복되도록 설정
                navigation: {
                    nextEl: '.md_pick_list .swiper-button-next', // 다음 버튼
                    prevEl: '.md_pick_list .swiper-button-prev', // 이전 버튼
                },
            });

            //casting - 교보 오리지널 다음부분

            var $sliderNav = $('.slider-nav');
            var $sliderFor = $('.slider-for');

            $sliderFor.slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                fade: true,
                draggable: true,
                infinite: false,
                asNavFor: '.slider-nav',
                arrows: false // 기본 네비게이션 버튼 비활성화
            });

            $sliderNav.slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                fade: true,
                centerMode: false,
                focusOnSelect: true,
                infinite: false, // 무한 루프 비활성화
                draggable: true, // 드래그 비활성화
                arrows: false // 기본 네비게이션 버튼 비활성화
            });

            // 슬라이더 동기화 맞추기
            $sliderNav.on('afterChange', function(event, slick, currentSlide){
                $sliderFor.slick('slickGoTo', currentSlide);
            });

            // 네비게이션 슬라이더에 좌우 버튼 기능 추가
            $('.nav-prev').on('click', function(){
                $sliderNav.slick('slickPrev');
            });

            $('.nav-next').on('click', function(){
                $sliderNav.slick('slickNext');
            });

            //초기화 시 주 슬라이더의 위치를 네비게이션 슬라이더에 맞추기
            $sliderFor.slick('slickGoTo', $sliderNav.slick('slickCurrentSlide'));
           
            
            var swiper3 = new Swiper('.swiper-container#slider3', {
                slidesPerView: 4, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 4, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                // loop: true, // 슬라이드가 끝없이 반복되도록 설정
                // pagination: {
                //     el: '.swiper-pagination',
                //     clickable: true, // 페이지네이션을 클릭할 수 있도록 설정
                // },
                navigation: {
                    nextEl: '.mostView .swiper-button-next', // 다음 버튼
                    prevEl: '.mostView .swiper-button-prev', // 이전 버튼
                },
            });

            //
            var swiper5 = new Swiper('.swiper-container#slider5', {
                slidesPerView: 5, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 5, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                // loop: true, // 슬라이드가 끝없이 반복되도록 설정
                // pagination: {
                //     el: '.swiper-pagination',
                //     clickable: true, // 페이지네이션을 클릭할 수 있도록 설정
                // },
                navigation: {
                    nextEl: '.art_culture .swiper-button-next', // 다음 버튼
                    prevEl: '.art_culture .swiper-button-prev', // 이전 버튼
                },
            });

            //화제의 신상
            var swiper6 = new Swiper('.swiper-container#slider6', {
                slidesPerView: 5, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 5, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                // loop: true, // 슬라이드가 끝없이 반복되도록 설정
                // pagination: {
                //     el: '.swiper-pagination',
                //     clickable: true, // 페이지네이션을 클릭할 수 있도록 설정
                // },
                navigation: {
                    nextEl: '.new_arrivals .swiper-button-next', // 다음 버튼
                    prevEl: '.new_arrivals .swiper-button-prev', // 이전 버튼
                },
            });

            //히트
            var swiper7 = new Swiper('.swiper-container#slider7', {
                slidesPerView: 3, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 3, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                navigation: {
                    nextEl: '.hit .swiper-button-next', // 다음 버튼
                    prevEl: '.hit .swiper-button-prev', // 이전 버튼
                },
            });

            //교보 오리지널
            var swiper8 = new Swiper('.swiper-container#slider8', {
                slidesPerView: 5, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 5, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                navigation: {
                    nextEl: '.kyobo_original .swiper-button-next', // 다음 버튼
                    prevEl: '.kyobo_original .swiper-button-prev', // 이전 버튼
                },
            });

            //이벤트
            var swiper9 = new Swiper('.swiper-container#slider9', {
                slidesPerView: 1, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 1, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 1,
                loop: true,
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.kyobo_event .swiper-button-next', // 다음 버튼
                    prevEl: '.kyobo_event .swiper-button-prev', // 이전 버튼
                },
            });
           
            var swiper10 = new Swiper('.swiper-container#slider10', {
                slidesPerView: 4, // 한 번에 보여줄 슬라이드 개수
                slidesPerGroup: 4, // 한 번에 넘길 슬라이드 개수
                spaceBetween: 30, // 슬라이드 간의 간격 (픽셀 단위)
                navigation: {
                    nextEl: '.publish_pod .swiper-button-next', // 다음 버튼
                    prevEl: '.publish_pod .swiper-button-prev', // 이전 버튼
                },
            });

        });
        window.addEventListener('resize', () => {
            swiper1.update();
            swiper1.updateSize();
            swiper1.updateSlides();
        });
    </script>
</body>
</html>