<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/usr/v1/assets/images/favicon.svg"> -->
    
    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/product_buy.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="navbar_pc">
                <div class="customer_service_area d-flex justify-content-end">
                    <div class="customer_service_box d-flex  align-items-center">
                        <ul class="d-flex gap-3">
                            <li class="">
                                <a href="signup">회원가입</a>
                            </li>
                            <li class="">
                                <a href="login">로그인</a>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">회원혜택</a>
                            </li> -->
                            <li class="">
                                <a href="user_order_list">주문배송</a>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">매장안내</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);">고객센터</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="scrolltable">
                    <div class="gnb_search d-flex justify-content-between gap-5">
                        <div class="search_wrapper d-flex align-items-center  gap-5">
                            <div class="logo" onclick="window.location.href='index'">
                                <img src="./usr/v1/assets/images/logo_book.svg" alt="">
                            </div>
                            <div class="search_area w-100">
                                <div class="search_box d-flex align-items-center gap-3">
                                    <input type="text" class="input-search">
                                    <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="user_box d-flex align-items-center gap-4">
                            <div class="cart" onclick="window.location.href='user_cart'">
                                <img src="./usr/v1/assets/images/btn_header_cart@2x.png" alt="">
                            </div>
                            <a class="user_my" href="user_account?seq=1">
                                <img src="./usr/v1/assets/images/btn_header_my@2x.png" alt="">
                            </a>
                        </div>
                    </div>
                    <nav class="gnb_list d-flex align-items-center gap-4">
                        <div class="gnb_wrapper d-flex align-items-center gap-5">
                            <button class="circle_btn"><i class="fa-solid fa-bars"></i></button>
                            <div class="anb_wrapper">
                                <div class="anb_wrapper_area">
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">국내도서</h5>
                                        <ul>
                                            <li onclick="window.location.href='product_list'">국내도서 - 소설</li>
                                            <li onclick="window.location.href='product_list'">국내도서 - 시/에세이</li>
                                            <li onclick="window.location.href='product_detail?seq=1'">도서 상세보기</li>
                                            <li onclick="window.location.href='product_buy'">도서 구매</li>
                                        </ul>
                                    </div>
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">회원정보</h5>
                                        <ul>
                                            <li onclick="window.location.href='user_order_list?seq=1'">주문/배송목록</li>
                                            <li onclick="window.location.href='user_delivery_address'">배송주소록</li>
                                            <li onclick="window.location.href='user_delivery_address_add'">배송지추가</li>
                                            <li onclick="window.location.href='user_account'">회원정보 변경</li>
                                            <li onclick="window.location.href='user_password'">비밀번호 변경</li>
                                        </ul>
                                    </div>
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">그외 기타</h5>
                                        <ul>
                                            <li onclick="window.location.href='login'">로그인</li>
                                            <li onclick="window.location.href='signup'">회원가입</li>
                                            <li onclick="window.location.href='account_recovery'">비밀번호 찾기</li>
                                            <li onclick="window.location.href='account_recovery'">아이디 찾기</li>
                                            <li onclick="window.location.href='header_ver2'">헤더 다른버전2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="gnb_link gap-3">
                            <li onclick="window.location.href='product_list'">국내도서</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="content_wrapper">
                <div class="header_box">
                    <h3>주문/결제</h3>
                    <div></div>
                </div>
                <div class="contentArea">
                    <div class="left-box">
                        <div class="delivery_Info_area">
                            <table>
                                <colgroup>
                                    <col style="width: 200px;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tr>
                                    <th>배송지 정보</th>
                                    <td>
                                        <div class="address_name_box">
                                            <p>
                                                <span class="address_name" th:text="${item.addressName}">집</span>
                                            </p>
                                            <button type="button" class="btn">변경</button>
                                        </div>
                                        <div class="address_Info">
                                            <p>
                                                <span class="rec_name" th:text="${item.RecipientName}">홍길동</span>
                                                <span> / </span>
                                                <span class="rec_phone" th:text="${item.RecipientPhone != null ? (item.RecipientPhone.startsWith('02') ? 
                                                #strings.substring(item.RecipientPhone, 0, 2) + '-' + 
                                                #strings.substring(item.RecipientPhone, 2, 6) + '-' + 
                                                #strings.substring(item.RecipientPhone, 6) : 
                                                #strings.substring(item.RecipientPhone, 0, 3) + '-' + 
                                                #strings.substring(item.RecipientPhone, 3, 7) + '-' + 
                                                #strings.substring(item.RecipientPhone, 7)) : ''}" >010-1234-5678</span>
                                            </p>
                                        </div>
                                        <div class="detail_address">
                                            <p class="ship_address_box"><span class="post_number">[01717]</span> <span class="ship_address" th:text="${item.address}">서울특별시 노원구 한글비석로14길 42 (중계동, 중앙하이츠아파트)</span> <span class="detail_address">101동101호</span></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>배송요청사항</th>
                                    <td>
                                        <select class="form-select" name="" id="">
                                            <option value="1">현관앞에 가져다주세요</option>
                                            <option value="2">경비실에 맡겨주세요</option>
                                            <option value="3">배송전에 연락주세요</option>
                                            <option value="4">직접입력</option>
                                        </select>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <th>공동현관 출입방법</th>
                                    <td></td>
                                </tr> -->
                            </table>
                            <!-- <div><span>편의점 배송, 해외배송으로 받기</span></div> -->
                        </div>
                        <div class="order_products_area">
                            <div class="header_box">
                                <div>
                                    <h5>주문상품</h5>
                                    <p class="total_qty">총 <span>1</span>개</p>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-up"></i>
                                </div>
                            </div>
                            <div class="orderList_box">
                                <ul>
                                    <li>
                                        <div class="prod_img">
                                            <div class="img-box">
                                                <img src="/usr/v1/assets/images/prod/200/9791193289273.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="prod_title_box">
                                            <p class="prod_title" onclick="window.location.href='product_detail'">
                                                [<span class="prod_type">국내도서</span>]
                                                <span >나쁜 검사들</span>
                                            </p>
                                        </div>
                                        <div class="pord_quantity">
                                            <span>1</span>개
                                        </div>
                                        <div class="prod_price">
                                            <p class="disc_price"><span >15,750</span>원</p>
                                            <p class="regular_price"><span >17,500</span>원</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="delivery_date_box">
                                <p>교보문고 배송</p>
                                <p><span class="delivery_date">8/17(토)</span><span>도착</span></p>
                            </div>
                        </div>
                        <div class="discount_coupon_area">
                            <h5 class="box_label">할인쿠폰</h5>
                            <div class="coupons"></div>
                        </div>
                        <div class="cash_point">
                            <div class="header_box">
                                <div>
                                    <h5 class="box_label">캐시/포인트</h5>
                                    <div class="cash_point_total">
                                        <p>보유 <span>0</span> 원</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-up"></i>
                                </div>
                            </div>
                            <div class="cash_point_list">
                                <table>
                                    <tr>
                                        <th>포인트</th>
                                        <td class="available_box">
                                            <p class="available"><span>1,000</span> 원</p>
                                        </td>
                                        <td>
                                            <div class="use_number">
                                                <input type="number" class="form-control" step="10" name="" id="" value="0">
                                                <span>원</span>
                                            </div>
                                            <button class="use_all btn">전액사용</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>교보캐시</th>   
                                        <td class="available_box">
                                            <p class="available"><span>1,000</span> 원</p>
                                        </td>
                                        <td>
                                            <div class="use_number">
                                                <input type="number" class="form-control" step="10" name="" id="" value="0">
                                                <span>원</span>
                                            </div>
                                            <button class="use_all btn">전액사용</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                        <div class="payment_type_box">
                            <div class="header_box">
                                <div>
                                    <h5>결제 수단</h5>
                                </div>
                            </div>
                            <div class="quick_payment unchecked-parent">
                                <input type="radio" class="form-radio-input" name="payment_type" id="quick_pay" disabled>
                                <label for="quick_pay">간편결제</label>
                            </div>
                            <div class="other_payment">
                                <input type="radio" class="form-radio-input" name="payment_type" id="other_pay" checked>
                                <label for="other_pay">다른 결제 수단</label>
                            </div>
                            <ul class="other_payment_list">
                                <li>
                                    <input type="radio" name="payment_list" id="payment_card" >
                                    <label for="payment_card">
                                        신용/체크카드
                                    </label>
                                    
                                </li>
                                <li>
                                    <input type="radio" name="payment_list" id="payment_direct_bank_transfer">
                                    <label for="payment_direct_bank_transfer">
                                        무통장 결제
                                    </label>
                                    
                                </li>
                                <li>
                                    <input type="radio" name="payment_list" id="payment_phone">
                                    <label for="payment_phone">
                                        휴대폰 결제
                                    </label>
                                    
                                </li>
                            </ul>
                            <ul class="other_payment_detail">
                                <li class="payment_list_checked">
                                    <div class="payment_list_box">
                                        <div>
                                            <select class="form-select" name="" id="">
                                                <option value="0" selected>카드를 선택해주세요</option>
                                                <option value="1">신한카드</option>
                                                <option value="2">KB국민카드</option>
                                                <option value="3">BC카드(페이북)</option>
                                                <option value="4">현대카드</option>
                                                <option value="5">롯데카드</option>
                                                <option value="6">하나카드</option>
                                                <option value="7">삼성카드</option>
                                                <option value="8">우리카드</option>
                                                <option value="9">씨티카드</option>
                                                <option value="10">NH카드</option>
                                                <option value="11">카카오뱅크카드</option>
                                                <option value="12">케이뱅크카드</option>
                                                <option value="13">외환카드</option>
                                                <option value="14">기타</option>
                                            </select>
                                        </div>
                                        <input type="checkbox" class="form-check-input" name="" id="use_for_future">
                                        <label for="use_for_future">이 결제수단을 다음에도 사용</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="payment_list_box">
                                        <div>
                                            <select class="form-select" name="" id="">
                                                <option value="0" selected>은행를 선택해주세요</option>
                                                <option value="1">국민은행</option>
                                                <option value="2">기업은행</option>
                                                <option value="3">농협은행</option>
                                                <option value="4">신한은행</option>
                                                <option value="5">우리은행</option>
                                                <option value="6">우체국</option>
                                                <option value="7">하나은행</option>
                                            </select>
                                        </div>
                                        <input type="checkbox" class="form-check-input" name="" id="use_for_future">
                                        <label for="use_for_future">이 결제수단을 다음에도 사용</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="payment_list_box">
                                        <input type="checkbox" class="form-check-input" name="" id="use_for_future">
                                        <label for="use_for_future">이 결제수단을 다음에도 사용</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="request_cash_receipt_box">
                            <input type="checkbox" class="form-check-input" name="" id="request_cash_receipt">
                            <label for="request_cash_receipt">현금영수증 신청</label>
                        </div>
                    </div>
                    <div class="right-box">
                        <div>
                            <ul>
                                <li>
                                    <p>상품 금액</p>
                                    <p class="prod_total_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li>
                                    <p>배송비</p>
                                    <p class="delivery_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li>
                                    <p>상품 할인</p>
                                    <p class="sale_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li>
                                    <p>쿠폰 할인</p>
                                    <p class="coupon_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li>
                                    <p>포인트 사용</p>
                                    <p class="point_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li class="total_box">
                                    <p>최종 결제 금액</p>
                                    <p class="order_total_price">
                                        <span>0</span> 원
                                    </p>
                                </li>
                                <li>
                                    <p>적립 예정 포인트</p>
                                    <p class="pending_points">
                                        <span>0</span> p
                                    </p>
                                </li>
                            </ul>
                            <button class="btn btn-blue w-100">결제하기</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        <div class="top_btn"><i class="fa-solid fa-xl fa-chevron-up"></i></div>
        <footer>
            <div class="notice">
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>공지사항</strong>
                            <span class="notice_text">
                                상품권(해피머니, 컬쳐캐쉬) 사용 일시 중지 안내
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    <span class="line_space">|</span>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>당첨자발표</strong>
                            <span class="notice_text">
                                [로맨스/BL소설][24년 7/5] 먼슬리 교보💰캐시DREAM 당첨자 발표
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    
                </div>
            </div>
            <div class="footer mt-3">
                <div class="footer-top d-flex justify-content-between">
                    <div class="logo">
                        <img src="/usr/v1/assets/images/img_logo_kyobo_member@2x.png" alt="">
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <select class="form-select" name="" id="">
                            <option value="">Family Site</option>
                        </select>
                        <div class="icons d-flex gap-3">
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_youtube_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_fb_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_insta_v2@2x.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-flex mt-3 gap-2">
                    <div class="left-box">
                        <ul class="footer_menu_list d-flex gap-3">
                            <li>회사소개</li>
                            <li>이용약관</li>
                            <li>개인정보처리방침</li>
                            <li>청소년보호정책</li>
                            <li>대량주문안내</li>
                            <li>협력사여러분</li>
                            <li>채용정보</li>
                            <li>광고소개</li>
                        </ul>
                        <ul class="footer_info_box d-flex flex-wrap gap-1 mt-3">
                            <li>대표이사 : 안병현, 김상훈</li>
                            <li>서울특별시 종로구 종로 1</li>
                            <li>사업자등록번호 : 102-81-11670</li>
                            <li>대표전화 : 1544-1900(발신자 부담전화)</li>
                            <li>FAX : 0502-987-5711(지역번호 공통)</li>
                            <li>서울특별시 통신판매업신고번호 : 제 653호</li>
                            <li class="btn_footer">사업자정보확인</li>
                        </ul>
                        <div class="copyright"></div>
                    </div>
                    <div class="right-box">
                        <div>
                            <p>
                                <span>토스페이먼츠 구매안전서비스</span>
                                <span class="btn_footer">서비스 가입 확인</span>
                            </p>
                            <span>
                                고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한<br>
                                토스페이먼츠의 구매안전서비스를 이용하실 수 있습니다.
                            </span>
                        </div>

                        <div class="d-flex mt-3 gap-3">
                            <div class="d-flex gap-2">
                                <div class="img-box">
                                    <img src="/usr/v1/assets/images/img_mark_isms@2x.png" alt="">
                                </div>
                                <p>
                                    정보보호관리체계<br>ISMS 인증획득
                                </p>
                            </div>
                            <div>
                                <p>
                                    [인증범위] 인터넷 교보문고 및 브랜드 서비스 운영<br>
                                    [유효기간] 2023.11.15 ~ 2026.11.14
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/usr/v1/assets/js/custom.js"></script>
    <script src="/usr/v1/assets/js/buy.js"></script>
    <script src="/usr/v1/assets/js/header.js"></script>

</body>
</html>