<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/bootstrap.min.css" /> -->
    <!-- <link rel="shortcut icon" href="/usr/v1/assets/images/favicon/favicon_256x256.png"> -->
    <link rel="icon" type="image/png" sizes="256x256" href="/usr/v1/assets/images/favicon/favicon_256x256.png">
    
    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- nouislider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js" integrity="sha512-g/feAizmeiVKSwvfW0Xk3ZHZqv5Zs8PEXEBKzL15pM0SevEvoX8eJ4yFWbqakvRj7vtw1Q97bLzEpG2IVWX0Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/usr/v1/assets/js/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/usr/v1/assets/css/nouislider.min.css">
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/product_list.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="navbar_pc">
                <div class="customer_service_area d-flex justify-content-end">
                    <div class="customer_service_box d-flex  align-items-center">
                        <ul class="d-flex gap-3">
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="signup">회원가입</a>
                            </li>
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="login">로그인</a>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">회원혜택</a>
                            </li> -->
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <a th:href="@{user_order_list(seq=${session.sessSeqXdm})}">주문배송</a>
                            </li>
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <span id="logoutBtn">로그아웃</span>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">매장안내</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);">고객센터</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="scrolltable">
                    <div class="scrolltable_area">
                        
                        <div class="gnb_search d-flex justify-content-between gap-5">
                            <div class="search_wrapper d-flex align-items-center  gap-5">
                                <div class="logo" onclick="window.location.href='index'">
                                    <img src="./usr/v1/assets/images/logo_book.svg" alt="">
                                </div>
                                <div class="search_area w-100">
                                    <div class="search_box d-flex align-items-center gap-3">
                                        <input type="text" class="input-search">
                                        <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="user_box">
                                <div class="cart" onclick="window.location.href='user_cart'">
                                    <img src="./usr/v1/assets/images/btn_header_cart@2x.png" alt="">
                                </div>
                                <div class="user_my" onclick="window.location.href='user_account'">
                                    <img src="./usr/v1/assets/images/btn_header_my@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                       
    
                        <nav class="gnb_list d-flex align-items-center gap-4">
                            <div class="gnb_wrapper d-flex align-items-center gap-5">
                                <button class="circle_btn"><i class="fa-solid fa-bars"></i></button>
                                <div class="anb_wrapper">
                                    <div class="anb_wrapper_area">
                                        <div class="anb_wrapper_list">
                                            <h5 class="anb_category">국내도서</h5>
                                            <ul>
                                                <li onclick="window.location.href='product_list'">국내도서 - 소설</li>
                                                <li onclick="window.location.href='product_list'">국내도서 - 시/에세이</li>
                                                <li onclick="window.location.href='product_detail?seq=1'">도서 상세보기</li>
                                                <li onclick="window.location.href='product_buy'">도서 구매</li>
                                            </ul>
                                        </div>
                                        <div class="anb_wrapper_list">
                                            <h5 class="anb_category">회원정보</h5>
                                            <ul>
                                                <li onclick="window.location.href='user_order_list?seq=1'">주문/배송목록</li>
                                                <li onclick="window.location.href='user_delivery_address'">배송주소록</li>
                                                <li onclick="window.location.href='user_delivery_address_add'">배송지추가</li>
                                                <li onclick="window.location.href='user_account'">회원정보 변경</li>
                                                <li onclick="window.location.href='user_password'">비밀번호 변경</li>
                                            </ul>
                                        </div>
                                        <div class="anb_wrapper_list">
                                            <h5 class="anb_category">그외 기타</h5>
                                            <ul>
                                                <li onclick="window.location.href='login'">로그인</li>
                                                <li onclick="window.location.href='signup'">회원가입</li>
                                                <li onclick="window.location.href='account_recovery'">비밀번호 찾기</li>
                                                <li onclick="window.location.href='account_recovery'">아이디 찾기</li>
                                                <li onclick="window.location.href='header_ver2'">헤더 다른버전2</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="gnb_link gap-3">
                                <li onclick="window.location.href='product_list'">국내도서</li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </header>
        <main>
            <!-- <div class="breadcrumb_wrapper">
                <ol class="breadcrumb d-md-flex d-none">
                    <li class="breadcrumb-item">
                        <i class="bi bi-house"></i>
                        <a href="index">Home</a>
                    </li>
                    <li class="breadcrumb-item">국내도서</li>
                    <li class="breadcrumb-item">소설</li>
                    <li class="breadcrumb-item">한국소설</li>
                    <li class="breadcrumb-item breadcrumb-active" aria-current="page">전체</li>
                </ol>
            </div> -->
            <div class="content_wrapper">
                <form id="searchForm" name="searchFrom" autocomplete="off" method="post" action="product_list">
                    <div class="d-flex gap-5">
                        <div class="left-box">
                            <div class="list_fillter_box">
                                <div class="mb-4"><h3>국내도서</h3></div>
                                <div class="prod_types_box mb-4">
                                    <input id="inputProdType" type="hidden" name="prodType" value="33" th:value="${vo.prodType}">
                                    <div id="prodType0" class="prodType gap-1" th:classappend="${vo.prodType == 33 && vo.prodType==34 || vo.prodType == null ? 'active' : ''}">
                                        <label for="inputProdType0"><h5>전체보기</h5></label>
                                        <input id="inputProdType0" type="radio" name="prodType" value="" th:checked="${vo.prodType != 33 && vo.prodType==34}">
                                    </div>
                                    <div id="prodType1" class="prodType gap-1" th:classappend="${vo.prodType == 33} ? 'active' : ''">
                                        <label for="inputProdType1"><h5>소설</h5></label>
                                        <input id="inputProdType1" type="radio" name="prodType" value="33" th:checked="${vo.prodType==33}">
                                    </div>
                                    <div id="prodType2" class="prodType gap-1" th:classappend="${vo.prodType == 34} ? 'active' : ''">
                                        <label for="inputProdType2"><h5>시/에세이</h5></label>
                                        <input id="inputProdType2" type="radio" name="prodType" value="34" th:checked="${vo.prodType==34}">
                                    </div>
                                </div>
                                
                                <!-- <ul class="d-flex flex-column gap-3">
                                    <li>
                                        한국소설일반
                                    </li>
                                    <li>
                                        고전소설/문학선
                                    </li>
                                    <li>
                                        공포/호러소설
                                    </li>
                                    <li>
                                        미스터리/스릴러소설
                                    </li>
                                    <li>
                                        역사/대하소설
                                    </li>
                                    <li>
                                        라이트노벨
                                    </li>
                                    <li>
                                        SF/과학소설
                                    </li>
                                    <li>
                                        판타지소설
                                    </li>
                                    <li>
                                        로맨스소설
                                    </li>
                                    <li>
                                        무협소설
                                    </li>
                                    <li>
                                        청소년소설
                                    </li>
                                    <li>
                                        웹소설
                                    </li>
                                    <li>
                                        드라마/영화소설
                                    </li>
                                </ul> -->
                                <ul class="SearchOption1 d-flex flex-column">
                                    <li class="allViewBtn" th:classappend="${(vo.bestNy == null && vo.todayPickNy == null && vo.newNy == null)||(vo.bestNy == 0 && vo.todayPickNy == 0 && vo.newNy == 0) ? 'active' : ''} ">
                                        <label for="inputAllview">전체보기</label>
                                        <!-- <input id="inputAllview" type="radio" name="bestNy" value="0" th:checked="${vo.bestNy==0}"> -->
                                    </li>
                                    <li class="bsetNyBtn" th:classappend="${vo.bestNy == 1} ? 'active' : '' ">
                                        <label for="inputBestNy">베스트셀러</label>
                                        <!-- <input id="inputBestNy" type="radio" name="bestNy" value="1" th:checked="${vo.bestNy==1}"> -->
                                        <input id="inputBestNy" type="hidden" name="bestNy"  value="0">
                                    </li>
                                    <li class="newNyBtn" th:classappend="${vo.newNy == 1} ? 'active' : '' ">
                                        <label for="inputNewNy">신상품</label>
                                        <!-- <input id="inputTodayPickNy" type="radio" name="newNy" value="1" th:checked="${vo.newNy==1}"> -->
                                        <input id="inputNewNy" type="hidden" name="newNy"  value="0">
                                    </li>
                                    <li class="todayPickNyBtn" th:classappend="${vo.todayPickNy == 1} ? 'active' : '' ">
                                        <label for="inputTodayPickNy">Today's Pick</label>
                                        <!-- <input id="inputTodayPickNy" type="radio" name="todayPickNy" value="1" th:checked="${vo.todayPickNy==1}"> -->
                                        <input id="inputTodayPickNy" type="hidden" name="todayPickNy"  value="0">
                                    </li>
                                </ul>
                                <div class="bage_search_box">
                                    <label for="bage">혜택/조건</label>
                                    <ul class="bage_list" >
                                        <li class="bage_item" th:each="bage : ${bages}" >
                                            <label th:for="'bageItem'+${bage.seq}">
                                                <span th:text="${bage.codeName}"></span>
                                                <input type="checkbox" name="seq" th:id="'bageItem'+${bage.seq}">
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search_ranges_box">
                                    <div class="price_range_box">
                                        <label for="price_range">가격별</label>
                                        <div id="price-slider">
                                                
                                        </div>
                                        <div class="range_box">
                                            <!-- <input type="range" id="price_range1" class="min-range value-range" name="minPrice" step="500" min="0" max="50000" value="0" th:value="${vo.minPrice}">
                                            <input type="range" id="price_range2" class="max-range value-range" name="maxPrice" step="500" min="0" max="50000" value="50000" th:value="${vo.maxPrice}"> -->
                                            <!-- <div class="range-control">
                                                <div class="track"></div>
                                                <div class="range"></div>
                                                <div class="thumb left"></div>
                                                <div class="thumb right"></div>
                                            </div> -->
                                        </div>
                                        <div class="value_display_box">
                                            <input type="number" id="min-price" class="value_display left price_range1" name="minPrice" step="500" min="0" max="50000" value="0" th:value="${vo.minPrice}">
                                            <span>~</span>
                                            <input type="number" id="max-price" class="value_display right price_range2" name="maxPrice" step="500" min="0" max="50000" value="50000" th:value="${vo.maxPrice}">
                                        </div>
                                    </div>
                                    <div class="review_range_box">
                                        <label for="review_range">리뷰별</label>
                                        <div id="review-slider">
                                                
                                        </div>
                                        <div class="range_box">
                                            <!-- <input type="range" id="price_range3" class="min-range value-range" step="1" min="0" max="10" value="0" th:>
                                            <input type="range" id="price_range4" class="max-range value-range" step="1" min="0" max="10" value="10"> -->
                                            <!-- <div class="range-control">
                                                <div class="track"></div>
                                                <div class="range"></div>
                                                <div class="thumb left"></div>
                                                <div class="thumb right"></div>
                                            </div> -->
                                        </div>
                                        <div class="value_display_box">
                                            <input type="number" id="min-review" class="value_display left price_range3" name="minReview" min="0" max="10" value="0" th:value="${vo.minReview}">
                                            <span>~</span>
                                            <input type="number" id="max-review" class="value_display right price_range4" name="maxReview" min="0" max="10" value="10" th:value="${vo.maxReview}">
                                        </div>
                                        <!-- <input type="range" id="review_range" class="value-range2" min="0" max="10" value="0"> -->
                                    </div>
                                    <div class="price_search_btn_box">
                                        <button class="btn" id="resetBtn" type="reset">조건 리셋</button>
                                        <button class="btn" type="submit">조건 검색</button>
                                    </div>
                                </div>
                                <div class="makeDateFillterBox">
                                    <label for="makeDateFillter">출간일</label>
                                    <div class="makeDateFillterList">
                                        <label class="form-check-label" for="makeDateFillterAll">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillterAll" value="0" th:checked="${vo.makeDateFillter == null or vo.makeDateFillter == 0}"> 전체
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter1">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter1" value="1" th:checked="${vo.makeDateFillter == 1}"> 1개월 이내
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter2">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter2" value="2" th:checked="${vo.makeDateFillter == 2}"> 3개월 이내
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter3">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter3" value="3" th:checked="${vo.makeDateFillter == 3}"> 6개월 이내
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter4">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter4" value="4" th:checked="${vo.makeDateFillter == 4}"> 1년 이내
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter5">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter5" value="5" th:checked="${vo.makeDateFillter == 5}"> 3년 이내
                                        </label>
                                        <label class="form-check-label" for="makeDateFillter6">
                                            <input class="form-check-input" type="radio" name="makeDateFillter" id="makeDateFillter6" value="6" th:checked="${vo.makeDateFillter == 6}"> 그외
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-box">
                            <div class="view_options d-flex justify-content-between gap-3">
                                <div class="d-flex  align-items-center">
                                    <p class="gray_color">최근 2개월 기준으로 등록된 신상품이 집계됩니다.</p>
                                </div>
                                <div class="d-flex justify-content-between gap-3">
                                    <div>
                                        <select name="" class="form-select" id="view_sort" >
                                            <option value="">최신순</option>
                                            <option value="">판매량</option>
                                            <option value="">높은 가격순</option>
                                            <option value="">낮은 가격순</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select name="" class="form-select" id="views_number" >
                                            <option value="5">5개씩 보기</option>
                                            <option value="20">10개씩 보기</option>
                                            <option value="20">20개씩 보기</option>
                                            <option value="50">50개씩 보기</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="view_type d-flex gap-1">
                                    <button class="list_type btn active">
                                        <img src="/usr/v1/assets/images/ico_view_list_active@2x.png" alt="">
                                    </button>
                                    <button class="grid-type btn">
                                        <img src="/usr/v1/assets/images/ico_view_img_active@2x.png" alt="">
                                    </button>
                                </div> -->
                            </div>
                            <div class="selectedBages_box">
                                <div>
                                    <div class="selectedBages_list">
                                    </div>
                                </div>
                            </div>
                            <div class="contentArea">
                                <div class="list_result mb-3 d-flex justify-content-end">
                                    <!-- <div class="d-flex gap-3">
                                        <div class="d-flex align-items-center gap-1">
                                            <input class="form-check-input" type="checkbox" name="" id="select_all">
                                            <label class="form-check-label" for="select_all">전체선택</label>
                                        </div>
                                        <div class="d-flex gap-2">
                                            <button class="btn heart_icon">
                                                <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                            </button>
                                            <button class="btn">장바구니</button>
                                        </div>
                                        <div>
                                            <button class="btn">Excel다운로드</button>
                                        </div>
                                    </div> -->
                                </div>
                                <ul class="contents">
                                    <li th:if="${#lists.isEmpty(list)}" class="data_empty">
                                        <div colspan="14"><p>데이터가 없습니다.</p></div>
                                    </li>
                                    <li class="contents_items d-flex justify-content-between gap-3" th:each="listP : ${list}" th:if="${!#lists.isEmpty(list)}">
                                        <div>
                                            <input type="checkbox" class="form-check-input" name="prodListCheck" id="">
                                        </div>
                                        <div class="prod_img">
                                            <a href="product_detail?seq=1" class="img-box ">
                                                <img th:src="${'/usr/v1/assets/images/prod/300/'+listP.imgSrc+'.jpg'}" alt="">
                                                <img style="display: none;" src="/usr/v1/assets/images/emty-img.jpg" alt="빈이미지">
                                            </a>
                                            <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span>새창보기</a>
                                        </div>
                                        <div class="content_info_box ">
                                            <div class="d-flex flex-column gap-3">
                                                <p class="prod_title"><a href="product_detail?seq=1"><!--<span class="gray_color">예약판매</span>--> <strong th:text="${listP.title}">하늘나라 극락과 천국(상)</strong></a></p>
                                                <p class="prod_author"><span th:text="${listP.name}">조창조</span> · <span th:text="${listP.publisherName}">신아출판사</span> · <span th:text="${#dates.format(listP.makeDate,'yyyy.MM.dd')}" >2024.07.25</span></p>
                                                <p class="prod_price d-flex gap-1"><strong class="saleP" th:text="${listP.sale +'%'}">10%</strong><span class="sale_price"><strong th:text="${#numbers.formatInteger(listP.salePrice,3,'COMMA')}">13,500</strong>원</span><span class="regular_price" th:text="${#numbers.formatInteger(listP.price,3,'COMMA')+'원'}">15,000원</span> <span class="point" th:text="${#numbers.formatInteger(listP.point,3,'COMMA')+'p'}">750p</span> </p>
                                                <p class="prod_intro" th:text="${listP.intro}"></p>
                                                <div class="prod_review d-flex gap-1">
                                                    <span class="icon_box">
                                                        <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                    </span>
                                                    <strong class="review_num" th:text="${listP.reviewNum}">0.0</strong> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shipping_date d-flex flex-column gap-2">
                                            <p><strong th:text="${#dates.format(listP.shipDate, 'M/d') + '(' + #dates.format(listP.shipDate, 'E') + ')'}">8/5(월)</strong></p>
                                            <p>출고예정</p>
                                        </div>
                                        <div class="button_box d-flex flex-column gap-2">
                                            <span class="heart_icon">
                                                <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                            </span>
                                            <button class="btn btn-gray">장바구니</button>
                                            <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pagination-container mt-5">
                                    <div class="pagination-wrapper">
                                        <div class="dataTable-bottom">
                                            <nav class="dataTable-pagination" aria-label="dataTable-pagination">
                                                <ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
                                                    <li class="paginate_button previous page-item" id="previousPage">
                                                        <a class="page-link" href="#">
                                                            <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                                                        </a>
                                                    </li>
                                                    <li class="active paginate_button page-item"><a href="#" data-page="1" class="page-link">1</a></li>
                                                    <li class="paginate_button page-item"><a href="#" data-page="2" class="page-link">2</a></li>
                                                    <li class="paginate_button page-item"><a href="#" data-page="3" class="page-link">3</a></li>
                                                    <li class="paginate_button page-item"><a href="#" data-page="4" class="page-link">4</a></li>
                                                    <li class="paginate_button page-item"><a href="#" data-page="5" class="page-link">5</a></li>
                                                    <li class="paginate_button next page-item" id="nextPage">
                                                        <a class="page-link" href="#">
                                                            <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </main>
        <div class="top_btn"><i class="fa-solid fa-xl fa-chevron-up"></i></div>
        <footer>
            <div class="notice">
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>공지사항</strong>
                            <span class="notice_text">
                                상품권(해피머니, 컬쳐캐쉬) 사용 일시 중지 안내
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    <span class="line_space">|</span>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>당첨자발표</strong>
                            <span class="notice_text">
                                [로맨스/BL소설][24년 7/5] 먼슬리 교보💰캐시DREAM 당첨자 발표
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    
                </div>
            </div>
            <div class="footer mt-3">
                <div class="footer-top d-flex justify-content-between">
                    <div class="logo">
                        <img src="/usr/v1/assets/images/img_logo_kyobo_member@2x.png" alt="">
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <select class="form-select" name="" id="">
                            <option value="">Family Site</option>
                        </select>
                        <div class="icons d-flex gap-3">
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_youtube_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_fb_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_insta_v2@2x.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-flex mt-3 gap-2">
                    <div class="left-box">
                        <ul class="footer_menu_list d-flex gap-3">
                            <li>회사소개</li>
                            <li>이용약관</li>
                            <li>개인정보처리방침</li>
                            <li>청소년보호정책</li>
                            <li>대량주문안내</li>
                            <li>협력사여러분</li>
                            <li>채용정보</li>
                            <li>광고소개</li>
                        </ul>
                        <ul class="footer_info_box d-flex flex-wrap gap-1 mt-3">
                            <li>대표이사 : 안병현, 김상훈</li>
                            <li>서울특별시 종로구 종로 1</li>
                            <li>사업자등록번호 : 102-81-11670</li>
                            <li>대표전화 : 1544-1900(발신자 부담전화)</li>
                            <li>FAX : 0502-987-5711(지역번호 공통)</li>
                            <li>서울특별시 통신판매업신고번호 : 제 653호</li>
                            <li class="btn_footer">사업자정보확인</li>
                        </ul>
                        <div class="copyright"></div>
                    </div>
                    <div class="right-box">
                        <div>
                            <p>
                                <span>토스페이먼츠 구매안전서비스</span>
                                <span class="btn_footer">서비스 가입 확인</span>
                            </p>
                            <span>
                                고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한<br>
                                토스페이먼츠의 구매안전서비스를 이용하실 수 있습니다.
                            </span>
                        </div>

                        <div class="d-flex mt-3 gap-3">
                            <div class="d-flex gap-2">
                                <div class="img-box">
                                    <img src="/usr/v1/assets/images/img_mark_isms@2x.png" alt="">
                                </div>
                                <p>
                                    정보보호관리체계<br>ISMS 인증획득
                                </p>
                            </div>
                            <div>
                                <p>
                                    [인증범위] 인터넷 교보문고 및 브랜드 서비스 운영<br>
                                    [유효기간] 2023.11.15 ~ 2026.11.14
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/usr/v1/assets/js/custom.js"></script>
    <script src="/usr/v1/assets/js/header.js"></script>
    <script src="/usr/v1/assets/js/range.js"></script>
    <script>
        window.onload = function() {
            const dateSearchBtn = document.querySelectorAll(".makeDateFillterList input[type=radio]");
            const form = document.querySelector("form[name=searchFrom]");
            dateSearchBtn.forEach((radio) => {
                radio.addEventListener("change", function(event) {
                    var selectedValue = this.value;
                    // if (this.checked) {
                    //     console.log("체크");
                    //     return;
                    // }
                    // 
                    form.action = "product_list";
                    form.submit();
                    // 값 비교 예시
                    // if (selectedValue == 1) {
                    //     console.log("전체가 선택되었습니다.");
                    // } else if (selectedValue == 2) {
                    //     console.log("1개월 이내가 선택되었습니다.");
                    // } else if (selectedValue == 3) {
                    //     console.log("3개월 이내가 선택되었습니다.");
                    // } else if (selectedValue == 4) {
                    //     console.log("6개월 이내가 선택되었습니다.");
                    // } else if (selectedValue == 5) {
                    //     console.log("1년 이내가 선택되었습니다.");
                    // } else {
                    //     console.log("알 수 없는 값이 선택되었습니다.");
                    // }
                });
            });
            
            const inputProdType = document.querySelector("#inputProdType"); 
            const prodTypeBtn = document.querySelectorAll(".prod_types_box .prodType");
            // prodTypeBtn.forEach((t) => t.classList.remove('active'));
            prodTypeBtn.forEach((prodType) => {
                // if (inputProdType.value = 34) {
                //     
                //     document.getElementById("prodType2").classList.add('active');
                // }else if(inputProdType.value = 33) {
                //     prodTypeBtn.forEach((t) => t.classList.remove('active'));
                //     document.getElementById("prodType1").classList.add('active');
                // }
                // if(prodType.querySelector("input").checked){
                //     prodType.classList.add('active');
                //     console.log("prodType: "+prodType);
                // }
                // else{
                //     prodType.classList.remove('active');
                // }
                prodType.addEventListener("click", function(event) {
                    // prodTypeBtn.forEach((t) => t.classList.remove('active'));
                    // this.classList.add('active');
                    console.log("dsajdk!");
                    var checkNum = this.id.slice(-1);
                    if(checkNum == 0){
                        inputProdType.value = "";
                    }else if (checkNum == 1) {
                        console.log("소설!");
                        inputProdType.value = 33;
                    }
                    else if(checkNum == 2){
                        console.log("외!");
                        inputProdType.value = 34;
                    }
                    form.action = "product_list";
                    form.submit();
                })

            });
            // const SearchOption1 = document.querySelector("#inputProdType"); 
            const SearchOptions1 = document.querySelectorAll(".SearchOption1 li");
            const inputBestNy =  document.querySelector("#inputBestNy");
            const inputTodayPickNy = document.querySelector("#inputTodayPickNy");
            const inputNewNy = document.querySelector("#inputNewNy");

            SearchOptions1.forEach((option) => {
                option.addEventListener("click", function(event) {
                    
                    if(this.classList.contains('allViewBtn')){
                        console.log("1");
                        inputBestNy.value = 0;
                        // inputBestNy.checked= false;
                        inputTodayPickNy.value = 0;
                        inputNewNy.value = 0;
                        // inputTodayPickNy.checked = false;
                        // this.classList.add("active");
                    }
                    else if(this.classList.contains('bsetNyBtn')){
                        console.log("2");
                        inputBestNy.value = 1;
                        inputTodayPickNy.value = 0;
                        inputNewNy.value = 0;
                        // inputTodayPickNy.checked = false;
                    }
                    else if(this.classList.contains('newNyBtn')){
                        console.log("3");
                        inputNewNy.value = 1;
                        inputTodayPickNy.value = 0;
                        inputBestNy.value = 0;
                        // inputTodayPickNy.checked = false;
                    }
                    else if(this.classList.contains('todayPickNyBtn')){
                        console.log("4");
                        inputTodayPickNy.value = 1;
                        inputBestNy.value = 0;
                        inputNewNy.value = 0;
                        // inputBestNy.checked= false;
                    }
                    form.action = "product_list";
                    form.submit();
                });
                // option.querySelectorAll('input').forEach((input) => {
                //     input.addEventListener('click', function(event) {
                //         event.stopPropagation();
                //     });
                // });
            })
            

            const bages = document.querySelectorAll(".bage_item input");
            const checkBageBox = document.querySelector(".selectedBages_list");
            bages.forEach((bage) => {
                bage.addEventListener("change", function(event) {
                    const parentElement = this.parentElement;
                    if (this.checked) {
                        parentElement.querySelector("span").style.color = "#fff";
                        parentElement.style.backgroundColor = "#545bb3";
                        parentElement.style.borderColor = "#545bb3";
                        const selectedItem = document.createElement("div");
                        selectedItem.className = "selected-item";
                        selectedItem.textContent = parentElement.textContent;
                        checkBageBox.appendChild(selectedItem);

                        selectedItem.addEventListener("click", function(event) {
                            this.remove();
                            bage.checked = false;
                            parentElement.querySelector("span").style.color = "#555";
                            parentElement.style.backgroundColor = "";
                            parentElement.style.borderColor = "#aaa";
                        });
                    } else {
                        parentElement.querySelector("span").style.color = "#555";
                        parentElement.style.backgroundColor = "";
                        parentElement.style.borderColor = "#aaa";

                        const selectedItems = checkBageBox.querySelectorAll(".selected-item");
                        selectedItems.forEach(item => {
                            if (item.textContent === parentElement.textContent) {
                                checkBageBox.removeChild(item);
                            }
                        });
                    }
                    
                });
            });

            // const checkBages = document.querySelectorAll(".selected-item");

            // checkBages.forEach((bage) => {
            //     bage.addEventListener("click", function(event) {
            //         if (this.textContent === parentElement.textContent) {
            //             checkBageBox.removeChild(item);
            //         }
            //     });
            // });
        };
    </script>
</body>
</html>