<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/usr/v1/assets/images/favicon.svg"> -->
    
    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- nouislider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js" integrity="sha512-g/feAizmeiVKSwvfW0Xk3ZHZqv5Zs8PEXEBKzL15pM0SevEvoX8eJ4yFWbqakvRj7vtw1Q97bLzEpG2IVWX0Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/usr/v1/assets/js/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/usr/v1/assets/css/nouislider.min.css">
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/product_list.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="navbar_pc">
                <div class="customer_service_area d-flex justify-content-end">
                    <div class="customer_service_box d-flex  align-items-center">
                        <ul class="d-flex gap-3">
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="signup">회원가입</a>
                            </li>
                            <li class="" th:if="${!(session != null and session.sessNameXdm != null)}">
                                <a href="login">로그인</a>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">회원혜택</a>
                            </li> -->
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <a th:href="@{user_order_list(seq=${session.sessSeqXdm})}">주문배송</a>
                            </li>
                            <li class="" th:if="${session != null and session.sessNameXdm != null}">
                                <span id="logoutBtn">로그아웃</span>
                            </li>
                            <!-- <li class="">
                                <a href="javascript:void(0);">매장안내</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);">고객센터</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="scrolltable">
                    <div class="gnb_search d-flex justify-content-between gap-5">
                        <div class="search_wrapper d-flex align-items-center  gap-5">
                            <div class="logo" onclick="window.location.href='index'">
                                <img src="./usr/v1/assets/images/logo_book.svg" alt="">
                            </div>
                            <div class="search_area w-100">
                                <div class="search_box d-flex align-items-center gap-3">
                                    <input type="text" class="input-search">
                                    <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="user_box">
                            <a class="user_my" th:href="${session != null and session.sessNameXdm != null} ? @{user_account(seq=${session.sessSeqXdm})} : @{login}">
                                <span class="user-name" th:if="${session != null and session.sessNameXdm != null}" th:text="${session.sessNameXdm + ' 님' }"></span>
                                <input type="hidden" th:if="${session != null and session.sessNameXdm != null}" id="userIdSeq" name="seq" th:value="${session.sessSeqXdm}">
                                <span class="usr-imgbox">
                                    <img src="./usr/v1/assets/images/btn_header_my@2x.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <nav class="gnb_list d-flex align-items-center gap-4">
                        <div class="gnb_wrapper d-flex align-items-center gap-5">
                            <button class="circle_btn"><i class="fa-solid fa-bars"></i></button>
                            <div class="anb_wrapper">
                                <div class="anb_wrapper_area">
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">국내도서</h5>
                                        <ul>
                                            <li onclick="window.location.href='product_list'">국내도서 - 소설</li>
                                            <li onclick="window.location.href='product_list'">국내도서 - 시/에세이</li>
                                            <li onclick="window.location.href='product_detail?seq=1'">도서 상세보기</li>
                                            <li onclick="window.location.href='product_buy'">도서 구매</li>
                                        </ul>
                                    </div>
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">회원정보</h5>
                                        <ul>
                                            <li onclick="window.location.href='user_order_list?seq=1'">주문/배송목록</li>
                                            <li onclick="window.location.href='user_delivery_address'">배송주소록</li>
                                            <li onclick="window.location.href='user_delivery_address_add'">배송지추가</li>
                                            <li onclick="window.location.href='user_account'">회원정보 변경</li>
                                            <li onclick="window.location.href='user_password'">비밀번호 변경</li>
                                        </ul>
                                    </div>
                                    <div class="anb_wrapper_list">
                                        <h5 class="anb_category">그외 기타</h5>
                                        <ul>
                                            <li onclick="window.location.href='login'">로그인</li>
                                            <li onclick="window.location.href='signup'">회원가입</li>
                                            <li onclick="window.location.href='account_recovery'">비밀번호 찾기</li>
                                            <li onclick="window.location.href='account_recovery'">아이디 찾기</li>
                                            <li onclick="window.location.href='header_ver2'">헤더 다른버전2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="gnb_link gap-3">
                            <li onclick="window.location.href='product_list'">국내도서</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <!-- <div class="breadcrumb_wrapper">
                <ol class="breadcrumb d-md-flex d-none">
                    <li class="breadcrumb-item">
                        <i class="bi bi-house"></i>
                        <a href="index">Home</a>
                    </li>
                    <li class="breadcrumb-item">국내도서</li>
                    <li class="breadcrumb-item">소설</li>
                    <li class="breadcrumb-item">한국소설</li>
                    <li class="breadcrumb-item breadcrumb-active" aria-current="page">전체</li>
                </ol>
            </div> -->
            <div class="content_wrapper">
                <div class="d-flex gap-5">
                    <div class="left-box">
                        <div class="list_fillter_box">
                            <div class="mb-4"><h3>국내도서</h3></div>
                            <div class="prod_types_box">
                                <div class="mb-4 d-flex gap-1 active">
                                    <h5>한국소설</h5>
                                </div>
                                <div class="mb-4 d-flex gap-1">
                                    <h5>시/에세이</h5>
                                </div>
                            </div>
                            
                            <!-- <ul class="d-flex flex-column gap-3">
                                <li>
                                    한국소설일반
                                </li>
                                <li>
                                    고전소설/문학선
                                </li>
                                <li>
                                    공포/호러소설
                                </li>
                                <li>
                                    미스터리/스릴러소설
                                </li>
                                <li>
                                    역사/대하소설
                                </li>
                                <li>
                                    라이트노벨
                                </li>
                                <li>
                                    SF/과학소설
                                </li>
                                <li>
                                    판타지소설
                                </li>
                                <li>
                                    로맨스소설
                                </li>
                                <li>
                                    무협소설
                                </li>
                                <li>
                                    청소년소설
                                </li>
                                <li>
                                    웹소설
                                </li>
                                <li>
                                    드라마/영화소설
                                </li>
                            </ul> -->
                            <ul class="d-flex flex-column gap-3">
                                <li>전체보기</li>
                                <li>베스트셀러</li>
                                <li>신상품</li>
                            </ul>
                            <div class="search_ranges_box">
                                <div class="price_range_box">
                                    <label for="price_range">가격별</label>
                                    <div id="price-slider">
                                            
                                    </div>
                                    <div class="range_box">
                                        <input type="range" id="price_range1" class="min-range value-range" step="500" min="0" max="50000" value="500">
                                        <input type="range" id="price_range2" class="max-range value-range" step="500" min="0" max="50000" value="50000">
                                        <!-- <div class="range-control">
                                            <div class="track"></div>
                                            <div class="range"></div>
                                            <div class="thumb left"></div>
                                            <div class="thumb right"></div>
                                        </div> -->
                                    </div>
                                    <div class="value_display_box">
                                        <input type="number" id="min-price" class="value_display left price_range1" step="500" min="500" max="50000" value="500">
                                        <span>~</span>
                                        <input type="number" id="max-price" class="value_display right price_range2" step="500" min="500" max="50000" value="50000">
                                    </div>
                                </div>
                                <div class="review_range_box">
                                    <label for="review_range">리뷰별</label>
                                    <div id="review-slider">
                                            
                                    </div>
                                    <div class="range_box">
                                        <input type="range" id="price_range3" class="min-range value-range" step="1" min="0" max="10" value="0">
                                        <input type="range" id="price_range4" class="max-range value-range" step="1" min="0" max="10" value="10">
                                        <!-- <div class="range-control">
                                            <div class="track"></div>
                                            <div class="range"></div>
                                            <div class="thumb left"></div>
                                            <div class="thumb right"></div>
                                        </div> -->
                                    </div>
                                    <div class="value_display_box">
                                        <input type="number" id="min-review" class="value_display left price_range3" min="0" max="10" value="0">
                                        <span>~</span>
                                        <input type="number" id="max-review" class="value_display right price_range4" min="0" max="10" value="10">
                                    </div>
                                    <!-- <input type="range" id="review_range" class="value-range2" min="0" max="10" value="0"> -->
                                </div>
                            </div>
                            <div class="makeDate_fillter_box">
                                <div class="makeDate_fillter_list">
                                    <label class="form-check-label" for="makeDate_fillter_all">
                                        <input class="form-check-input" type="radio" name="makeDate_fillter" id="makeDate_fillter_all"> 전체
                                    </label>
                                    <label for="makeDate_fillter_1">
                                        <input class="form-check-input" type="radio" name="makeDate_fillter" id="makeDate_fillter_1"> 1개월 이내
                                    </label>
                                    <label for="makeDate_fillter_2">
                                        <input class="form-check-input" type="radio" name="makeDate_fillter" id="makeDate_fillter_2"> 3개월 이내
                                    </label>
                                    <label for="makeDate_fillter_3">
                                        <input class="form-check-input" type="radio" name="makeDate_fillter" id="makeDate_fillter_3"> 6개월 이내
                                    </label>
                                    <label for="makeDate_fillter_4">
                                        <input class="form-check-input" type="radio" name="makeDate_fillter" id="makeDate_fillter_4"> 1년 이내
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="view_options d-flex justify-content-end gap-3">
                            <div>
                                <select name="" class="form-select" id="view_sort" >
                                    <option value="">최신순</option>
                                    <option value="">판매량</option>
                                    <option value="">높은 가격순</option>
                                    <option value="">낮은 가격순</option>
                                </select>
                            </div>
                            <div>
                                <select name="" class="form-select" id="views_number" >
                                    <option value="5">5개씩 보기</option>
                                    <option value="20">10개씩 보기</option>
                                    <option value="20">20개씩 보기</option>
                                    <option value="50">50개씩 보기</option>
                                </select>
                            </div>
                            <!-- <div class="view_type d-flex gap-1">
                                <button class="list_type btn active">
                                    <img src="/usr/v1/assets/images/ico_view_list_active@2x.png" alt="">
                                </button>
                                <button class="grid-type btn">
                                    <img src="/usr/v1/assets/images/ico_view_img_active@2x.png" alt="">
                                </button>
                            </div> -->
                        </div>
                        <div class="contentArea">
                            <div class="list_result mt-5 mb-3 d-flex justify-content-end">
                                <!-- <div class="d-flex gap-3">
                                    <div class="d-flex align-items-center gap-1">
                                        <input class="form-check-input" type="checkbox" name="" id="select_all">
                                        <label class="form-check-label" for="select_all">전체선택</label>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </button>
                                        <button class="btn">장바구니</button>
                                    </div>
                                    <div>
                                        <button class="btn">Excel다운로드</button>
                                    </div>
                                </div> -->
                            </div>
                            <ul class="contents">
                                <li class="contents_items d-flex justify-content-between gap-3">
                                    <div>
                                        <input type="checkbox" name="" id="">
                                    </div>
                                    <div class="prod_img">
                                        <a href="product_detail?seq=1" class="img-box ">
                                            <img src="/usr/v1/assets/images/prod/300/9791194198109.jpg" alt="">
                                            <img style="display: none;" src="/usr/v1/assets/images/emty-img.jpg" alt="빈이미지">
                                        </a>
                                        <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span>새창보기</a>
                                    </div>
                                    <div class="content_info_box ">
                                        <div class="d-flex flex-column gap-3">
                                            <p class="prod_title"><a href="product_detail?seq=1"><span class="gray_color">예약판매</span> <strong>하늘나라 극락과 천국(상)</strong></a></p>
                                            <p class="prod_author">조창조 · 신아출판사 · 2024.07.25</p>
                                            <p class="prod_price d-flex gap-1"><strong class="saleP">10%</strong><span class="sale_price"><strong>13,500</strong>원</span><span class="regular_price">15,000원</span> <span class="point">750p</span> </p>
                                            <p class="prod_intro"></p>
                                            <div class="prod_review d-flex gap-1">
                                                <span class="icon_box">
                                                    <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                </span>
                                                <strong class="review_num">0.0</strong> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shipping_date d-flex flex-column gap-2">
                                        <p><strong>8/5(월)</strong></p>
                                        <p>출고예정</p>
                                    </div>
                                    <div class="button_box d-flex flex-column gap-2">
                                        <span class="heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </span>
                                        <button class="btn btn-gray">장바구니</button>
                                        <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                    </div>
                                </li>
                                <li class="contents_items d-flex justify-content-between gap-3">
                                    <div>
                                        <input type="checkbox" name="" id="">
                                    </div>
                                    <div class="prod_img">
                                        <a href="product_detail?seq=1" class="img-box ">
                                            <img src="/usr/v1/assets/images/prod/300/9791193289273.jpg" alt="">
                                            <img style="display: none;" src="/usr/v1/assets/images/emty-img.jpg" alt="빈이미지">
                                        </a>
                                        <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span> 새창보기</a>
                                    </div>
                                    <div class="content_info_box ">
                                        <div class="d-flex flex-column gap-3">
                                            <p class="prod_title"><a href="product_detail?seq=1"><span class="gray_color"></span> <strong>나쁜 검사들</strong></a></p>
                                            <p class="prod_author">이중세 · 마이디어북스 · 2024.08.01</p>
                                            <p class="prod_price d-flex gap-1"><strong class="saleP">10%</strong><span class="sale_price"><strong>15,750</strong>원</span><span class="regular_price">17,500원</span> <span class="point">870p</span> </p>
                                            <p class="prod_intro">
                                                K-스토리 최우수상 수상, 교보문고 스토리 공모전 수상, SF 오디오 스토리 어워즈 수상 등 화려한 수상 경력으로 수많은 독자들에게 눈도장을 찍은 이중세 작가가 신작 장편소설 『나쁜 검사들』을 출간했다. 한때는 세상을 뒤엎고 싶었던 반부패수사부 검사 출신의 변호사가 뜻밖의 범죄 사건에 휘말리게 되면서 결국 검찰을 향해 칼끝을 겨누게 되는 이 소설은, 대한민국 권력의 지도를 적나라하게 보여주는 웰메이드 누아르 수사 활극이다. 실제로 작가는 이 소설을 쓰기 위해 수년에 걸쳐 관계자들을 조사하고 인터뷰했으며 그 노력은 고스란히 작품에 녹아들었다. 부패한 조직과 반부패를 부르짖는 이들의 팽팽한 긴장감은 현실보다 더 현실 같은 에피소드로 마지막까지 이 책을 손에서 놓지 못하게 만든다. 작가는 “부당한 처사를 당연하게 받아들이지 않는 선한 자들의 작은 목소리가 결국 큰 세상을 바꿀 것”이라며, 이 책이 독자들의 답답한 가슴을 시원하게 뚫어줄 소화제가 되기를 바랐다. 휘몰아치는 전개와 생생한 묘사, 압도적 몰입감으로 마치 한 편의 영화를 보듯 단숨에 읽어내려갈 수 있는 소설 『나쁜 검사들』과 함께 무더운 여름을 시원하게 날려보자.
                                            </p>
                                            <div class="prod_review d-flex gap-1">
                                                <span class="icon_box">
                                                    <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                </span>
                                                <strong class="review_num">0.0</strong> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shipping_date d-flex flex-column gap-2">
                                        <p><strong>8/3(월)</strong></p>
                                        <p>도착</p>
                                    </div>
                                    <div class="button_box d-flex flex-column gap-2">
                                        <span class="heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </span>
                                        <button class="btn btn-gray">장바구니</button>
                                        <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                    </div>
                                </li>
                                <li class="contents_items d-flex justify-content-between gap-3">
                                    <div>
                                        <input type="checkbox" name="" id="">
                                    </div>
                                    <div class="prod_img">
                                        <a href="product_detail?seq=1" class="img-box ">
                                            <img src="/usr/v1/assets/images/prod/300/9791198787408.jpg" alt="">
                                        </a>
                                        <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span>새창보기</a>
                                    </div>
                                    <div class="content_info_box ">
                                        <div class="d-flex flex-column gap-3">
                                            <p class="prod_title">
                                                <a href="product_detail?seq=1">
                                                    <span class="gray_color">예약판매</span> <strong>훌리오</strong>
                                                </a>
                                            </p>
                                            <p class="prod_author">연지 · 리마 · 2024.07.01</p>
                                            <p class="prod_price d-flex gap-1"><strong class="saleP">10%</strong><span class="sale_price"><strong>9,900</strong>원</span><span class="regular_price">11,000원</span> <span class="point">550p</span> </p>
                                            <p class="prod_intro">
                                                쥐를 데려와 키우는 아내, 어느 날 갑자기 사라져버린 반려앵무새 훌리오, 목소리가 확성기처럼 커져버린 어느 연기 지망생 이야기까지. 『훌리오』에 수록된 세 편의 단편소설은 평범한 일상 속에 깃든 오해와 거짓, 환상을 그려낸다. 『훌리오』 속 인물들은 끊임없이 서로 의심하고 오해하면서도, 저마다의 진실을 마주하고자 애쓴다. 그들은 독자들에게 되묻는다. 사랑하는 것과 이해하는 것, 받아들이는 것은 서로 어떻게 다른지(「잭오랜턴의 구멍」), 불완전함을 온몸으로 받아들이는 삶이란 과연 어떤 모습인지(「지하철 정거장에서」). 이들의 고민과 분투, 그 과정에서 피할 수 없이 마주하게 되는 지극한 외로움(「훌리오」)은 우리에게도 결코 낯설지 않다. 우리는 모두 행복하기 위해 분투하지만, 그 행복을 지켜내기 위해 감수해야 할 장애물은 매 순간 모습을 달리하며 늘 존재할 것이기 때문이다. 그 속에서 우리는 과연 어떤 마음가짐과 태도를 갖고 나아가야 할까. 소설집 『훌리오』를 읽는 시간이 그에 대한 각자만의 답을 찾기 위해 잠시 숨을 고르는 기회가 될 수 있길 기대해 본다.
                                            </p>
                                            <div class="prod_review d-flex gap-1">
                                                <span class="icon_box">
                                                    <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                </span>
                                                <strong class="review_num">0.0</strong> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shipping_date d-flex flex-column gap-2">
                                        <p><strong>8/2(금)</strong></p>
                                        <p>출고예정</p>
                                    </div>
                                    <div class="button_box d-flex flex-column gap-2">
                                        <span class="heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </span>
                                        <button class="btn btn-gray">장바구니</button>
                                        <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                    </div>
                                </li>
                                <li class="contents_items d-flex justify-content-between gap-3">
                                    <div>
                                        <input type="checkbox" name="" id="">
                                    </div>
                                    <div class="prod_img">
                                        <a href="product_detail?seq=1" class="img-box ">
                                            <img src="/usr/v1/assets/images/prod/300/9791191570724.jpg" alt="">
                                        </a>
                                        <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span>새창보기</a>
                                    </div>
                                    <div class="content_info_box ">
                                        <div class="d-flex flex-column gap-3">
                                            <p class="prod_title">
                                                <a href="product_detail?seq=1">
                                                    <span class="gray_color"></span> <strong>아직 덜 마른 장작</strong>
                                                </a>
                                            </p>
                                            <p class="prod_author">이지혜 · 이바구 · 2024.08.20</p>
                                            <p class="prod_price d-flex gap-1"><strong class="saleP">10%</strong><span class="sale_price"><strong>18,000</strong>원</span><span class="regular_price">20,000원</span> <span class="point">1000p</span> </p>
                                            <p class="prod_intro">
                                                『아직 덜 마른 장작』은 이지혜 소설가의 첫 장편소설집이다. 소설가 스스로 “모든 이의 공통점은 누군가를 사랑한다는 점이다. 아직은 탈 준비가 되지 않은 그들은 모두 덜 마른 장작들이다. 이 작품 속 인물 중에서 제대로 탈 준비가 된 사람은 한 명도 없다. 미성숙하고 불완전하지만, 주어진 삶을 포기하지 않고 어떻게든 오늘의 삶을 살아 내는 사람들에게 조금 미스가 있다고 해서 과연 누가 돌을 던질 수 있을까? 법의 규율로 인해 돌을 맞는 이에게조차 주인공은 화해의 손길을 내민다.”라며 강조한다.
                                            </p>
                                            <div class="prod_review d-flex gap-1">
                                                <span class="icon_box">
                                                    <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                </span>
                                                <strong class="review_num">0.0</strong> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shipping_date d-flex flex-column gap-2">
                                        <p><strong>8/2(금)</strong></p>
                                        <p>출고예정</p>
                                    </div>
                                    <div class="button_box d-flex flex-column gap-2">
                                        <span class="heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </span>
                                        <button class="btn btn-gray">장바구니</button>
                                        <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                    </div>
                                </li>
                                <li class="contents_items d-flex justify-content-between gap-3">
                                    <div>
                                        <input type="checkbox" name="" id="">
                                    </div>
                                    <div class="prod_img">
                                        <a href="product_detail?seq=1" class="img-box ">
                                            <img src="/usr/v1/assets/images/prod/300/9788937456961.jpg" alt="">
                                        </a>
                                        <a href="product_detail?seq=1" target="_blank" rel="noopener noreferrer" class="d-inline-flex align-items-center"><span class="blank_icon"></span>새창보기</a>
                                    </div>
                                    <div class="content_info_box ">
                                        <div class="d-flex flex-column gap-3">
                                            <p class="prod_title"><a href="product_detail?seq=1"><span class="gray_color">예약판매</span> <strong>꿈과 토템</strong></a></p>
                                            <p class="prod_author">은모든 · 민음사 · 2024.07.26</p>
                                            <p class="prod_price d-flex gap-1"><strong class="saleP">10%</strong><span class="sale_price"><strong>13,500</strong>원</span><span class="regular_price">15,000원</span> <span class="point">750p</span> </p>
                                            <p class="prod_intro">
                                                은모든의 신작 소설집 『꿈과 토템』이 민음사에서 출간되었다. 『모두 너와 이야기하고 싶어 해』를 비롯해 SF 장편소설 『한 사람을 더하면』, 연작소설 『우주의 일곱 조각』 등 다수의 작품을 발표해 온 은모든은 유려한 필치로 일상을 그리며 그 위에 새로운 감각을 덧입히는 이야기꾼의 솜씨를 보여 주었다. 『꿈과 토템』에 실린 7편의 소설들 역시 여러 고민과 선택들 사이에 놓인 인물들의 이야기를 생생하게 풀어놓으며, 정신없이 흘러가는 일상에서 놓치기 쉬운 반짝이는 순간들을 포착해 낸다. 은모든 소설의 주인공은 더 이상 ‘사회 초년생’이 아닌 여성들이다. 이제는 방황도 실수도 사치가 되어 버린 나이이지만 이들에게는 여전히 고민이 많다. 쉽게 결정할 수 없는 선택지들은 결코 줄어들지 않는다. 이 일을 계속할 수 있을까? 이 결혼을 지속해도 될까? 이렇게 살아도 괜찮을까? 꼬리를 무는 질문과 불안, 권태 속에서 ‘꿈’은 도달하기 어려운 것을 넘어 떠올리기조차 힘든 먼 단어가 된 것 같다. 현실은 버겁고 꿈은 멀리 있지만 손끝에 만져지는 것이 있다. 꿈과 현실 사이에서 토템을 만지작거리는 여성들은 슬쩍 방향을 틀어 본다. 토템을 손에 단단히 쥐고 마음을 달리 먹어 보기, 그렇게 앞에 놓인 현실을 조금 다르게 보기. 작가의 말대로 소설 속 인물들은 이 “신통한 토템”을 “서로의 손에 슬며시 쥐여 주기”도 하므로, 『꿈과 토템』은 또한 우정의 이야기이기도 하다. 한 걸음 용기 내어 일상을 바꿔 나가는 인물들의 이야기를 읽고 나면, 독자들 역시 어느새 손에 쥐어진 토템과 함께 오늘을 살아갈 힘을 얻게 될 것이다.
                                            </p>
                                            <div class="prod_review d-flex gap-1">
                                                <span class="icon_box">
                                                    <img src="/usr/v1/assets/images/ico_klover_sm@2x.png" alt=""> 
                                                </span>
                                                <strong class="review_num">0.0</strong> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shipping_date d-flex flex-column gap-2">
                                        <p><strong>8/1(월)</strong></p>
                                        <p>출고예정</p>
                                    </div>
                                    <div class="button_box d-flex flex-column gap-2">
                                        <span class="heart_icon">
                                            <img src="/usr/v1/assets/images/ico_heart_h18@2x.png" alt="">
                                        </span>
                                        <button class="btn btn-gray">장바구니</button>
                                        <button class="direct_buy_btn btn btn-blue">바로구매</button>
                                    </div>
                                </li>
                            </ul>
                            <div class="pagination-container mt-5">
                                <div class="pagination-wrapper">
                                    <div class="dataTable-bottom">
                                        <nav class="dataTable-pagination" aria-label="dataTable-pagination">
                                            <ul class="dataTable-pagination-list pagination pagination-primary justify-content-center">
                                                <li class="paginate_button previous page-item" id="previousPage">
                                                    <a class="page-link" href="#">
                                                        <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                                                    </a>
                                                </li>
                                                <li class="active paginate_button page-item"><a href="#" data-page="1" class="page-link">1</a></li>
                                                <li class="paginate_button page-item"><a href="#" data-page="2" class="page-link">2</a></li>
                                                <li class="paginate_button page-item"><a href="#" data-page="3" class="page-link">3</a></li>
                                                <li class="paginate_button page-item"><a href="#" data-page="4" class="page-link">4</a></li>
                                                <li class="paginate_button page-item"><a href="#" data-page="5" class="page-link">5</a></li>
                                                <li class="paginate_button next page-item" id="nextPage">
                                                    <a class="page-link" href="#">
                                                        <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </main>
        <div class="top_btn"><i class="fa-solid fa-xl fa-chevron-up"></i></div>
        <footer>
            <div class="notice">
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>공지사항</strong>
                            <span class="notice_text">
                                상품권(해피머니, 컬쳐캐쉬) 사용 일시 중지 안내
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    <span class="line_space">|</span>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <strong>당첨자발표</strong>
                            <span class="notice_text">
                                [로맨스/BL소설][24년 7/5] 먼슬리 교보💰캐시DREAM 당첨자 발표
                            </span>
                        </div>
                        <strong class="notice_more">더보기</strong>
                    </div>
                    
                </div>
            </div>
            <div class="footer mt-3">
                <div class="footer-top d-flex justify-content-between">
                    <div class="logo">
                        <img src="/usr/v1/assets/images/img_logo_kyobo_member@2x.png" alt="">
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <select class="form-select" name="" id="">
                            <option value="">Family Site</option>
                        </select>
                        <div class="icons d-flex gap-3">
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_youtube_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_fb_v2@2x.png" alt=""></div>
                            <div class="icon-box"><img src="/usr/v1/assets/images/btn_footer_sns_insta_v2@2x.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-flex mt-3 gap-2">
                    <div class="left-box">
                        <ul class="footer_menu_list d-flex gap-3">
                            <li>회사소개</li>
                            <li>이용약관</li>
                            <li>개인정보처리방침</li>
                            <li>청소년보호정책</li>
                            <li>대량주문안내</li>
                            <li>협력사여러분</li>
                            <li>채용정보</li>
                            <li>광고소개</li>
                        </ul>
                        <ul class="footer_info_box d-flex flex-wrap gap-1 mt-3">
                            <li>대표이사 : 안병현, 김상훈</li>
                            <li>서울특별시 종로구 종로 1</li>
                            <li>사업자등록번호 : 102-81-11670</li>
                            <li>대표전화 : 1544-1900(발신자 부담전화)</li>
                            <li>FAX : 0502-987-5711(지역번호 공통)</li>
                            <li>서울특별시 통신판매업신고번호 : 제 653호</li>
                            <li class="btn_footer">사업자정보확인</li>
                        </ul>
                        <div class="copyright"></div>
                    </div>
                    <div class="right-box">
                        <div>
                            <p>
                                <span>토스페이먼츠 구매안전서비스</span>
                                <span class="btn_footer">서비스 가입 확인</span>
                            </p>
                            <span>
                                고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한<br>
                                토스페이먼츠의 구매안전서비스를 이용하실 수 있습니다.
                            </span>
                        </div>

                        <div class="d-flex mt-3 gap-3">
                            <div class="d-flex gap-2">
                                <div class="img-box">
                                    <img src="/usr/v1/assets/images/img_mark_isms@2x.png" alt="">
                                </div>
                                <p>
                                    정보보호관리체계<br>ISMS 인증획득
                                </p>
                            </div>
                            <div>
                                <p>
                                    [인증범위] 인터넷 교보문고 및 브랜드 서비스 운영<br>
                                    [유효기간] 2023.11.15 ~ 2026.11.14
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/usr/v1/assets/js/custom.js"></script>
    <script src="/usr/v1/assets/js/header.js"></script>
    <script src="/usr/v1/assets/js/range.js"></script>
    <script>
    </script>
</body>
</html>