<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/usr/v1/assets/images/favicon.svg"> -->
    <link rel="icon" type="image/png" sizes="256x256" href="/usr/v1/assets/images/favicon/favicon_256x256.png">

    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/signup.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=KEY_ID"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <!-- by developer -->
    <link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="contentArea">
            <div class="logo" onclick="window.location.href='index'">
                <img src="/usr/v1/assets/images/img_logo_kyobo_member@2x.png" alt="">
            </div>
            <div>
                <form method="post" autocomplete="off" action="signupInst">
                    <div>
                        <h3>회원가입</h3>
                    </div>
                    <!-- <div class="type_tab d-flex justify-content-between">
                        <div class="individual_tab tab_button active" data-target="individual_member">
                            <span>개인회원</span>
                        </div>
                        <div class="corporate_tab tab_button" data-target="corporate_member">
                            <span>간편회원</span>
                        </div>
                    </div> -->
                    <div class="tab_contents">
                        <div class="tab_content active" id="individual_member">
                            <ul class="input_area input_box">
                                <li>
                                    <label for="">이름</label>
                                    <div>
                                        <input type="text" id="userName" class="form-control validate-this valid-user-name" name="name" placeholder="이름을 입력하세요." required>
                                        <div class="invalid-box mb-3">
                                            <div class="invalid-child"></div>
                                            <div id="invalid-feedback" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label for="">아이디</label>
                                    <div>
                                        <input type="text" id="userId" class="form-control validate-this valid-id" name="userId" placeholder="아이디를 입력하세요." required>
                                    </div>
                                </li>
                                <li>
                                    <label for="">비밀번호</label>
                                    <div class="password_box">
                                        <input id="signup_password" class="form-control signup_password validate-this valid-password" name="userPassword" type="password" placeholder="비밀번호를 입력해주세요." required>
                                        <span class="toggle-button toggle-password" id="togglePassword1"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="">비밀번호 확인</label>
                                    <div class="password_box">
                                        <input id="signup_password_check" class="form-control signup_password validate-this valid-passwordCk" name="userPwCheck" type="password" placeholder="비밀번호를 입력해주세요." required>
                                        <span class="toggle-button toggle-password" id="togglePassword2"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="">이메일</label>
                                    <div>
                                        <input type="email" id="userEmail" class="form-control validate-this valid-email" name="email" placeholder="이메일을 입력해주세요." required>
                                    </div>
                                </li>
                                <li>
                                    <label for="">전화번호</label>
                                    <div>
                                        <input type="tel" id="userTel" class="form-control validate-this valid-phone-num" name="phoneNum" placeholder="전화번호를 입력해주세요. 숫자만" required>
                                    </div>
                                </li>
                                <!-- <li>
                                    <label for="">유저설명</label>
                                    <textarea class="form-control exclude-validation" id="inputMessage" name="userDesc" placeholder="유저에 대한 설명을 적어주세요" rows="3"></textarea>
                                </li> -->
                                <li>
                                    <label for="user_gender">성별</label>
                                    <div>
                                        <select class="form-select validate-this valid-gender" name="gender" id="user_gender" required>
                                            <option value="" disabled selected>선택해주세요</option>
                                            <option th:each="gender : ${genders}" th:value="${gender.seq}" th:text="${gender.codeName}"></option>
                                            <!-- <option value="1">남자</option>
                                            <option value="2">여자</option>
                                            <option value="3">기타</option> -->
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label for="">생년월일</label>
                                    <div>
                                        <input type="text" id="signup_dateOfBirth" class="signup_dateOfBirth valid-birth-num form-control validate-this" name="dateOfBirth" placeholder="1999-12-12" required readonly>
                                    </div>
                                    <!-- <input type="text" class="form-control" name="dateOfBirth" maxlength="8" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" pattern="[0-9]+" placeholder="19991212" required> -->
                                </li>
                                <li class="captcha_area">
                                    <div class="captcha_box">
                                        <img id="captchaImage" src="/captcha" style=" width:130px; height:48px; border: 1px solid #aaa;" />
                                        <input type="number" class="form-control validate-this" id="captchaCode" placeholder="숫자 입력" min="0" max="99999" oninput="this.value = Math.max(0, Math.min(99999, this.value))" required/>
                                    </div>
                                </li>
                            </ul>
                            <div class="signup_btn">
                                <!-- <input type="hidden" id="grecaptcha" /> -->
                                <!-- <div class="g-recaptcha" data-sitekey="6LcXtGEqAAAAABgJh77_leG_-5IH2RnduylOXTSK" data-action="LOGIN"></div> -->
                                
                                
                                <button id="signupBtn" class="btn btn-blue w-100" type="button">회원가입</button>
                            </div>
                        </div>
                        <!-- <div class="tab_content" id="corporate_member">
                            <ul class="simple_Signup flex-wrap d-flex justify-content-center gap-3">
                                <li>
                                    <a href="javascript:void(0);"><img src="/usr/v1/assets/images/ico_sns_naver@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="/usr/v1/assets/images/ico_sns_kakao@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="/usr/v1/assets/images/ico_sns_google@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="/usr/v1/assets/images/ico_sns_phone@2x.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="/usr/v1/assets/images/ico_sns_mail@2x.png" alt=""></a>
                                </li>
                            </ul>
                            <div class="sns_btn">
                                <button class="btn btn-blue w-100" type="button">간편회원 가입하기</button>
                            </div>
                        </div> -->
                    </div>
                </form>
                
            </div>
        </div>
        <footer>
            <div class="text-center">
                <span style="color:#777;font:14px;">ⓒ 이창훈</span>
            </div>
        </footer>
    </div>
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- <script src="/usr/v1/assets/js/tiny-slider.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/tiny-slider.css">
    <script src="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/tiny-slider.js"></script> -->
    <!-- Initialize Bootstrap Select -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->
    <!-- by developer -->
    <script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="/usr/v1/assets/js/custom.js"></script>
    <script>
        window.addEventListener('load',function() {
            $.datetimepicker.setLocale('ko');
            $("#signup_dateOfBirth").datetimepicker({
                timepicker:false,
                format:'Y-m-d'
            });
        })
        function onClick(e) {
            e.preventDefault();
            grecaptcha.enterprise.ready(async () => {
                const token = await grecaptcha.enterprise.execute('KEY_ID', {action: 'LOGIN'});
                // IMPORTANT: The 'token' that results from execute is an encrypted response sent by
                // reCAPTCHA Enterprise to the end user's browser.
                // This token must be validated by creating an assessment.
                // See https://cloud.google.com/recaptcha/docs/create-assessment
            });
        }
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
</body>
</html>