<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/usr/v1/assets/images/favicon.svg"> -->
    <link rel="icon" type="image/png" sizes="256x256" href="/usr/v1/assets/images/favicon/favicon_256x256.png">

    <link rel="stylesheet" href="/usr/v1/assets/css/reset.css">
    
    <!-- <link rel="stylesheet" href="/usr/v1/assets/css/style.css"> -->
    <link rel="stylesheet" href="/usr/v1/assets/css/tiny-slider.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- another-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/style.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/user_account.css">
    <link rel="stylesheet" href="/usr/v1/assets/css/user_password.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <div th:replace="~{usr/v1/infra/include/head :: header}"></div>
        <main>
            <div th:replace="~{usr/v1/infra/include/user :: user-header}"></div>
            <div class="user_body d-flex justify-content-between">
                <div th:replace="~{usr/v1/infra/include/user :: user-aside}"></div>
                <div class="content_area">
                    <div>
                        <p class="content_title">비밀번호 변경</p>
                        <div class="content_box">
                            <form method="post" autocomplete="off" action="user_accountPwUpdt">
                                <input type="hidden" name="seq" th:value="${item.seq}">
                                <!-- <p class="box_title">비밀번호 변경</p> -->
                                <table class="">
                                    <colgroup>
                                        <col style="width: 170px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tr>
                                        <th><label for="">새 비밀번호</label></th>
                                        <td>
                                            <div class="password_box">
                                                <input id="signup_password" class="form-control signup_password validate-this valid-password" name="userPassword" type="password" placeholder="변경할 비밀번호를 입력해주세요." required>
                                                <span class="toggle-button toggle-password" id="togglePassword1"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="">새 비밀번호 확인</label></th>
                                        <td>
                                            <div class="password_box">
                                                <input id="signup_password_check" class="form-control signup_password validate-this valid-passwordCk" name="userPwCheck" type="password" placeholder="비밀번호를 한번더 입력해주세요." required>
                                                <span class="toggle-button toggle-password" id="togglePassword2"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="btn-box mt-5">
                                    <button class="btn" id="btnSubmit" type="button">변경 확인</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="top_btn"><i class="fa-solid fa-xl fa-chevron-up"></i></div>
        <div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/usr/v1/assets/js/custom.js"></script>
    <script src="/usr/v1/assets/js/header.js"></script>

</body>
</html>