<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">
		<!-- by developer -->
		<link rel="stylesheet" href="/xdm/v1/css/commonXdm.css">

	</head>

	<body>

		<!-- Loading wrapper start -->
		<div id="loading-wrapper">
			<div class="spinner">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
			</div>
		</div>
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<div th:replace="~{xdm/v1/infra/include/head :: sidebar-wrapper}"></div>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div th:replace="~{xdm/v1/infra/include/head :: page-header}"></div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="row">
							<div class="col-xxl-3 col-sm-6 col-12">
								<div class="stats-tile">
									<div class="sale-icon shade-red">
										<i class="bi bi-pie-chart"></i>
									</div>
									<div class="sale-details">
										<h3 class="text-red" th:text="${#numbers.formatInteger(revenue,3,'COMMA')+' 원'}"></h3>
										<p><strong>수익</strong></p>
									</div>
								</div>
							</div>
							<div class="col-xxl-3 col-sm-6 col-12">
								<div class="stats-tile">
									<div class="sale-icon shade-blue">
										<i class="bi bi-emoji-smile"></i>
									</div>
									<div class="sale-details">
										<h3 class="text-blue" th:text="${memberCount} + '명'"></h3>
										<p><strong>회원</strong></p>
									</div>
								</div>
							</div>
							<div class="col-xxl-3 col-sm-6 col-12">
								<div class="stats-tile">
									<div class="sale-icon shade-yellow">
										<i class="bi bi-book"></i>
									</div>
									<div class="sale-details">
										<h3 class="text-yellow" th:text="${productCount} + '개'"></h3>
										<p><strong>도서</strong></p>
									</div>
								</div>
							</div>
							<div class="col-xxl-3 col-sm-6 col-12">
								<div class="stats-tile">
									<div class="sale-icon shade-green">
										<i class="bi bi-handbag"></i>
									</div>
									<div class="sale-details">
										<h3 class="text-green" th:text="${orderCount} + '건'"></h3>
										<p><strong>주문</strong></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

						<!-- Row start -->
						<div class="row chart">
							
							<div class="col-xxl-6  col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">이번년 주문</div>
									</div>
									<div class="card-body">
										<div id="basic-column-graph-datalables"></div>
									</div>
								</div>
							</div>

							<div class="col-xxl-3  col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">주문상태</div>
									</div>
									<div class="card-body">
										<div id="basic-pie-graph" class="auto-align-graph"></div>
									</div>
								</div>
							</div>
							<div class="col-xxl-3  col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">재고량</div>
									</div>
									<div class="card-body">
										<div class="scroll370">
											<div class="transactions-container">
												<div class="transaction-block">
													<div class="transaction-icon shade-blue">
														<i class="bi bi-credit-card"></i>
													</div>
													<div class="transaction-details">
														<h4>Visa Card</h4>
														<p class="text-truncate">Laptop Ordered</p>
													</div>
													<div class="transaction-amount text-blue">$1590</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-green">
														<i class="bi bi-paypal"></i>
													</div>
													<div class="transaction-details">
														<h4>Paypal</h4>
														<p class="text-truncate">Payment Received</p>
													</div>
													<div class="transaction-amount text-green">$310</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-blue">
														<i class="bi bi-pin-map"></i>
													</div>
													<div class="transaction-details">
														<h4>Travel</h4>
														<p class="text-truncate">Yosemite Trip</p>
													</div>
													<div class="transaction-amount text-blue">$4900</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-blue">
														<i class="bi bi-bag-check"></i>
													</div>
													<div class="transaction-details">
														<h4>Shopping</h4>
														<p class="text-truncate">Bill Paid</p>
													</div>
													<div class="transaction-amount text-blue">$285</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-green">
														<i class="bi bi-boxes"></i>
													</div>
													<div class="transaction-details">
														<h4>Bank</h4>
														<p class="text-truncate">Investment</p>
													</div>
													<div class="transaction-amount text-green">$150</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-green">
														<i class="bi bi-paypal"></i>
													</div>
													<div class="transaction-details">
														<h4>Paypal</h4>
														<p class="text-truncate">Amount Received</p>
													</div>
													<div class="transaction-amount text-green">$790</div>
												</div>
												<div class="transaction-block">
													<div class="transaction-icon shade-blue">
														<i class="bi bi-credit-card-2-front"></i>
													</div>
													<div class="transaction-details">
														<h4>Credit Card</h4>
														<p class="text-truncate">Online Shopping</p>
													</div>
													<div class="transaction-amount text-red">$280</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

						<!-- Row start -->
						<div class="row lastOrder">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">최근 주문</div>
									</div>
									<div class="card-body">

										<div class="table-responsive">
											<table class="table v-middle">
												<thead>
													<tr>
														<th>고객</th>
														<th>상품</th>
														<th>사용자 ID</th>
														<th>수량</th>
														<th>금액</th>
														<th>주문 일자</th>
														<th>주문 상태</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="orderList:${orderList}">
														<td>
															<div class="media-box">
																<!-- <img src="/xdm/v1/template/arise-v1.0/assets/images/user3.png" class="media-avatar" alt="Bootstrap Gallery"> -->
																<div class="media-box-body">
																	<div class="text-truncate" th:text="${orderList.name}"></div>
																</div>
															</div>
														</td>
														<td>
															<div class="media-box">
																<img th:src="${orderList.imgSrc}" class="media-avatar" th:alt="${orderList.title+ '이미지'}">
																<div class="media-box-body">
																	<span class="text-truncate" th:text="${orderList.title}"></span>
																</div>
															</div>
														</td>
														<td th:text="${orderList.userId}"></td>
														<td th:text="${orderList.uoQuantity}"></td>
														<td th:text="${#numbers.formatInteger(orderList.uoPrice,3,'COMMA')+'원'}"></td>
														<td th:text="${#dates.format(orderList.orderDate,'yyyy-MM-dd HH:mm:ss')}"></td>
														<td>
															<span class="badge min-90"
																th:classappend="${orderList.orderStatus == 56 ? 'shade-green' :
																				orderList.orderStatus == 57 ? 'shade-yellow' :
																				orderList.orderStatus == 14 ? 'shade-blue' :
																				orderList.orderStatus == 10 ? 'shade-primary' :
																				orderList.orderStatus == 19 ? 'shade-red' : ''}"
																th:text="${orderList.orderStatus == 56 ? '결제완료' :
																			orderList.orderStatus == 57 ? '준비중' :
																			orderList.orderStatus == 14 ? '배송중' :
																			orderList.orderStatus == 10 ? '배송완료' :
																			orderList.orderStatus == 19 ? '취소' : ''}">
															</span>
<!-- 
															<span class="badge shade-primary min-90">배송완료</span>
															<span class="badge shade-green min-90">결제완료</span>
															<span class="badge shade-yellow min-90">준비중</span>
															<span class="badge shade-blue min-90">배송중</span> -->
														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

						<!-- Row start -->
						
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Apex Charts -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/apex/apexcharts.min.js"></script>
		<!-- <script src="/xdm/v1/template/arise-v1.0/assets/vendor/apex/custom/sales/salesGraph.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/apex/custom/sales/revenueGraph.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/apex/custom/sales/taskGraph.js"></script> -->

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>
		<!-- by developer -->
		<script th:inline="javascript" type="text/javascript">
			var orderMonthCount = /*[[${orderMonthCount}]]*/[];
			var orderPaied = /*[[${orderPaied}]]*/[];
			var orderReady = /*[[${orderReady}]]*/[];
			var orderdTransit = /*[[${orderdTransit}]]*/[];
			var orderDelivered = /*[[${orderDelivered}]]*/[];
			var orderCanceled = /*[[${orderCanceled}]]*/[];
			console.log("inner orderMonthCount:",orderMonthCount);
		</script>
		<script src="/xdm/v1/js/commonXdm.js"></script>
		<script src="/xdm/v1/js/chart/column_chart.js"></script>
		<script src="/xdm/v1/js/chart/pie_chart.js"></script>
	</body>

</html>