<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/v1/template/arise-v1.0/assets/images/favicon.svg">

		<!-- Title -->
		<title>Bootstrap Admin Dashboards</title>


		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/fonts/bootstrap/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

		<!-- Main css -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->
		<!--<div style="background-color: red;"></div>-->
		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">
		<style>
			.form-label{
				margin-left: 10px;
			}
			.required .form-label::after{
				content: " *";
				color: red;
			}
			/* .card{
				border:1px;
			} */
		</style>
	</head>

	<body>

		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<div th:replace="~{xdm/v1/infra/include/head :: sidebar-wrapper}"></div>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div th:replace="~{xdm/v1/infra/include/head :: page-header}"></div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<div class="page-title">
							<div>
								<div class="pb-4">
									<!-- Breadcrumb start -->
									<!-- <ol class="breadcrumb d-md-flex order-md-1 order-2">
										<li class="breadcrumb-item">
											<i class="bi bi-house"></i>
											<a href="../../infra/index/indexXdmView">Home</a>
										</li>
										<li class="breadcrumb-item">Page</li>
										<li class="breadcrumb-item breadcrumb-active" aria-current="page">Form</li>
									</ol> -->
									<!-- Breadcrumb end -->
								</div>
								<div class="pb-4">
									<h2>코드</h2>
								</div>
							</div>
						</div>
						<!-- Row start -->
						<div class="row">
							<div class="col-sm-12 col-12">

								<!-- Card start -->
								<div class="card border">
									<div class="card-header border-bottom">
										<div class="card-title">기본정보</div>
									</div>
									<div class="card-body">
										<form class="needs-validation" method="post" autocomplete="off" action="/v1/infra/code/codeXdmInst" novalidate>
											<!-- Row start -->
											<div class="row">
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputCodeGroup" class="form-label">코드그룹</label>
														<select class="form-select validate-this" id="inputCodeGroup" name="codeGroup_seq" required>
															<option value="" selected disabled>선택하세요</option>
															<option th:each="group : ${codeGroups}" th:value="${group.seq}" th:text="${group.codeGroupName}"></option>
														</select>
														<div class="invalid-feedback">
															코드그룹을 선택해주세요.
														</div>
													</div>
												</div>
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputName" class="form-label">코드</label>
														<input type="text" class="form-control" id="inputName" placeholder="자동생성" readonly="readonly">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputCodeName" class="form-label">코드이름</label>
														<input type="text" class="valid-korean-alpha-num form-control validate-this" id="inputCodeName" name="codeName" placeholder="한글, 영대소문자, 숫자" required>
														<div class="invalid-feedback">
															코드이름을 적어주세요.
														</div>
													</div>
												</div>
												<!-- <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputEngName" class="form-label">코드이름 (영문)</label>
														<input type="text" class="form-control" id="inputEngName" placeholder="영대소문자, 숫자">
													</div>
												</div> -->
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">	
														<label for="inputUseNy" class="form-label">사용여부</label>
														<select class="form-select validate-this" id="inputUseNy" name="useNy" required>
															<option value="" selected disabled>선택하세요</option>
															<option value="1">사용</option>
															<option value="0">사용안함</option>
														</select>
														<div class="invalid-feedback">
															사용여부을 선택해주세요.
														</div>
													</div>
												</div>
												<div class="required col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputCodeOrder" class="form-label">순서</label>
														<input type="text" class="form-control valid-numeric validate-this" id="inputCodeOrder" name="codeOrder" placeholder="숫자만" required>
														<div class="invalid-feedback">
															순서를 적어주세요.
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xl-6 col-md-8 col-12">
													<div class="mb-3">
														<label for="inputCodeDesc" class="form-label">설명</label>
														<textarea class="form-control exclude-validation" id="inputCodeDesc" name="codeDesc" placeholder="" rows="3"></textarea>
													</div>
												</div>
											</div>
											<!-- <div class="row">
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual1" class="form-label">다국어1</label>
														<input type="text" class="form-control" id="inputmultilingual1">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual2" class="form-label">다국어2</label>
														<input type="text" class="form-control" id="inputmultilingual2">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual3" class="form-label">다국어3</label>
														<input type="text" class="form-control" id="inputmultilingual3">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual4" class="form-label">다국어4</label>
														<input type="text" class="form-control" id="inputmultilingual4">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual5" class="form-label">다국어5</label>
														<input type="text" class="form-control" id="inputmultilingual5">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual6" class="form-label">다국어6</label>
														<input type="text" class="form-control" id="inputmultilingual6">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual7" class="form-label">다국어7</label>
														<input type="text" class="form-control" id="inputmultilingual7">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputmultilingual8" class="form-label">다국어8</label>
														<input type="text" class="form-control" id="inputmultilingual8">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary1" class="form-label">예비 (VARCHAR TYPE)1</label>
														<input type="text" class="form-control" id="inputpreliminary1">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary2" class="form-label">예비 (VARCHAR TYPE)2</label>
														<input type="text" class="form-control" id="inputpreliminary2">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary3" class="form-label">예비 (VARCHAR TYPE)3</label>
														<input type="text" class="form-control" id="inputpreliminary3">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary4" class="form-label">예비 (VARCHAR TYPE)4</label>
														<input type="text" class="form-control" id="inputpreliminary4">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary5" class="form-label">예비 (INT TYPE)1</label>
														<input type="text" class="form-control" id="inputpreliminary5">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary6" class="form-label">예비 (INT TYPE)2</label>
														<input type="text" class="form-control" id="inputpreliminary6">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary7" class="form-label">예비 (INT TYPE)3</label>
														<input type="text" class="form-control" id="inputpreliminary7">
													</div>
												</div>
												<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
													<div class="mb-3">
														<label for="inputpreliminary8" class="form-label">예비 (INT TYPE)4</label>
														<input type="text" class="form-control" id="inputpreliminary8">
													</div>
												</div>
											</div> -->
											<!-- Row end -->
											<!-- Form actions footer start -->
											<div class="form-actions-footer justify-content-between bg-white">
												<a class="btn btn-outline-dark" type="button" href="codeXdmList"><i class="bi bi-list-ul"></i></a>
												<button type="button" id="btnSubmit" class="btn btn-info" ><i class="bi bi-database"></i></button>
											</div>
											<!-- Form actions footer end -->
										</form>
										

									</div>
								</div>
								<!-- Card end -->

							</div>

						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Arise admin 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/jquery.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/modernizr.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Main Js Required -->
		<script src="/xdm/v1/template/arise-v1.0/assets/js/main.js"></script>
		<script src="/xdm/v1/template/arise-v1.0/assets/js/validations.js"></script>
		<script>
			
			// const form = document.querySelector("form");
       		// const formUrl = form.action;
			// document.getElementById("btnSubmit").onclick = function (){
			// 	var objs = document.querySelectorAll(".validate-this");
			// 	var i= 0;
			// 	var validateChk = false;
			// 	for(let element of objs){
			// 		var objValue = element.value.trim();
			// 		if (objValue == "" || objValue == null) {
			// 			const feedback = element.parentElement.querySelector(".invalid-feedback");
			// 			var waring = feedback.textContent.trim();
			// 			alert(waring);
			// 			if(i==0){
			// 				element.focus();
			// 			}
			// 			i++;
			// 			validateChk = false;
			// 			element.classList.add('is-invalid');
			// 		} else {
			// // 			by pass
			// 			validateChk = true;
			// 			element.classList.remove('is-invalid');
			// 			element.classList.add('is-valid');
			// 		}
			// 		// if (!element.checkValidity()) {
			// 		// 	allValid = false;
			// 		// 	element.classList.add('is-invalid');
			// 		// } else {
			// 		// 	element.classList.remove('is-invalid');
			// 		// 	element.classList.add('is-valid');
			// 		// }
			// 	};
			// 	if(validateChk == false){
			// 		alert("검사실패");
			// 		return false;
			// 	}
			// 	alert("통과!");
			// 	form.action = formUrl;
			// 	form.submit();

		//		var ifcgName = document.getElementById("inputCodeName");
		// 		var ifcgNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]+$/;
		//		var ifcgNameValue = document.getElementById("inputCodeName").value.trim();
		// 		if (ifcgNameValue == "" || ifcgNameValue == null) {
		// 			alert("이름을 입력해 주세요");
		// 			ifcgName.focus();
		//			ifcgName.classList.remove('is-invalid');
		// 			return false;
		// 		} else {
		// // 		if(!ifcgNameRegExp.test(ifcgNameValue)){
			// 			alert("이름은 한국, 영대소문자, 숮자만 입력해 주세요");
			// 			ifcgName.focus();
			// 			return false;
						// ifcgName.classList.remove('is-invalid');
						// ifcgName.classList.add('is-valid');
			// 		} else {
			// 			//by pass
			// 		}
		// 		}
		// 		
				
		// 		var ifcgNameEng = document.getElementById("ifcgNameEng");
		// 		var ifcgNameEngValue = document.getElementById("ifcgNameEng").value.trim();
				
		// 		if (ifcgNameEngValue == "" || ifcgNameEngValue == null) {
		// 			alert("이름(영문을)을 입력해 주세요");
		// 			ifcgNameEng.focus();
		// 			return false;
		// 		} else {
		// // 			by pass
		// 		}
				
		// 		var ifcgUseNy = document.getElementById("ifcgUseNy");
		// 		var ifcgUseNyValue = document.getElementById("ifcgUseNy").value.trim();

		// 		if (ifcgUseNyValue == "" || ifcgUseNyValue == null) {
		// 			alert("사용여부를 선택해 주세요");
		// 			ifcgUseNy.focus();
		// 			return false;
		// 		} else {
		// // 			by pass
		// 		}
			// }
		</script>
		<!-- by developer -->
		<script src="/xdm/v1/js/commonXdm.js"></script>
	</body>

</html>